Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, oxlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Ruff hooks mirror CI (.github/workflows/ci.yml): ruff check + ruff format --check
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      # Same as CI: uv run ruff check .
      - id: ruff-check
        args: [--fix]
      # Same as CI: uv run ruff format --check .
      - id: ruff-format
        args: [--check]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.21.0]
        args: ["--config", ".markdownlint.yml"]
        types: [markdown]
        exclude: ^docs/plans/
      - id: complexipy
        name: complexipy
        entry: bash -lc "uv run complexipy . --max-complexity-allowed 999"
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run pyright ."
        language: system
        pass_filenames: false
      - id: oxlint
        name: oxlint + React Doctor (ui)
        entry: bash -lc "cd ui && (test -d node_modules || npm install) && npx oxlint . --react-plugin && node scripts/check-react-doctor.mjs"
        language: system
        pass_filenames: false
        files: ^ui/

Add markdownlint to CI and pre-commit (#105)
  .github/workflows/ci.yml
  .markdownlint.yml
  .pre-commit-config.yaml
  docs/runbooks/HOW_TO_CREATE_NEW_FEED_RANKING_ALGORITHM.md
  docs/runbooks/LOCAL_DEV_AUTH.md
  docs/runbooks/RAILWAY_DEPLOYMENT.md
  docs/runbooks/UI_DEPLOYMENT.md
  simulation/README.md
  tests/README.md
Due: markdownlint

[2026-02-21] Codex repo automation - Feature ideas scan
  docs/feature_ideas/2026-02-21_feature_ideas.md
Due: markdownlint

fix deduping posts
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
Due: none

Add possible KeyError
  simulation/core/action_generators/utils/llm_utils.py
Due: none

deduplicate posts
  simulation/core/action_generators/like/algorithms/naive_llm/algorithm.py
Due: none

Create default LLM-based algos for like/comment/follow actions (#83)
  docs/plans/2026-02-18_naive_llm_action_generators_887eadcb/plan.md
  simulation/core/action_generators/comment/algorithms/naive_llm/README.md
  simulation/core/action_generators/comment/algorithms/naive_llm/__init__.py
  simulation/core/action_generators/comment/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/comment/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/comment/algorithms/naive_llm/prompt.py
  simulation/core/action_generators/comment/algorithms/naive_llm/response_models.py
  simulation/core/action_generators/follow/algorithms/naive_llm/README.md
  simulation/core/action_generators/follow/algorithms/naive_llm/__init__.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/naive_llm/prompt.py
  simulation/core/action_generators/follow/algorithms/naive_llm/response_models.py
  simulation/core/action_generators/like/algorithms/naive_llm/README.md
  simulation/core/action_generators/like/algorithms/naive_llm/__init__.py
  simulation/core/action_generators/like/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/like/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/like/algorithms/naive_llm/prompt.py
  simulation/core/action_generators/like/algorithms/naive_llm/response_models.py
  simulation/core/action_generators/registry.py
  simulation/core/action_generators/utils/__init__.py
  simulation/core/action_generators/utils/llm_utils.py
  simulation/core/action_generators/validators.py
  tests/simulation/core/test_action_generators_registry.py
  tests/simulation/core/test_naive_llm_action_generators.py
Due: markdownlint

Remove deprecated simulation CLI entrypoint
  docs/plans/2026-02-19_feed_algorithms_unit1_backend_8b6b27/feed_algorithms_backend_refactor_8b6b27b2.plan.md
  simulation/README.md
  simulation/main.py
Due: markdownlint

Remove deprecated simulation CLI entrypoint (#107)
  docs/plans/2026-02-19_feed_algorithms_unit1_backend_8b6b27/feed_algorithms_backend_refactor_8b6b27b2.plan.md
  simulation/README.md
  simulation/main.py
Due: markdownlint

Hotfix: fix RunConfig typing for UI builds
  ui/components/details/DetailsPanel.tsx
  ui/lib/run-selectors.ts
Due: oxlint

Hotfix: fix RunConfig typing for UI builds (#108)
  ui/components/details/DetailsPanel.tsx
  ui/lib/run-selectors.ts
Due: oxlint

Hotfix: guard Supabase OAuth when env unset
  ui/app/auth/callback/page.tsx
  ui/components/auth/SignIn.tsx
  ui/contexts/AuthContext.tsx
  ui/lib/supabase.ts
Due: oxlint

Hotfix: prevent Supabase OAuth redirect when env unset (#109)
  ui/app/auth/callback/page.tsx
  ui/components/auth/SignIn.tsx
  ui/contexts/AuthContext.tsx
  ui/lib/supabase.ts
Due: oxlint

Add app-level tab navigation
  ui/components/layout/AppTabs.tsx
  ui/components/layout/SimulationLayout.tsx
Due: oxlint

Add dummy PDF upload page
  ui/app/pdf-upload/page.tsx
  ui/components/pdf/PdfUploadCard.tsx
Due: oxlint

Fix tests to use expected_result variable
  tests/simulation/core/test_action_generators_registry.py
  tests/simulation/core/test_naive_llm_action_generators.py
Due: none

update models
  simulation/core/models/agent.py
  simulation/core/models/agent_bio.py
Due: none

use validation decorator
  db/repositories/user_agent_profile_metadata_repository.py
  simulation/core/validators.py
Due: none

use validation decorator
  db/repositories/agent_bio_repository.py
  db/repositories/agent_repository.py
Due: none

Migrate to new `Agent` persona model (#91)
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/agent_adapter.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/db.sqlite
  db/migrations/versions/d0a1b2c3d4e5_create_agent_tables.py
  db/repositories/__init__.py
  db/repositories/agent_bio_repository.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  db/schema.py
  docs/plans/2026-02-19_user_created_agents_migration_246801/user-created_agents_migration_d0532522.plan.md
  jobs/migrate_agents_to_new_schema.py
  simulation/core/models/agent.py
  simulation/core/models/agent_bio.py
  simulation/core/models/user_agent_profile_metadata.py
  simulation/core/validators.py
  tests/db/repositories/test_agent_bio_repository_integration.py
  tests/db/repositories/test_agent_repository_integration.py
  tests/db/repositories/test_user_agent_profile_metadata_repository_integration.py
  tests/jobs/__init__.py
  tests/jobs/test_migrate_agents_to_new_schema.py
Due: none

test: consolidate fixtures
  tests/conftest.py
  tests/db/adapters/sqlite/conftest.py
  tests/db/adapters/sqlite/test_feed_post_adapter.py
  tests/db/adapters/sqlite/test_generated_bio_adapter.py
  tests/db/adapters/sqlite/test_generated_feed_adapter.py
  tests/db/adapters/sqlite/test_profile_adapter.py
  tests/db/adapters/sqlite/test_run_adapter.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/db/repositories/test_generated_bio_repository_integration.py
  tests/db/repositories/test_generated_feed_repository_integration.py
  tests/db/repositories/test_metrics_repository_integration.py
  tests/db/repositories/test_profile_repository_integration.py
  tests/db/repositories/test_run_repository_integration.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_query_service.py
Due: none

Create View Agents mode
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/README.md
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/view_agents_mode.png
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/view_runs_toggle.png
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/before/README.md
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/before/sign_in.png
  ui/app/page.tsx
  ui/components/agents/AgentsView.tsx
  ui/components/sidebars/RunHistorySidebar.tsx
  ui/hooks/useSimulationPageState.ts
Due: oxlint

update images + docs
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/README.md
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/view_agents_agent_detail.png
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/view_agents_mode.png
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/view_runs_toggle.png
Due: none

add planning docs
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/view_agents_feature_32a5c45b.plan.md
Due: none

Create View Agents mode (#113)
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/README.md
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/view_agents_agent_detail.png
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/view_agents_mode.png
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/view_runs_toggle.png
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/before/README.md
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/before/sign_in.png
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/view_agents_feature_32a5c45b.plan.md
  ui/app/page.tsx
  ui/components/agents/AgentsView.tsx
  ui/components/sidebars/RunHistorySidebar.tsx
  ui/hooks/useSimulationPageState.ts
Due: oxlint

test: consolidate fixtures (#112)
  tests/conftest.py
  tests/db/adapters/sqlite/conftest.py
  tests/db/adapters/sqlite/test_feed_post_adapter.py
  tests/db/adapters/sqlite/test_generated_bio_adapter.py
  tests/db/adapters/sqlite/test_generated_feed_adapter.py
  tests/db/adapters/sqlite/test_profile_adapter.py
  tests/db/adapters/sqlite/test_run_adapter.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/db/repositories/test_generated_bio_repository_integration.py
  tests/db/repositories/test_generated_feed_repository_integration.py
  tests/db/repositories/test_metrics_repository_integration.py
  tests/db/repositories/test_profile_repository_integration.py
  tests/db/repositories/test_run_repository_integration.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_query_service.py
Due: none

Create start-screen-view component
  docs/plans/2026-02-23_extract_start_screen_view_a1b2c3/images/after/start_screen_success.png
  docs/plans/2026-02-23_extract_start_screen_view_a1b2c3/images/before/start_screen_success.png
  ui/app/page.tsx
  ui/components/start/StartScreenView.tsx
Due: oxlint

Create start-screen-view component (#114)
  docs/plans/2026-02-23_extract_start_screen_view_a1b2c3/images/after/start_screen_success.png
  docs/plans/2026-02-23_extract_start_screen_view_a1b2c3/images/before/start_screen_success.png
  ui/app/page.tsx
  ui/components/start/StartScreenView.tsx
Due: oxlint

Add root AGENTS.md
  AGENTS.md
Due: markdownlint

Fix tests to use expected_result variable (#111)
  tests/simulation/core/test_action_generators_registry.py
  tests/simulation/core/test_naive_llm_action_generators.py
Due: none

Add root AGENTS.md (#115)
  AGENTS.md
Due: markdownlint

UI: Create a 'create-agents' view
  docs/plans/2026-02-23_create_agent_tab_741a962a/images/after/create_agent_form.png
  docs/plans/2026-02-23_create_agent_tab_741a962a/images/after/create_agent_form_expanded.png
  docs/plans/2026-02-23_create_agent_tab_741a962a/images/before/production_before.png
  ui/app/page.tsx
  ui/components/agents/CreateAgentView.tsx
  ui/components/sidebars/RunHistorySidebar.tsx
  ui/hooks/useSimulationPageState.ts
Due: oxlint

add docs
  docs/plans/2026-02-23_create_agent_tab_741a962a/create_agent_tab_741a962a.plan.md
Due: none

add retries
  ui/app/page.tsx
  ui/components/agents/CreateAgentView.tsx
Due: oxlint

add stable ID identifier
  ui/components/agents/CreateAgentView.tsx
Due: oxlint

UI: Create a 'create-agents' view (#116)
  docs/plans/2026-02-23_create_agent_tab_741a962a/create_agent_tab_741a962a.plan.md
  docs/plans/2026-02-23_create_agent_tab_741a962a/images/after/create_agent_form.png
  docs/plans/2026-02-23_create_agent_tab_741a962a/images/after/create_agent_form_expanded.png
  docs/plans/2026-02-23_create_agent_tab_741a962a/images/before/production_before.png
  ui/app/page.tsx
  ui/components/agents/CreateAgentView.tsx
  ui/components/sidebars/RunHistorySidebar.tsx
  ui/hooks/useSimulationPageState.ts
Due: oxlint

Fix markdownlint issues
  docs/feature_ideas/2026-02-21_feature_ideas.md
Due: markdownlint

[2026-02-21] Codex repo automation - Feature ideas scan (#106)
  docs/feature_ideas/2026-02-21_feature_ideas.md
Due: markdownlint

Create the 'create-agents' backend
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/repositories/agent_bio_repository.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  simulation/api/services/agent_command_service.py
  simulation/api/services/agent_query_service.py
  simulation/core/exceptions.py
  simulation/core/handle_utils.py
  tests/api/test_simulation_agents.py
  ui/app/page.tsx
  ui/components/agents/CreateAgentView.tsx
  ui/hooks/useSimulationPageState.ts
  ui/lib/api/simulation.ts
Due: oxlint

Show post previews for comment actions
  ui/components/details/AgentDetail.tsx
  ui/components/details/DetailsPanel.tsx
Due: oxlint

update plan
  docs/plans/agents_backend_and_view_integration_0b63a071.plan.md
Due: none
