Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, docs-metadata, oxlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Ruff hooks mirror CI (.github/workflows/ci.yml): ruff check + ruff format --check
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      # Same as CI: uv run ruff check .
      - id: ruff-check
        args: [--fix]
      # Same as CI: uv run ruff format --check .
      - id: ruff-format
        args: [--check]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.21.0]
        args: ["--config", ".markdownlint.yml"]
        types: [markdown]
        exclude: ^docs/plans/
      - id: docs-metadata
        name: docs metadata
        entry: bash -lc "uv run python scripts/check_docs_metadata.py"
        language: system
        pass_filenames: true
        files: ^docs/(runbooks|plans)/.*\.md$
      - id: db-schema-docs-check
        name: db schema docs (check latest)
        entry: bash -lc "uv run python scripts/generate_db_schema_docs.py --check"
        language: system
        pass_filenames: false
      - id: db-schema-drift
        name: db schema drift (migrations vs metadata)
        entry: bash -lc "uv run python scripts/check_db_schema_drift.py"
        language: system
        pass_filenames: false
      - id: complexipy
        name: complexipy
        entry: bash -lc "uv run --extra test complexipy . --max-complexity-allowed 999"
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test pyright ."
        language: system
        pass_filenames: false
      - id: python_lint_import_dependency_boundaries
        name: python_lint_import_dependency_boundaries
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test lint-imports --config pyproject.toml"
        language: system
        pass_filenames: false
      - id: python_dependency_injection_guard
        name: python_dependency_injection_guard (PY-2,3,5,6,7,8,9,10,12)
        entry: bash -lc "set -euo pipefail; root=$(git rev-parse --show-toplevel); cd \"$root\"; uv tool run semgrep --config lint/semgrep --error; PYTHONPATH=\"$root\" uv run --extra test python scripts/lint_architecture.py"
        language: system
        pass_filenames: false
      - id: oxlint
        name: eslint (custom rules) + oxlint (ui)
        entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
        language: system
        pass_filenames: false
        files: ^ui/

use P and R ParamSpec for strenghtening type checking
  ml_tooling/verification/helpers.py
Due: none

wip: planning
  strategy_planning/2026-03-26_v2_execution_system_design/plan.md
Due: markdownlint

Refactor ml testing helper functions (#304)
  ml_tooling/emotion/classifier.py
  ml_tooling/emotion/constants.py
  ml_tooling/emotion/examples_test.py
  ml_tooling/ner/examples_test.py
  ml_tooling/polarity/examples_test.py
  ml_tooling/verification/helpers.py
Due: none

planning docs
  strategy_planning/2026-03-26_v2_execution_system_design/plan.md
Due: markdownlint

update notes
  strategy_planning/2026-03-25_v2_ml_api_draft/draft.md
  strategy_planning/2026-03-26_v2_execution_system_design/example_flows.md
Due: markdownlint

wip: create engine
  simulation_v2/main.py
  simulation_v2/seed_data.py
  simulation_v2/simulate_run.py
  simulation_v2/simulate_turn.py
Due: none

wip: create engine
  simulation_v2/load_seed_data.py
  simulation_v2/main.py
  simulation_v2/models/seed_data.py
  simulation_v2/seed_data.py
Due: none

wip: create engine
  simulation_v2/agent.py
  simulation_v2/main.py
  simulation_v2/models/turn.py
  simulation_v2/simulate_run.py
  simulation_v2/simulate_turn.py
Due: none

wip: do agentic actions
  simulation_v2/agent.py
Due: none

wip: implement agentic actions
  simulation_v2/agent.py
  simulation_v2/agents/actions.py
  simulation_v2/agents/experiment_agents.py
  simulation_v2/agents/llm.py
  simulation_v2/agents/prompts.py
  simulation_v2/models/actions.py
  simulation_v2/simulate_turn.py
Due: none

refactor agent actions
  pyproject.toml
  simulation_v2/agent.py
  simulation_v2/agents/actions.py
  simulation_v2/agents/constants.py
  simulation_v2/agents/experiment_agents.py
  simulation_v2/agents/validators.py
  simulation_v2/simulate_turn.py
Due: none

Add Opik telemetry and progress logging to simulation_v2.
  docs/plans/2026-05-24_simulation_v2_opik_telemetry_847293/plan.md
  pyproject.toml
  simulation_v2/agents/actions.py
  simulation_v2/agents/experiment_agents.py
  simulation_v2/agents/llm.py
  simulation_v2/load_seed_data.py
  simulation_v2/logging_config.py
  simulation_v2/main.py
  simulation_v2/models/telemetry.py
  simulation_v2/simulate_run.py
  simulation_v2/simulate_turn.py
  simulation_v2/telemetry/__init__.py
  simulation_v2/telemetry/context.py
  simulation_v2/telemetry/llm_callback.py
  simulation_v2/telemetry/llm_collector.py
  simulation_v2/telemetry/opik.py
  simulation_v2/telemetry/simulation_metrics.py
  tests/simulation_v2/telemetry/test_llm_collector.py
  tests/simulation_v2/telemetry/test_simulation_metrics.py
Due: docs-metadata

Add Opik telemetry to simulation_v2 (#309)
  docs/plans/2026-05-24_simulation_v2_opik_telemetry_847293/plan.md
  pyproject.toml
  simulation_v2/agent.py
  simulation_v2/agents/actions.py
  simulation_v2/agents/constants.py
  simulation_v2/agents/experiment_agents.py
  simulation_v2/agents/llm.py
  simulation_v2/agents/prompts.py
  simulation_v2/agents/validators.py
  simulation_v2/load_seed_data.py
  simulation_v2/logging_config.py
  simulation_v2/main.py
  simulation_v2/models/actions.py
  simulation_v2/models/telemetry.py
  simulation_v2/simulate_run.py
  simulation_v2/simulate_turn.py
  simulation_v2/telemetry/__init__.py
  simulation_v2/telemetry/context.py
  simulation_v2/telemetry/llm_callback.py
  simulation_v2/telemetry/llm_collector.py
  simulation_v2/telemetry/opik.py
  simulation_v2/telemetry/simulation_metrics.py
  tests/simulation_v2/telemetry/test_llm_collector.py
  tests/simulation_v2/telemetry/test_simulation_metrics.py
Due: docs-metadata

Add memory modules
  simulation_v2/agents/actions.py
  simulation_v2/agents/memory/README.md
  simulation_v2/agents/memory/episodic/main.py
  simulation_v2/agents/memory/main.py
  simulation_v2/agents/memory/profile/main.py
  simulation_v2/agents/memory/social_relationship/main.py
  simulation_v2/agents/prompts.py
  simulation_v2/simulate_turn.py
Due: markdownlint

Add memory modules
  simulation_v2/agents/memory/episodic/main.py
  simulation_v2/agents/memory/main.py
  simulation_v2/agents/memory/profile/main.py
  simulation_v2/agents/memory/social_relationship/main.py
  simulation_v2/seed_data.py
Due: none

add basic evals
  simulation_v2/agents/evals/relevant_evals.md
Due: markdownlint

Add agent memories (#310)
  simulation_v2/agents/actions.py
  simulation_v2/agents/evals/relevant_evals.md
  simulation_v2/agents/memory/README.md
  simulation_v2/agents/memory/episodic/main.py
  simulation_v2/agents/memory/main.py
  simulation_v2/agents/memory/profile/main.py
  simulation_v2/agents/memory/social_relationship/main.py
  simulation_v2/agents/prompts.py
  simulation_v2/seed_data.py
  simulation_v2/simulate_turn.py
Due: markdownlint

Fix CI Ruff failures for simulation_v2 seed data and memory stubs.
  pyproject.toml
  simulation_v2/agents/memory/episodic/main.py
  simulation_v2/agents/memory/profile/main.py
  simulation_v2/agents/memory/social_relationship/main.py
Due: none

wip: notes
  PROPOSAL.md
  architecture.md
Due: markdownlint

Add simulation_v2 local config and utility baseline (PR1).
  simulation_v2/config.py
  simulation_v2/ids.py
  simulation_v2/main.py
  simulation_v2/time.py
  tests/simulation_v2/test_config.py
  tests/simulation_v2/test_ids.py
  tests/simulation_v2/test_time.py
Due: none

comment out currently failing CI + pre-commit hooks - we will add back later
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

comment out currently failing CI + pre-commit hooks - we will add back later
  .github/workflows/ci-e2e.yml
Due: none

Add simulation_v2 local config and utility baseline (PR1) (#312)
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  simulation_v2/config.py
  simulation_v2/ids.py
  simulation_v2/main.py
  simulation_v2/time.py
  tests/simulation_v2/test_config.py
  tests/simulation_v2/test_ids.py
  tests/simulation_v2/test_time.py
Due: none

wip: notes (#311)
  PROPOSAL.md
  architecture.md
Due: markdownlint

Add simulation_v2 SQLite persistence layer (PR2).
  docs/plans/2026-05-26_simulation_v2_pr2_sqlite_db_847291/contracts.md
  simulation_v2/db/__init__.py
  simulation_v2/db/connection.py
  simulation_v2/db/database.py
  simulation_v2/db/models/__init__.py
  simulation_v2/db/models/actions.py
  simulation_v2/db/models/comments.py
  simulation_v2/db/models/evals.py
  simulation_v2/db/models/feeds.py
  simulation_v2/db/models/follows.py
  simulation_v2/db/models/likes.py
  simulation_v2/db/models/memory.py
  simulation_v2/db/models/posts.py
  simulation_v2/db/models/runs.py
  simulation_v2/db/models/users.py
  simulation_v2/db/repositories.py
  simulation_v2/db/schema.py
  simulation_v2/ids.py
  tests/simulation_v2/db/factories.py
  tests/simulation_v2/db/test_factories.py
  tests/simulation_v2/db/test_models_actions.py
  tests/simulation_v2/db/test_models_evals.py
  tests/simulation_v2/db/test_models_feeds.py
  tests/simulation_v2/db/test_models_memory.py
  tests/simulation_v2/db/test_models_runs.py
  tests/simulation_v2/db/test_models_social.py
  tests/simulation_v2/db/test_repositories_constraints.py
  tests/simulation_v2/db/test_schema.py
  tests/simulation_v2/test_ids.py
Due: docs-metadata

update failing CI + remove AGENTS.md (stale)
  .github/workflows/ci.yml
  AGENTS.md
Due: markdownlint

Remove action_noise from RejectionStage and proposal docs.
  PROPOSAL.md
  docs/plans/2026-05-26_simulation_v2_pr2_sqlite_db_847291/contracts.md
  simulation_v2/db/models/actions.py
Due: markdownlint, docs-metadata

Add simulation_v2 SQLite persistence layer (PR2) (#313)
  .github/workflows/ci.yml
  AGENTS.md
  PROPOSAL.md
  docs/plans/2026-05-26_simulation_v2_pr2_sqlite_db_847291/contracts.md
  simulation_v2/db/__init__.py
  simulation_v2/db/connection.py
  simulation_v2/db/database.py
  simulation_v2/db/models/__init__.py
  simulation_v2/db/models/actions.py
  simulation_v2/db/models/comments.py
  simulation_v2/db/models/evals.py
  simulation_v2/db/models/feeds.py
  simulation_v2/db/models/follows.py
  simulation_v2/db/models/likes.py
  simulation_v2/db/models/memory.py
  simulation_v2/db/models/posts.py
  simulation_v2/db/models/runs.py
  simulation_v2/db/models/users.py
  simulation_v2/db/repositories.py
  simulation_v2/db/schema.py
  simulation_v2/ids.py
  tests/simulation_v2/db/factories.py
  tests/simulation_v2/db/test_factories.py
  tests/simulation_v2/db/test_models_actions.py
  tests/simulation_v2/db/test_models_evals.py
  tests/simulation_v2/db/test_models_feeds.py
  tests/simulation_v2/db/test_models_memory.py
  tests/simulation_v2/db/test_models_runs.py
  tests/simulation_v2/db/test_models_social.py
  tests/simulation_v2/db/test_repositories_constraints.py
  tests/simulation_v2/db/test_schema.py
  tests/simulation_v2/test_ids.py
Due: markdownlint, docs-metadata

Add run/turn status persistence for simulation_v2 (PR3)
  docs/plans/2026-05-26_simulation_v2_pr3_run_turn_status_847292/contracts.md
  simulation_v2/agents/actions.py
  simulation_v2/db/errors.py
  simulation_v2/db/repositories.py
  simulation_v2/feeds.py
  simulation_v2/main.py
  simulation_v2/simulate_run.py
  simulation_v2/simulate_turn.py
  tests/simulation_v2/db/test_run_turn_status.py
Due: docs-metadata

Centralize simulation_v2 progress bars in lib/decorators
  simulation_v2/agents/actions.py
  simulation_v2/feeds.py
  simulation_v2/lib/__init__.py
  simulation_v2/lib/decorators.py
  simulation_v2/main.py
  simulation_v2/simulate_run.py
  simulation_v2/simulate_turn.py
  tests/simulation_v2/conftest.py
  tests/test_simulation_v2_progress_decorators.py
Due: none

Preserve terminal timestamps on idempotent status retries
  simulation_v2/db/repositories.py
  tests/simulation_v2/db/test_run_turn_status.py
Due: none

Add run/turn status persistence for simulation_v2 (PR3) (#314)
  docs/plans/2026-05-26_simulation_v2_pr3_run_turn_status_847292/contracts.md
  simulation_v2/agents/actions.py
  simulation_v2/db/errors.py
  simulation_v2/db/repositories.py
  simulation_v2/feeds.py
  simulation_v2/lib/__init__.py
  simulation_v2/lib/decorators.py
  simulation_v2/main.py
  simulation_v2/simulate_run.py
  simulation_v2/simulate_turn.py
  tests/simulation_v2/conftest.py
  tests/simulation_v2/db/test_run_turn_status.py
  tests/test_simulation_v2_progress_decorators.py
Due: docs-metadata

Add local control plane and worker for simulation_v2 (PR4)
  docs/plans/2026-05-26_simulation_v2_pr4_control_plane_847293/contracts.md
  simulation_v2/control_plane/__init__.py
  simulation_v2/control_plane/dispatcher.py
  simulation_v2/control_plane/service.py
  simulation_v2/main.py
  simulation_v2/worker/__init__.py
  simulation_v2/worker/errors.py
  simulation_v2/worker/models.py
  simulation_v2/worker/service.py
  tests/simulation_v2/test_control_plane_dispatch.py
  tests/simulation_v2/test_control_plane_service.py
  tests/simulation_v2/test_worker_service.py
Due: docs-metadata

Extract _run_single_turn from worker turn loop
  simulation_v2/worker/service.py
Due: none

Add local control plane and worker for simulation_v2 (PR4) (#315)
  docs/plans/2026-05-26_simulation_v2_pr4_control_plane_847293/contracts.md
  simulation_v2/control_plane/__init__.py
  simulation_v2/control_plane/dispatcher.py
  simulation_v2/control_plane/service.py
  simulation_v2/main.py
  simulation_v2/worker/__init__.py
  simulation_v2/worker/errors.py
  simulation_v2/worker/models.py
  simulation_v2/worker/service.py
  tests/simulation_v2/test_control_plane_dispatch.py
  tests/simulation_v2/test_control_plane_service.py
  tests/simulation_v2/test_worker_service.py
Due: docs-metadata

Add seed import to SQLite before simulation_v2 turn loop (PR5).
  docs/plans/2026-05-26_simulation_v2_pr5_seed_import_847294/contracts.md
  pyproject.toml
  simulation_v2/db/repositories.py
  simulation_v2/main.py
  simulation_v2/seed/__init__.py
  simulation_v2/seed/cache.py
  simulation_v2/seed/generator.py
  simulation_v2/seed/loader.py
  simulation_v2/seed/models.py
  simulation_v2/seed_data.py
  simulation_v2/worker/service.py
  tests/simulation_v2/seed/test_loader.py
  tests/simulation_v2/test_worker_service.py
Due: docs-metadata
