Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, docs-metadata, oxlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Ruff hooks mirror CI (.github/workflows/ci.yml): ruff check + ruff format --check
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      # Same as CI: uv run ruff check .
      - id: ruff-check
        args: [--fix]
      # Same as CI: uv run ruff format --check .
      - id: ruff-format
        args: [--check]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.21.0]
        args: ["--config", ".markdownlint.yml"]
        types: [markdown]
        exclude: ^docs/plans/
      - id: docs-metadata
        name: docs metadata
        entry: bash -lc "uv run python scripts/check_docs_metadata.py"
        language: system
        pass_filenames: true
        files: ^docs/(runbooks|plans)/.*\.md$
      - id: db-schema-docs-check
        name: db schema docs (check latest)
        entry: bash -lc "uv run python scripts/generate_db_schema_docs.py --check"
        language: system
        pass_filenames: false
      - id: db-schema-drift
        name: db schema drift (migrations vs metadata)
        entry: bash -lc "uv run python scripts/check_db_schema_drift.py"
        language: system
        pass_filenames: false
      - id: complexipy
        name: complexipy
        entry: bash -lc "uv run --extra test complexipy . --max-complexity-allowed 999"
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test pyright ."
        language: system
        pass_filenames: false
      - id: python_lint_import_dependency_boundaries
        name: python_lint_import_dependency_boundaries
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test lint-imports --config pyproject.toml"
        language: system
        pass_filenames: false
      - id: python_dependency_injection_guard
        name: python_dependency_injection_guard (PY-2,3,5,6,7,8,9,10,12)
        entry: bash -lc "set -euo pipefail; root=$(git rev-parse --show-toplevel); cd \"$root\"; uv tool run semgrep --config lint/semgrep --error; PYTHONPATH=\"$root\" uv run --extra test python scripts/lint_architecture.py"
        language: system
        pass_filenames: false
      - id: oxlint
        name: eslint (custom rules) + oxlint (ui)
        entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
        language: system
        pass_filenames: false
        files: ^ui/

add planning docs
  strategy_planning/2026-03-19_full_simulation_run_flow_after_migration/2026-03-19_full_simulation_run_flow_after_migration.md
Due: markdownlint

feat(lib): add parse_timestamp_to_utc and recency_score_from_timestamp
  lib/timestamp_utils.py
  tests/lib/test_timestamp_utils.py
Due: none

feat(simulation): migrate random-simple generators to centralized timestamp parsing
  simulation/core/action_generators/comment/algorithms/random_simple.py
  simulation/core/action_generators/follow/algorithms/random_simple.py
  simulation/core/action_generators/like/algorithms/random_simple.py
  tests/simulation/core/test_random_simple_like_policy.py
Due: none

feat: make simulation runs reproducible by default (seeded RNG)
  db/adapters/sqlite/run_adapter.py
  db/migrations/versions/c2d3e4f5a6b7_add_run_seed_to_runs.py
  db/repositories/run_repository.py
  db/schema.py
  docs/db/2026_03_19-154334-cursor__social-agent-simulation-platform-module-d1cf/schema.md
  docs/db/2026_03_19-154334-cursor__social-agent-simulation-platform-module-d1cf/schema.snapshot.json
  docs/db/LATEST.txt
  lib/run_rng.py
  simulation/api/schemas/simulation.py
  simulation/api/services/run_execution_service.py
  simulation/core/action_generators/comment/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/comment/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/comment/algorithms/random_simple.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/random_simple.py
  simulation/core/action_generators/interfaces.py
  simulation/core/action_generators/like/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/like/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/like/algorithms/random_simple.py
  simulation/core/agent_actions.py
  simulation/core/command_service.py
  simulation/core/models/runs.py
  simulation/local_dev/seed_fixtures/runs.json
  tests/db/repositories/test_run_repository_integration.py
  tests/factories/runs.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_agent_actions.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_naive_llm_action_generators.py
  tests/simulation/core/test_random_simple_comment_policy.py
  tests/simulation/core/test_random_simple_follow_policy.py
  tests/simulation/core/test_random_simple_like_policy.py
  tests/simulation/core/test_run_determinism.py
Due: markdownlint

Fix seeded likes snapshots docs + schema + typing
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/agent_post_like_adapter.py
  db/adapters/sqlite/run_post_like_adapter.py
  db/migrations/versions/1a03b3eb67f9_add_agent_post_likes_and_run_post_likes.py
  db/repositories/__init__.py
  db/repositories/agent_post_like_repository.py
  db/repositories/interfaces.py
  db/repositories/run_post_like_repository.py
  db/schema.py
  docs/db/2026_03_19-105808-snapshot-likes/schema.md
  docs/db/2026_03_19-105808-snapshot-likes/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-19_seeded_likes_snapshots_739204/plan.md
  feeds/candidate_generation.py
  feeds/feed_generator.py
  feeds/feed_generator_adapter.py
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/models/agent_post_likes.py
  simulation/core/models/posts.py
  simulation/core/models/run_post_likes.py
  simulation/core/query_service.py
  simulation/local_dev/seed_fixtures/agent_post_likes.json
  simulation/local_dev/seed_loader.py
  tests/db/repositories/test_agent_post_like_repository_integration.py
  tests/db/repositories/test_run_post_like_repository_integration.py
  tests/feeds/test_feed_generator.py
  tests/local_dev/test_local_mode_seed.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_query_service.py
Due: markdownlint, docs-metadata

add planning docs
  strategy_planning/2026-03-19_formal_verification_review/findings.md
  strategy_planning/2026-03-19_formal_verification_review/original_prompt.md
  strategy_planning/2026-03-19_formal_verification_review/suggestions.md
Due: markdownlint

Enforce created_at timestamp contract
  lib/timestamp_utils.py
  lint/semgrep/python-time-source.yml
  ml_tooling/emotion/tests/test_classifier.py
  simulation/core/action_generators/comment/algorithms/random_simple.py
  simulation/core/action_generators/follow/algorithms/random_simple.py
  simulation/core/action_generators/like/algorithms/random_simple.py
  tests/factories/_helpers.py
Due: none

Use UTC contract for db schema docs
  lib/timestamp_utils.py
  scripts/generate_db_schema_docs.py
Due: none

update scope
  docs/plans/2026-03-19_time-source-lint_created-at-format_451099/plan.md
  lint/semgrep/python-time-source.yml
Due: docs-metadata

Apply created-at literal rule repo-wide
  lint/semgrep/python-time-source.yml
Due: none

Enforce created_at timestamp contract (#260)
  docs/plans/2026-03-19_time-source-lint_created-at-format_451099/plan.md
  lib/timestamp_utils.py
  lint/semgrep/python-time-source.yml
  ml_tooling/emotion/tests/test_classifier.py
  scripts/generate_db_schema_docs.py
  simulation/core/action_generators/comment/algorithms/random_simple.py
  simulation/core/action_generators/follow/algorithms/random_simple.py
  simulation/core/action_generators/like/algorithms/random_simple.py
  tests/factories/_helpers.py
Due: docs-metadata

update mermaid diagram
  docs/db/2026_03_19-105808-snapshot-likes/schema.md
  scripts/generate_db_schema_docs.py
Due: markdownlint

linter updates
  db/adapters/sqlite/metrics_adapter.py
  db/adapters/sqlite/run_adapter.py
  jobs/migrate_agents_to_new_schema.py
  scripts/lint_python_testing_syntax_conventions.py
Due: none

nit updates
  db/adapters/sqlite/run_adapter.py
  jobs/generate_profile_bios.py
  jobs/view_database.py
  simulation/core/action_generators/comment/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/like/algorithms/naive_llm/e2e_test_run.py
Due: none

revert to originals + add bypasses
  ml_tooling/emotion/tests/test_classifier.py
  ml_tooling/ner/examples_test.py
  scripts/check_db_schema_drift.py
  scripts/check_docs_metadata.py
  scripts/lint_architecture.py
  scripts/lint_python_testing_syntax_conventions.py
  scripts/lint_schema_conventions.py
Due: none

Add snapshot likes for seeded like_count (#259)
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/agent_post_like_adapter.py
  db/adapters/sqlite/run_post_like_adapter.py
  db/migrations/versions/1a03b3eb67f9_add_agent_post_likes_and_run_post_likes.py
  db/repositories/__init__.py
  db/repositories/agent_post_like_repository.py
  db/repositories/interfaces.py
  db/repositories/run_post_like_repository.py
  db/schema.py
  docs/db/2026_03_19-105808-snapshot-likes/schema.md
  docs/db/2026_03_19-105808-snapshot-likes/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-19_seeded_likes_snapshots_739204/plan.md
  feeds/candidate_generation.py
  feeds/feed_generator.py
  feeds/feed_generator_adapter.py
  scripts/generate_db_schema_docs.py
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/models/agent_post_likes.py
  simulation/core/models/posts.py
  simulation/core/models/run_post_likes.py
  simulation/core/query_service.py
  simulation/local_dev/seed_fixtures/agent_post_likes.json
  simulation/local_dev/seed_loader.py
  tests/db/repositories/test_agent_post_like_repository_integration.py
  tests/db/repositories/test_run_post_like_repository_integration.py
  tests/feeds/test_feed_generator.py
  tests/local_dev/test_local_mode_seed.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_query_service.py
Due: markdownlint, docs-metadata

Add Cursor Cloud quality-gate setup (#223)
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  docs/README.md
  docs/runbooks/CURSOR_CLOUD_ENV_SETUP.md
  docs/runbooks/PRE_COMMIT_AND_LINTING.md
  scripts/setup_cursor_cloud_env.sh
Due: markdownlint, docs-metadata

add architecture doc
  docs/architecture/agents-turns-runs-data-model.md
Due: markdownlint

feat(db-docs): require Mermaid CLI for schema ER diagrams (#261)
  .github/workflows/ci.yml
  .gitignore
  docs/db/2026_02_25-090413-codex__versioned-db-schema-docs/schema.mmd
  docs/db/2026_02_25-154526-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-154707-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-160213-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_26-145751-true-up-alembic-divergence-history/schema.md
  docs/db/2026_02_26-175110-require-email-display_name/schema.md
  docs/db/2026_02_26-192924-detached-78c3f270/schema.md
  docs/db/2026_02_26-193638-codex__post-source-refactor/schema.md
  docs/db/2026_03_13-230323-cursor__run-agents-membership-snapshot-6191/schema.md
  docs/db/2026_03_17-151450-cursor__agent-follow-edges-table-8792/schema.md
  docs/db/2026_03_17-160014-run-posts-snapshot/schema.md
  docs/db/2026_03_17-163602-cursor__run-follow-edges-snapshot-e537/schema.md
  docs/db/2026_03_17-174952-cursor__run-follow-edges-snapshot-e537/schema.md
  docs/db/2026_03_17-235959-codex__pr5-agent-posts/schema.md
  docs/db/2026_03_18-000000-run-posts-snapshot/schema.md
  docs/runbooks/DB_SCHEMA_DOCS.md
  scripts/generate_db_schema_docs.py
Due: markdownlint, docs-metadata

refactor: bundle command service repos in CommandServiceRepos
  simulation/core/factories/__init__.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  tests/simulation/core/test_dependencies.py
Due: none

fix(db-docs): pass Puppeteer --no-sandbox for mmdc on Linux CI
  docs/runbooks/DB_SCHEMA_DOCS.md
  scripts/generate_db_schema_docs.py
  scripts/mermaid_cli_puppeteer.json
Due: markdownlint, docs-metadata

updates
  db/adapters/sqlite/run_post_like_adapter.py
  simulation/local_dev/seed_fixtures/agent_post_likes.json
  simulation/local_dev/seed_loader.py
Due: none

Add seeded comment snapshots and baseline reply_count hydration
  db/adapters/base.py
  db/adapters/sqlite/agent_post_comment_adapter.py
  db/adapters/sqlite/run_post_comment_adapter.py
  db/migrations/versions/b2c4d6e8f0a1_add_agent_post_comments_and_run_post_comments.py
  db/repositories/agent_post_comment_repository.py
  db/repositories/interfaces.py
  db/repositories/run_post_comment_repository.py
  db/schema.py
  docs/db/2026_03_19-221732-comments-snapshot/schema.md
  docs/db/2026_03_19-221732-comments-snapshot/schema.snapshot.json
  docs/db/LATEST.txt
  feeds/candidate_generation.py
  feeds/feed_generator.py
  feeds/feed_generator_adapter.py
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/models/agent_post_comments.py
  simulation/core/models/posts.py
  simulation/core/models/run_post_comments.py
  simulation/core/query_service.py
  simulation/local_dev/seed_fixtures/agent_post_comments.json
  simulation/local_dev/seed_loader.py
  tests/db/repositories/test_agent_post_comment_repository_integration.py
  tests/db/repositories/test_run_post_comment_repository_integration.py
  tests/feeds/test_feed_generator.py
  tests/local_dev/test_local_mode_seed.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_query_service.py
Due: markdownlint

refactor: nest AgentRepos, RunRepos, TurnRepos under CommandServiceRepos
  simulation/core/factories/__init__.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  tests/simulation/core/test_dependencies.py
Due: none

add doc
  docs/plans/2026-03-19_seeded_likes_snapshots_739204/plan.md
Due: docs-metadata

fix: satisfy ruff/bandit after main merge
  db/adapters/sqlite/run_post_comment_adapter.py
  docs/plans/2026-03-19_seeded_likes_snapshots_739204/plan.md
  simulation/local_dev/seed_loader.py
Due: docs-metadata

refactor: bundle SimulationCommandService constructor deps
  simulation/core/command_service.py
  simulation/core/command_service_bundles.py
  simulation/core/factories/__init__.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  tests/simulation/core/test_command_service.py
Due: none

add doc
  docs/plans/2026-03-19_seeded_comments_snapshots_581420/plan.md
Due: docs-metadata

refactor: move command/query services under simulation/core/services
  pyproject.toml
  simulation/core/__init__.py
  simulation/core/engine.py
  simulation/core/factories/__init__.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/services/__init__.py
  simulation/core/services/command_service.py
  simulation/core/services/command_service_bundles.py
  simulation/core/services/query_service.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_query_service.py
Due: none

fix(schema-docs): timeout for mmdc; share env with Alembic
  docs/runbooks/DB_SCHEMA_DOCS.md
  scripts/_schema_utils.py
  scripts/generate_db_schema_docs.py
Due: markdownlint, docs-metadata

add updates
  db/migrations/versions/b2c4d6e8f0a1_add_agent_post_comments_and_run_post_comments.py
  db/schema.py
  docs/db/2026_03_19-223657-comments-snapshot/schema.md
  docs/db/2026_03_19-223657-comments-snapshot/schema.snapshot.json
  docs/db/LATEST.txt
Due: markdownlint

feat(db-docs): require Mermaid CLI for schema ER diagrams (#261) (#263)
  .github/workflows/ci.yml
  .gitignore
  db/db.sqlite
  docs/db/2026_02_25-090413-codex__versioned-db-schema-docs/schema.mmd
  docs/db/2026_02_25-154526-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-154707-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-160213-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_26-145751-true-up-alembic-divergence-history/schema.md
  docs/db/2026_02_26-175110-require-email-display_name/schema.md
  docs/db/2026_02_26-192924-detached-78c3f270/schema.md
  docs/db/2026_02_26-193638-codex__post-source-refactor/schema.md
  docs/db/2026_03_13-230323-cursor__run-agents-membership-snapshot-6191/schema.md
  docs/db/2026_03_17-151450-cursor__agent-follow-edges-table-8792/schema.md
  docs/db/2026_03_17-160014-run-posts-snapshot/schema.md
  docs/db/2026_03_17-163602-cursor__run-follow-edges-snapshot-e537/schema.md
  docs/db/2026_03_17-174952-cursor__run-follow-edges-snapshot-e537/schema.md
  docs/db/2026_03_17-235959-codex__pr5-agent-posts/schema.md
  docs/db/2026_03_18-000000-run-posts-snapshot/schema.md
  docs/runbooks/DB_SCHEMA_DOCS.md
  pyproject.toml
  scripts/_schema_utils.py
  scripts/generate_db_schema_docs.py
  scripts/mermaid_cli_puppeteer.json
Due: markdownlint, docs-metadata

Add seeded comment snapshots and baseline reply_count (#265)
  db/adapters/base.py
  db/adapters/sqlite/agent_post_comment_adapter.py
  db/adapters/sqlite/run_post_comment_adapter.py
  db/migrations/versions/b2c4d6e8f0a1_add_agent_post_comments_and_run_post_comments.py
  db/repositories/agent_post_comment_repository.py
  db/repositories/interfaces.py
  db/repositories/run_post_comment_repository.py
  db/schema.py
  docs/db/2026_03_19-221732-comments-snapshot/schema.md
  docs/db/2026_03_19-221732-comments-snapshot/schema.snapshot.json
  docs/db/2026_03_19-223657-comments-snapshot/schema.md
  docs/db/2026_03_19-223657-comments-snapshot/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-19_seeded_comments_snapshots_581420/plan.md
  feeds/candidate_generation.py
  feeds/feed_generator.py
  feeds/feed_generator_adapter.py
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/models/agent_post_comments.py
  simulation/core/models/posts.py
  simulation/core/models/run_post_comments.py
  simulation/core/query_service.py
  simulation/local_dev/seed_fixtures/agent_post_comments.json
  simulation/local_dev/seed_loader.py
  tests/db/repositories/test_agent_post_comment_repository_integration.py
  tests/db/repositories/test_run_post_comment_repository_integration.py
  tests/feeds/test_feed_generator.py
  tests/local_dev/test_local_mode_seed.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_query_service.py
Due: markdownlint, docs-metadata

Keep schema.snapshot.json only in latest docs/db folder
  db/migrations/README
  docs/db/2026_02_25-090413-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/2026_02_25-154526-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/2026_02_25-154707-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/2026_02_25-160213-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/2026_02_26-145751-true-up-alembic-divergence-history/schema.snapshot.json
  docs/db/2026_02_26-175110-require-email-display_name/schema.snapshot.json
  docs/db/2026_02_26-192924-detached-78c3f270/schema.snapshot.json
  docs/db/2026_02_26-193638-codex__post-source-refactor/schema.snapshot.json
  docs/db/2026_03_13-230323-cursor__run-agents-membership-snapshot-6191/schema.snapshot.json
  docs/db/2026_03_17-151450-cursor__agent-follow-edges-table-8792/schema.snapshot.json
  docs/db/2026_03_17-160014-run-posts-snapshot/schema.snapshot.json
  docs/db/2026_03_17-163602-cursor__run-follow-edges-snapshot-e537/schema.snapshot.json
  docs/db/2026_03_17-174952-cursor__run-follow-edges-snapshot-e537/schema.snapshot.json
  docs/db/2026_03_17-235959-codex__pr5-agent-posts/schema.snapshot.json
  docs/db/2026_03_18-000000-run-posts-snapshot/schema.snapshot.json
  docs/db/2026_03_19-105808-snapshot-likes/schema.snapshot.json
  docs/db/2026_03_19-221732-comments-snapshot/schema.snapshot.json
  docs/runbooks/DB_SCHEMA_DOCS.md
  scripts/generate_db_schema_docs.py
Due: markdownlint, docs-metadata
