Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, oxlint

markdownlint:
  name: markdownlint (markdownlint-cli2)
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.21.0
  args:
  - --config
  - .markdownlint.yml

oxlint:
  name: oxlint + React Doctor (ui)
  entry: bash -lc "cd ui && (test -d node_modules || npm install) && npx oxlint . --react-plugin && node scripts/check-react-doctor.mjs"
  language: system
  pass_filenames: false

update docs
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/metrics_selector_ui_34c8ca07.plan.md
Due: none

update failing tests
  tests/simulation/core/test_metrics_collector.py
  tests/simulation/core/test_metrics_defaults.py
Due: none

Update ui/components/form/MetricSelector.tsx
  ui/components/form/MetricSelector.tsx
Due: oxlint

Create metrics selector component (#133)
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/after/README.md
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/after/after-1.png
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/after/after-2-selection.png
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/before/before.png
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/metrics_selector_ui_34c8ca07.plan.md
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  simulation/core/metrics/builtins/actions.py
  simulation/core/metrics/defaults.py
  simulation/core/metrics/interfaces.py
  tests/api/test_metrics.py
  tests/simulation/core/test_metrics_collector.py
  tests/simulation/core/test_metrics_defaults.py
  ui/components/form/ConfigForm.tsx
  ui/components/form/MetricSelector.tsx
  ui/lib/api/simulation.ts
  ui/lib/default-config.ts
  ui/openapi.json
  ui/types/api.generated.ts
  ui/types/index.ts
Due: oxlint

Persist likes, comments, and follows
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/comment_adapter.py
  db/adapters/sqlite/follow_adapter.py
  db/adapters/sqlite/like_adapter.py
  db/db.sqlite
  db/migrations/versions/b8e4d1f2a3c6_add_likes_comments_follows_tables.py
  db/repositories/comment_repository.py
  db/repositories/follow_repository.py
  db/repositories/interfaces.py
  db/repositories/like_repository.py
  db/schema.py
  db/services/simulation_persistence_service.py
  simulation/core/command_service.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/models/persisted_actions.py
  simulation/core/query_service.py
  tests/conftest.py
  tests/db/repositories/test_action_repositories_integration.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_query_service.py
Due: none

Add LOCAL mode dummy DB and seed fixtures
  db/adapters/sqlite/sqlite.py
  lib/env_utils.py
  scripts/update_seed_data.py
  simulation/api/dependencies/auth.py
  simulation/api/main.py
  simulation/api/routes/simulation.py
  simulation/api/services/run_query_service.py
  simulation/local_dev/local_mode.py
  simulation/local_dev/seed_fixtures/agent_persona_bios.json
  simulation/local_dev/seed_fixtures/agents.json
  simulation/local_dev/seed_fixtures/bluesky_feed_posts.json
  simulation/local_dev/seed_fixtures/generated_feeds.json
  simulation/local_dev/seed_fixtures/run_metrics.json
  simulation/local_dev/seed_fixtures/runs.json
  simulation/local_dev/seed_fixtures/turn_metadata.json
  simulation/local_dev/seed_fixtures/turn_metrics.json
  simulation/local_dev/seed_fixtures/user_agent_profile_metadata.json
  simulation/local_dev/seed_loader.py
Due: none

UI: auto auth bypass when LOCAL=true
  ui/contexts/AuthContext.tsx
  ui/next.config.ts
Due: oxlint

Docs/tests: local runbooks, plan, and coverage
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/images/after/01-runs-list.png
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/images/after/02-run-summary.png
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/images/after/03-turn-detail.png
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/images/before/01-runs-list.png
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/images/before/02-run-summary.png
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/images/before/03-turn-detail.png
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/plan.md
  docs/runbooks/LOCAL_DEVELOPMENT.md
  docs/runbooks/LOCAL_DEV_AUTH.md
  docs/runbooks/UPDATE_SEED_DATA.md
  tests/api/conftest.py
  tests/api/test_simulation_posts.py
  tests/api/test_simulation_run.py
  tests/local_dev/test_local_mode_seed.py
Due: markdownlint

Display metrics as part of run parameters
  docs/plans/2026-02-24_run_params_display_4d5e6f/images/after/README.md
  docs/plans/2026-02-24_run_params_display_4d5e6f/images/after/after.png
  docs/plans/2026-02-24_run_params_display_4d5e6f/images/before/README.md
  docs/plans/2026-02-24_run_params_display_4d5e6f/images/before/before.png
  ui/app/page.tsx
  ui/components/details/DetailsPanel.tsx
  ui/components/details/RunParametersBlock.tsx
  ui/components/run-detail/RunDetailContext.tsx
  ui/hooks/useSimulationPageState.ts
  ui/lib/api/simulation.ts
  ui/lib/run-selectors.ts
Due: oxlint

update assets
  docs/plans/2026-02-24_run_params_display_4d5e6f/images/after/README.md
  docs/plans/2026-02-24_run_params_display_4d5e6f/images/before/README.md
  docs/plans/2026-02-24_run_params_display_4d5e6f/run_params_display_part_4_7ad4614e.plan.md
Due: none

update assets
  docs/plans/2026-02-24_run_params_display_4d5e6f/images/before/before.png
Due: none

docs: add Cursor Cloud specific instructions to AGENTS.md
  AGENTS.md
Due: markdownlint

docs: add dev environment setup screenshots and demo video
  docs/assets/dev-env-setup/agents_list.webp
  docs/assets/dev-env-setup/api_docs.webp
  docs/assets/dev-env-setup/dev_env_full_stack_walkthrough.mp4
  docs/assets/dev-env-setup/run_summary.webp
  docs/assets/dev-env-setup/simulation_feed_details.webp
  docs/assets/dev-env-setup/ui_main_page.webp
Due: none

simplify custom path
  db/adapters/sqlite/sqlite.py
Due: none

update stale docstring
  simulation/api/routes/simulation.py
Due: none

update docs
  docs/runbooks/LOCAL_DEV_AUTH.md
Due: markdownlint

update const
  lib/constants.py
  scripts/update_seed_data.py
Due: none

Update turns funcs
  simulation/api/routes/simulation.py
  simulation/api/services/run_query_service.py
Due: none

set up local seed data
  simulation/api/main.py
Due: none

delete now-stale funcs
  simulation/api/services/run_query_service.py
Due: none

Docs: add seeded metrics screenshot
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/images/after/04-seeded-run-metrics.png
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/plan.md
Due: none

add test factory
  tests/factories.py
Due: none

delete dummy_data.py to make JSON fixtures canonical
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/plan.md
  docs/runbooks/UPDATE_SEED_DATA.md
  scripts/update_seed_data.py
  simulation/api/constants.py
  simulation/api/dummy_data.py
  simulation/api/routes/simulation.py
  simulation/api/services/agent_query_service.py
  tests/api/test_simulation_agents.py
Due: markdownlint

replace direct repo access
  simulation/api/services/run_query_service.py
  simulation/core/engine.py
Due: none

Remove agents/mock and regen API contract
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/plan.md
  simulation/api/routes/simulation.py
  tests/api/test_simulation_agents.py
  ui/hooks/useSimulationPageState.ts
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

fix trivial test
  tests/api/test_simulation_agents.py
Due: none

update assets
  docs/plans/2026-02-24_run_params_display_4d5e6f/images/after/after.png
  docs/plans/2026-02-24_run_params_display_4d5e6f/images/before/before.png
Due: none

fix ui mount
  ui/hooks/useSimulationPageState.ts
Due: oxlint

refactor RunParametersBlock
  ui/components/details/RunParametersBlock.tsx
Due: oxlint

add per-run request-id map
  ui/hooks/useSimulationPageState.ts
Due: oxlint

Create serialization helper
  db/adapters/sqlite/_serialization.py
  db/adapters/sqlite/comment_adapter.py
  db/adapters/sqlite/follow_adapter.py
  db/adapters/sqlite/like_adapter.py
Due: none

add shared validator
  db/adapters/sqlite/_validation.py
  db/adapters/sqlite/comment_adapter.py
  db/adapters/sqlite/follow_adapter.py
  db/adapters/sqlite/like_adapter.py
Due: none

Add metrics as a default config
  docs/plans/2026-02-25_default_config_metric_keys_3f8c2a/images/after/start-new-simulation.png
  docs/plans/2026-02-25_default_config_metric_keys_3f8c2a/images/before/start-new-simulation.png
  simulation/api/constants.py
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  tests/api/test_simulation_config.py
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

docs: suggest custom architecture linters
  docs/SUGGESTED_CUSTOM_LINTERS.md
Due: markdownlint

update plan
  docs/plans/2026-02-25_default_config_metric_keys_3f8c2a/default-config-metric-keys_5484e950.plan.md
Due: none

Add versioned DB schema docs + drift checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  db/__init__.py
  db/migrations/README
  db/schema.py
  docs/db/2026_02_25-090413-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-090413-codex__versioned-db-schema-docs/schema.mmd
  docs/db/2026_02_25-090413-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/LATEST.txt
  docs/db/README.md
  lib/__init__.py
  scripts/check_db_schema_drift.py
  scripts/generate_db_schema_docs.py
Due: markdownlint

update UI
  ui/hooks/useSimulationPageState.ts
Due: oxlint

Update default config schema include metric keys (#141)
  docs/plans/2026-02-25_default_config_metric_keys_3f8c2a/default-config-metric-keys_5484e950.plan.md
  docs/plans/2026-02-25_default_config_metric_keys_3f8c2a/images/after/start-new-simulation.png
  docs/plans/2026-02-25_default_config_metric_keys_3f8c2a/images/before/start-new-simulation.png
  simulation/api/constants.py
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  tests/api/test_simulation_config.py
  ui/hooks/useSimulationPageState.ts
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

added module-level empty constants
  ui/hooks/useSimulationPageState.ts
Due: oxlint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^docs/plans/
  oxlint: any of: ^ui/
