Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, oxlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Ruff hooks mirror CI (.github/workflows/ci.yml): ruff check + ruff format --check
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      # Same as CI: uv run ruff check .
      - id: ruff-check
        args: [--fix]
      # Same as CI: uv run ruff format --check .
      - id: ruff-format
        args: [--check]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.21.0]
        args: ["--config", ".markdownlint.yml"]
        types: [markdown]
        exclude: ^docs/plans/
      - id: complexipy
        name: complexipy
        entry: bash -lc "uv run complexipy . --max-complexity-allowed 999"
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run pyright ."
        language: system
        pass_filenames: false
      - id: oxlint
        name: oxlint + React Doctor (ui)
        entry: bash -lc "cd ui && (test -d node_modules || npm install) && npx oxlint . --react-plugin && node scripts/check-react-doctor.mjs"
        language: system
        pass_filenames: false
        files: ^ui/

Connect Create agent form to backend and View agents to DB (#117)
  db/adapters/base.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/repositories/agent_bio_repository.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  docs/RULES.md
  docs/plans/2026-02-23_list_agents_batch_fetch_n1_a1b2c3/list_agents_batch_fetch_n1.plan.md
  docs/plans/agents_backend_and_view_integration_0b63a071.plan.md
  lib/rate_limiting.py
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  simulation/api/services/agent_command_service.py
  simulation/api/services/agent_query_service.py
  simulation/core/exceptions.py
  simulation/core/handle_utils.py
  tests/api/test_simulation_agents.py
  ui/app/page.tsx
  ui/components/agents/CreateAgentView.tsx
  ui/hooks/useSimulationPageState.ts
  ui/lib/api/simulation.ts
Due: markdownlint, oxlint

Add per-run metric selection and persistence to the backend
  db/adapters/sqlite/run_adapter.py
  db/db.sqlite
  db/migrations/versions/a7f3b2c1d4e9_add_metric_keys_to_runs.py
  db/repositories/run_repository.py
  db/schema.py
  simulation/api/schemas/simulation.py
  simulation/api/services/run_execution_service.py
  simulation/api/services/run_query_service.py
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/metrics/collector.py
  simulation/core/metrics/defaults.py
  simulation/core/models/runs.py
  simulation/core/validators.py
  tests/api/test_run_metric_keys.py
  tests/api/test_run_query_service.py
  tests/api/test_simulation_rate_limit.py
  tests/api/test_simulation_run.py
  tests/db/repositories/test_run_repository.py
  tests/db/repositories/test_run_repository_integration.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_metrics_collector.py
  tests/simulation/core/test_resolve_metric_keys_by_scope.py
Due: none

add docs
  docs/plans/2026-02-23_run_config_metrics_selection_80757c/plan.md
Due: none

Update simulation/core/command_service.py
  simulation/core/command_service.py
Due: none

add migration note
  db/migrations/versions/a7f3b2c1d4e9_add_metric_keys_to_runs.py
Due: none

update string validation
  db/adapters/sqlite/run_adapter.py
Due: none

remove redundant generation of metric_keys
  db/repositories/run_repository.py
  simulation/api/services/run_execution_service.py
  simulation/core/engine.py
  simulation/core/metrics/defaults.py
Due: none

remove redundant generation of metric_keys
  simulation/core/command_service.py
Due: none

Add runbook for updating API schemas
  docs/README.md
  docs/runbooks/UPDATE_SCHEMAS.md
Due: markdownlint

Apply suggestion from @coderabbitai[bot]
  simulation/core/metrics/defaults.py
Due: none

use helper func and add model validation
  simulation/core/engine.py
  simulation/core/models/runs.py
Due: none

Regenerate OpenAPI artifacts after merge
  docs/api-contract.md
  docs/runbooks/UPDATE_SCHEMAS.md
  ui/openapi.json
  ui/types/api.generated.ts
Due: markdownlint, oxlint

make metrics required
  simulation/core/command_service.py
  simulation/core/metrics/collector.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_metrics_collector.py
Due: none

create module-level KEY_TO_SCOPE
  simulation/core/metrics/defaults.py
Due: none

Cache deps in api_contract CI job
  .github/workflows/ci.yml
Due: none

OpenAPI-generated UI API types + CI contract check (#104)
  .github/workflows/ci.yml
  .gitignore
  docs/README.md
  docs/api-contract.md
  docs/runbooks/UPDATE_SCHEMAS.md
  scripts/generate_openapi_json.py
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/package-lock.json
  ui/package.json
  ui/types/api.generated.ts
Due: markdownlint, oxlint

Fix tests to use expected_result
  tests/api/test_feed_algorithms.py
  tests/api/test_metrics.py
  tests/api/test_simulation_agents.py
  tests/api/test_simulation_run.py
  tests/feeds/test_feed_generator.py
Due: none

update validate metric keys behavior
  simulation/core/validators.py
  tests/api/test_run_metric_keys.py
Due: none

update RULES
  docs/RULES.md
Due: markdownlint

chore(api): regenerate OpenAPI and TS types for metric_keys contract
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

Persist create agent form fields
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/agent_liked_post_adapter.py
  db/adapters/sqlite/agent_linked_agent_adapter.py
  db/adapters/sqlite/agent_profile_comment_adapter.py
  db/db.sqlite
  db/migrations/versions/16c6ae889cf1_add_agent_profile_comments_likes_linked_.py
  db/repositories/agent_liked_post_repository.py
  db/repositories/agent_linked_agent_repository.py
  db/repositories/agent_profile_comment_repository.py
  db/repositories/interfaces.py
  db/schema.py
  docs/plans/2026-02-23_create_agent_comments_likes_linked_05aefd74/images/after/README.md
  docs/plans/2026-02-23_create_agent_comments_likes_linked_05aefd74/images/before/README.md
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  simulation/api/services/agent_command_service.py
  simulation/api/services/agent_query_service.py
  simulation/core/exceptions.py
  simulation/core/models/agent_liked_post.py
  simulation/core/models/agent_linked_agent.py
  simulation/core/models/agent_profile_comment.py
Due: none

remove redundant instantiations
  db/adapters/sqlite/run_adapter.py
  tests/api/test_run_metric_keys.py
Due: none

include duplication check
  simulation/core/metrics/defaults.py
  tests/simulation/core/test_resolve_metric_keys_by_scope.py
Due: none

merge main
  tests/api/test_simulation_agents.py
  ui/app/page.tsx
  ui/components/agents/CreateAgentView.tsx
  ui/lib/api/simulation.ts
Due: oxlint

[2026-02-24] Codex repo automation - Feature ideas scan
  docs/feature_ideas/2026-02-24_feature_ideas.md
Due: markdownlint

Fix tests to use expected_result (#129)
  tests/api/test_feed_algorithms.py
  tests/api/test_metrics.py
  tests/api/test_simulation_agents.py
  tests/api/test_simulation_run.py
  tests/feeds/test_feed_generator.py
Due: none

Regenerate OpenAPI and api.generated.ts for CreateAgentRequest/AgentSchema
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

Add per-run metric selection and persistence to the backend (#127)
  db/adapters/sqlite/run_adapter.py
  db/db.sqlite
  db/migrations/versions/a7f3b2c1d4e9_add_metric_keys_to_runs.py
  db/repositories/run_repository.py
  db/schema.py
  docs/RULES.md
  docs/plans/2026-02-23_run_config_metrics_selection_80757c/plan.md
  simulation/api/schemas/simulation.py
  simulation/api/services/run_execution_service.py
  simulation/api/services/run_query_service.py
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/metrics/collector.py
  simulation/core/metrics/defaults.py
  simulation/core/models/runs.py
  simulation/core/validators.py
  tests/api/test_run_metric_keys.py
  tests/api/test_run_query_service.py
  tests/api/test_simulation_rate_limit.py
  tests/api/test_simulation_run.py
  tests/db/repositories/test_run_repository.py
  tests/db/repositories/test_run_repository_integration.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_metrics_collector.py
  tests/simulation/core/test_resolve_metric_keys_by_scope.py
  ui/openapi.json
  ui/types/api.generated.ts
Due: markdownlint, oxlint

[2026-02-24] Codex repo automation - Feature ideas scan (#131)
  docs/feature_ideas/2026-02-24_feature_ideas.md
Due: markdownlint

Add metrics selector component
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/after/README.md
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/after/after-1.png
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/after/after-2-selection.png
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/before/before.png
  ui/components/form/ConfigForm.tsx
  ui/components/form/MetricSelector.tsx
  ui/lib/api/simulation.ts
  ui/lib/default-config.ts
  ui/types/index.ts
Due: oxlint

Add pagination for agent listing
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  docs/plans/2026-02-24_agent_list_pagination_739412/plan.md
  simulation/api/routes/simulation.py
  simulation/api/services/agent_query_service.py
  tests/api/test_simulation_agents.py
  tests/db/repositories/test_agent_repository_integration.py
  ui/app/page.tsx
  ui/components/sidebars/RunHistorySidebar.tsx
  ui/contexts/AuthContext.tsx
  ui/hooks/useSimulationPageState.ts
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

Use constants for agent list defaults
  simulation/api/constants.py
  simulation/api/routes/simulation.py
  tests/api/test_simulation_agents.py
  ui/hooks/useSimulationPageState.ts
  ui/lib/constants.ts
Due: oxlint

Add metrics selector component
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/after/README.md
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/after/after-1.png
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/after/after-2-selection.png
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  simulation/core/metrics/builtins/actions.py
  simulation/core/metrics/defaults.py
  simulation/core/metrics/interfaces.py
  tests/api/test_metrics.py
  ui/components/form/MetricSelector.tsx
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/types/api.generated.ts
  ui/types/index.ts
Due: oxlint

Apply suggestion from @coderabbitai[bot]
  simulation/api/services/agent_query_service.py
Due: none

Apply suggestion from @coderabbitai[bot]
  ui/hooks/useSimulationPageState.ts
Due: oxlint

Apply suggestion from @coderabbitai[bot]
  ui/lib/constants.ts
Due: oxlint

Apply suggestion from @coderabbitai[bot]
  ui/lib/api/simulation.ts
Due: oxlint

Use refs for agent pagination state
  ui/hooks/useSimulationPageState.ts
Due: oxlint

Add pagination for agent listing (#132)
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  docs/plans/2026-02-24_agent_list_pagination_739412/plan.md
  simulation/api/constants.py
  simulation/api/routes/simulation.py
  simulation/api/services/agent_query_service.py
  tests/api/test_simulation_agents.py
  tests/db/repositories/test_agent_repository_integration.py
  ui/app/page.tsx
  ui/components/sidebars/RunHistorySidebar.tsx
  ui/contexts/AuthContext.tsx
  ui/hooks/useSimulationPageState.ts
  ui/lib/api/simulation.ts
  ui/lib/constants.ts
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint
