Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, docs-metadata, oxlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Ruff hooks mirror CI (.github/workflows/ci.yml): ruff check + ruff format --check
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      # Same as CI: uv run ruff check .
      - id: ruff-check
        args: [--fix]
      # Same as CI: uv run ruff format --check .
      - id: ruff-format
        args: [--check]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.21.0]
        args: ["--config", ".markdownlint.yml"]
        types: [markdown]
        exclude: ^docs/plans/
      - id: docs-metadata
        name: docs metadata
        entry: bash -lc "uv run python scripts/check_docs_metadata.py"
        language: system
        pass_filenames: true
        files: ^docs/(runbooks|plans)/.*\.md$
      - id: db-schema-docs-check
        name: db schema docs (check latest)
        entry: bash -lc "uv run python scripts/generate_db_schema_docs.py --check"
        language: system
        pass_filenames: false
      - id: db-schema-drift
        name: db schema drift (migrations vs metadata)
        entry: bash -lc "uv run python scripts/check_db_schema_drift.py"
        language: system
        pass_filenames: false
      - id: complexipy
        name: complexipy
        entry: bash -lc "uv run --extra test complexipy . --max-complexity-allowed 999"
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test pyright ."
        language: system
        pass_filenames: false
      - id: python_lint_import_dependency_boundaries
        name: python_lint_import_dependency_boundaries
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test lint-imports --config pyproject.toml"
        language: system
        pass_filenames: false
      - id: python_dependency_injection_guard
        name: python_dependency_injection_guard (PY-2,3,5,6,7,8,9,10,12)
        entry: bash -lc "set -euo pipefail; root=$(git rev-parse --show-toplevel); cd \"$root\"; uv tool run semgrep --config lint/semgrep --error; PYTHONPATH=\"$root\" uv run --extra test python scripts/lint_architecture.py"
        language: system
        pass_filenames: false
      - id: oxlint
        name: eslint (custom rules) + oxlint (ui)
        entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
        language: system
        pass_filenames: false
        files: ^ui/

Remove agent services factory
  simulation/api/services/agent_services_factory.py
Due: none

Move LLM mixin to mixins package
  simulation/core/action_generators/comment/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/like/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/mixins/llm_action_generator_mixin.py
Due: none

Add clarification comment
  simulation/core/action_generators/comment/algorithms/naive_llm/algorithm.py
Due: none

add validation id + unit testing for mixins
  simulation/core/action_generators/mixins/llm_action_generator_mixin.py
  tests/simulation/core/mixins/__init__.py
  tests/simulation/core/mixins/test_llm_action_generator_mixin.py
Due: none

ruff
  tests/simulation/core/test_command_service.py
Due: none

Refactor naive LLM generators to reuse mixin (#174)
  docs/plans/2026-02-28_refactor_naive_llm_action_mixins_402817/naive-llm-mixin-refactor_be49aaf7.plan.md
  simulation/core/action_generators/comment/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/like/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/mixins/llm_action_generator_mixin.py
  tests/simulation/core/mixins/__init__.py
  tests/simulation/core/mixins/test_llm_action_generator_mixin.py
  tests/simulation/core/test_command_service.py
Due: docs-metadata

[2026-03-02] Codex repo automation - Weekly work update
  docs/weekly_updates/2026-02-23_2026-03-01.md
Due: markdownlint

[2026-03-02] Codex repo automation - Weekly work update (#175)
  docs/weekly_updates/2026-02-23_2026-03-01.md
Due: markdownlint

Add weekly changelog and instructions
  CHANGELOG.md
  docs/runbooks/HOW_TO_UPDATE_CHANGELOG.md
  docs/weekly_updates/2026-02-23_2026-02-28.md
Due: markdownlint, docs-metadata

init tests
  tests/lib/test_validation_utils.py
Due: none

wip
  tests/lib/test_validation_utils.py
Due: none

add TestValidateNonEmptyString class
  tests/lib/test_validation_utils.py
Due: none

ruff
  tests/lib/test_validation_utils.py
Due: none

refactor TestValidateNonEmptyString to use parametrize and use match to check for correct ValueError
  tests/lib/test_validation_utils.py
Due: none

Add unit tests for `validate_non_empty_iterable` and `validate_non_empty_string` (#181)
  tests/lib/test_validation_utils.py
Due: none

add copying button for runId
  ui/components/details/RunSummary.tsx
Due: oxlint

add useRef and useEffect to reset timer and use a try catch for async function
  ui/components/details/RunSummary.tsx
Due: oxlint

add UI stub for exporting run data
  ui/components/details/RunSummary.tsx
Due: oxlint

Align validation tests with repo testing conventions
  tests/lib/test_validation_utils.py
Due: none

refactor buttonclick handling to be in a helper function
  ui/components/details/RunSummary.tsx
Due: oxlint

log in console when copying doesnt work
  ui/components/details/RunSummary.tsx
Due: oxlint

change helper function name to handleCopyRunId from handleCopyButtonClick
  ui/components/details/RunSummary.tsx
Due: oxlint

remove changing useState hook during a useEffect
  ui/components/details/RunSummary.tsx
Due: oxlint

remove debugging console log
  ui/components/details/RunSummary.tsx
Due: oxlint

add UI stub for export run button
  ui/components/details/RunSummary.tsx
Due: oxlint

Add 2026-03-07 feature ideas automation report
  docs/feature_ideas/2026-03-07_feature_ideas.md
Due: markdownlint

add RunExportResponse schema for simulations/run/{run_id}/export endpoint
  simulation/api/schemas/simulation.py
Due: none

add copying button for runId (#182)
  ui/components/details/RunSummary.tsx
Due: oxlint

[2026-03-08] Codex repo automation - Weekly work update
  docs/weekly_updates/2026-03-02_2026-03-08.md
Due: markdownlint

Refine validate_non_empty_string usage
  db/adapters/sqlite/agent_adapter.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  docs/plans/2026-03-08_validate_non_empty_string_single_arg_482193/plan.md
  lib/validation_utils.py
  simulation/api/schemas/simulation.py
  simulation/core/metrics/interfaces.py
  simulation/core/models/actions.py
  simulation/core/models/agent.py
  simulation/core/models/agent_bio.py
  simulation/core/models/app_user.py
  simulation/core/models/feeds.py
  simulation/core/models/generated/bio.py
  simulation/core/models/generated/comment.py
  simulation/core/models/generated/follow.py
  simulation/core/models/generated/like.py
  simulation/core/models/metrics.py
  simulation/core/models/posts.py
  simulation/core/models/profiles.py
  simulation/core/models/runs.py
  simulation/core/models/turns.py
  simulation/core/models/user_agent_profile_metadata.py
  simulation/core/utils/validators.py
  tests/db/repositories/test_feed_post_repository.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/db/repositories/test_generated_feed_repository.py
  tests/db/repositories/test_generated_feed_repository_integration.py
  tests/db/repositories/test_profile_repository.py
  tests/db/repositories/test_profile_repository_integration.py
  tests/lib/test_validation_utils.py
Due: docs-metadata

Update lingering delete errors
  ui/components/agents/AgentsView.tsx
Due: oxlint

update rules
  docs/RULES.md
  docs/plans/2026-03-04_copy_run_id_button_492817/images/after/run-summary-after-copied-button.png
  docs/plans/2026-03-04_copy_run_id_button_492817/images/after/run-summary-after-copied.png
  docs/plans/2026-03-04_copy_run_id_button_492817/images/after/run-summary-after.png
  docs/plans/2026-03-04_copy_run_id_button_492817/images/before/run-summary-before.png
Due: markdownlint

Refine validate_non_empty_string usage (#193)
  db/adapters/sqlite/agent_adapter.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  docs/plans/2026-03-08_validate_non_empty_string_single_arg_482193/plan.md
  lib/validation_utils.py
  simulation/api/schemas/simulation.py
  simulation/core/metrics/interfaces.py
  simulation/core/models/actions.py
  simulation/core/models/agent.py
  simulation/core/models/agent_bio.py
  simulation/core/models/app_user.py
  simulation/core/models/feeds.py
  simulation/core/models/generated/bio.py
  simulation/core/models/generated/comment.py
  simulation/core/models/generated/follow.py
  simulation/core/models/generated/like.py
  simulation/core/models/metrics.py
  simulation/core/models/posts.py
  simulation/core/models/profiles.py
  simulation/core/models/runs.py
  simulation/core/models/turns.py
  simulation/core/models/user_agent_profile_metadata.py
  simulation/core/utils/validators.py
  tests/db/repositories/test_feed_post_repository.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/db/repositories/test_generated_feed_repository.py
  tests/db/repositories/test_generated_feed_repository_integration.py
  tests/db/repositories/test_profile_repository.py
  tests/db/repositories/test_profile_repository_integration.py
  tests/lib/test_validation_utils.py
Due: docs-metadata

update validation
  db/adapters/sqlite/agent_adapter.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
Due: none

[2026-03-08] Codex repo automation - Weekly work update (#192)
  docs/weekly_updates/2026-03-02_2026-03-08.md
Due: markdownlint

Add 2026-03-07 feature ideas automation report (#188)
  docs/feature_ideas/2026-03-07_feature_ideas.md
Due: markdownlint

chore: regenerate OpenAPI contract for DELETE /v1/simulations/agents/{handle}
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

Add delete-agent endpoint and UI control (#173)
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/repositories/agent_bio_repository.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  docs/RULES.md
  docs/plans/2026-02-26_flow0_pr2_delete_agents_483920/images/after/01-agent-detail.png
  docs/plans/2026-02-26_flow0_pr2_delete_agents_483920/images/after/02-agent-deleted.png
  docs/plans/2026-03-04_copy_run_id_button_492817/images/after/run-summary-after-copied-button.png
  docs/plans/2026-03-04_copy_run_id_button_492817/images/after/run-summary-after-copied.png
  docs/plans/2026-03-04_copy_run_id_button_492817/images/after/run-summary-after.png
  docs/plans/2026-03-04_copy_run_id_button_492817/images/before/run-summary-before.png
  simulation/api/errors.py
  simulation/api/routes/simulation.py
  simulation/api/services/agent_command_service.py
  tests/api/test_simulation_agents.py
  ui/app/page.tsx
  ui/components/agents/AgentsView.tsx
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/package.json
  ui/types/api.generated.ts
Due: markdownlint, oxlint

Apply convention fixes from repo review automation
  tests/api/test_simulation_agents.py
  ui/components/agents/AgentsView.tsx
  ui/components/details/RunSummary.tsx
Due: oxlint
