Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, docs-metadata, oxlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Ruff hooks mirror CI (.github/workflows/ci.yml): ruff check + ruff format --check
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      # Same as CI: uv run ruff check .
      - id: ruff-check
        args: [--fix]
      # Same as CI: uv run ruff format --check .
      - id: ruff-format
        args: [--check]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.21.0]
        args: ["--config", ".markdownlint.yml"]
        types: [markdown]
        exclude: ^docs/plans/
      - id: docs-metadata
        name: docs metadata
        entry: bash -lc "uv run python scripts/check_docs_metadata.py"
        language: system
        pass_filenames: true
        files: ^docs/(runbooks|plans)/.*\.md$
      - id: db-schema-docs-check
        name: db schema docs (check latest)
        entry: bash -lc "uv run python scripts/generate_db_schema_docs.py --check"
        language: system
        pass_filenames: false
      - id: db-schema-drift
        name: db schema drift (migrations vs metadata)
        entry: bash -lc "uv run python scripts/check_db_schema_drift.py"
        language: system
        pass_filenames: false
      - id: complexipy
        name: complexipy
        entry: bash -lc "uv run --extra test complexipy . --max-complexity-allowed 999"
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test pyright ."
        language: system
        pass_filenames: false
      - id: python_lint_import_dependency_boundaries
        name: python_lint_import_dependency_boundaries
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test lint-imports --config pyproject.toml"
        language: system
        pass_filenames: false
      - id: python_dependency_injection_guard
        name: python_dependency_injection_guard (PY-2,3,5,6,7,8,9,10,12)
        entry: bash -lc "set -euo pipefail; root=$(git rev-parse --show-toplevel); cd \"$root\"; uv tool run semgrep --config lint/semgrep --error; PYTHONPATH=\"$root\" uv run --extra test python scripts/lint_architecture.py"
        language: system
        pass_filenames: false
      - id: oxlint
        name: eslint (custom rules) + oxlint (ui)
        entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
        language: system
        pass_filenames: false
        files: ^ui/

add refactor plan
  strategy_planning/2026-03-19_refactor_turn_tables/proposal.md
Due: markdownlint

finish initial UNTESTED version of classifier
  ml_tooling/polarity/classifer.py
Due: none

add optional dependency into polarity group
  pyproject.toml
Due: none

Update db/migrations/README
  db/migrations/README
Due: none

Keep schema.snapshot.json only in latest docs/db folder (#266)
  db/migrations/README
  docs/db/2026_02_25-090413-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/2026_02_25-154526-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/2026_02_25-154707-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/2026_02_25-160213-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/2026_02_26-145751-true-up-alembic-divergence-history/schema.snapshot.json
  docs/db/2026_02_26-175110-require-email-display_name/schema.snapshot.json
  docs/db/2026_02_26-192924-detached-78c3f270/schema.snapshot.json
  docs/db/2026_02_26-193638-codex__post-source-refactor/schema.snapshot.json
  docs/db/2026_03_13-230323-cursor__run-agents-membership-snapshot-6191/schema.snapshot.json
  docs/db/2026_03_17-151450-cursor__agent-follow-edges-table-8792/schema.snapshot.json
  docs/db/2026_03_17-160014-run-posts-snapshot/schema.snapshot.json
  docs/db/2026_03_17-163602-cursor__run-follow-edges-snapshot-e537/schema.snapshot.json
  docs/db/2026_03_17-174952-cursor__run-follow-edges-snapshot-e537/schema.snapshot.json
  docs/db/2026_03_17-235959-codex__pr5-agent-posts/schema.snapshot.json
  docs/db/2026_03_18-000000-run-posts-snapshot/schema.snapshot.json
  docs/db/2026_03_19-105808-snapshot-likes/schema.snapshot.json
  docs/db/2026_03_19-221732-comments-snapshot/schema.snapshot.json
  docs/runbooks/DB_SCHEMA_DOCS.md
  scripts/generate_db_schema_docs.py
Due: markdownlint, docs-metadata

refactor: bundle command service factory deps (fixes #225) (#264)
  db/db.sqlite
  pyproject.toml
  simulation/core/__init__.py
  simulation/core/engine.py
  simulation/core/factories/__init__.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/services/__init__.py
  simulation/core/services/command_service.py
  simulation/core/services/command_service_bundles.py
  simulation/core/services/query_service.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_query_service.py
Due: none

Fix markdownlint failures in agent ID proposal
  strategy_planning/2026-03-20_agent_id_migration/proposal.md
Due: markdownlint

Add canonical agent_id contract helpers and model guardrails
  lib/agent_id.py
  simulation/core/models/agent.py
  tests/lib/test_agent_id.py
  tests/simulation/core/test_agent_model.py
Due: none

Add canonical agent_id contract helpers and model guardrails (#268)
  lib/agent_id.py
  simulation/core/models/agent.py
  tests/lib/test_agent_id.py
  tests/simulation/core/test_agent_model.py
Due: none

fix(plan): add required docs metadata
  docs/plans/2026-03-20_agent_id_canonical_contract_661956/plan.md
Due: docs-metadata

Normalize agent creation to canonical_agent_id
  docs/plans/2026-03-20_normalize_agent_creation_paths_582941/notes.md
  jobs/migrate_agents_to_new_schema.py
  simulation/api/services/agent_command_service.py
  simulation/local_dev/seed_fixtures/agent_follow_edges.json
  simulation/local_dev/seed_fixtures/agent_persona_bios.json
  simulation/local_dev/seed_fixtures/agents.json
  simulation/local_dev/seed_fixtures/user_agent_profile_metadata.json
  simulation/local_dev/seed_loader.py
  tests/jobs/test_migrate_agents_to_new_schema.py
  tests/local_dev/test_local_mode_seed.py
Due: docs-metadata

Add plan doc for agent ID normalization; drop redundant _generate_agent_id
  docs/plans/2026-03-20_normalize_agent_creation_paths_582941/plan.md
  simulation/api/services/agent_command_service.py
Due: docs-metadata

refactor and get redundant helper
  simulation/local_dev/seed_loader.py
Due: none

Update agent creation paths to canonical_agent_id (#269)
  docs/plans/2026-03-20_normalize_agent_creation_paths_582941/notes.md
  docs/plans/2026-03-20_normalize_agent_creation_paths_582941/plan.md
  jobs/migrate_agents_to_new_schema.py
  simulation/api/services/agent_command_service.py
  simulation/local_dev/seed_fixtures/agent_follow_edges.json
  simulation/local_dev/seed_fixtures/agent_persona_bios.json
  simulation/local_dev/seed_fixtures/agents.json
  simulation/local_dev/seed_fixtures/user_agent_profile_metadata.json
  simulation/local_dev/seed_loader.py
  tests/jobs/test_migrate_agents_to_new_schema.py
  tests/local_dev/test_local_mode_seed.py
Due: docs-metadata

agent_handle to agent_id migration (#267)
  docs/plans/2026-03-20_agent_id_canonical_contract_661956/plan.md
  docs/plans/2026-03-20_normalize_agent_creation_paths_582941/notes.md
  docs/plans/2026-03-20_normalize_agent_creation_paths_582941/plan.md
  jobs/migrate_agents_to_new_schema.py
  lib/agent_id.py
  simulation/api/services/agent_command_service.py
  simulation/core/models/agent.py
  simulation/local_dev/seed_fixtures/agent_follow_edges.json
  simulation/local_dev/seed_fixtures/agent_persona_bios.json
  simulation/local_dev/seed_fixtures/agents.json
  simulation/local_dev/seed_fixtures/user_agent_profile_metadata.json
  simulation/local_dev/seed_loader.py
  strategy_planning/2026-03-20_agent_id_migration/proposal.md
  tests/jobs/test_migrate_agents_to_new_schema.py
  tests/lib/test_agent_id.py
  tests/local_dev/test_local_mode_seed.py
  tests/simulation/core/test_agent_model.py
Due: markdownlint, docs-metadata

feat(db): migrate agent PK and FKs to canonical hex ids
  db/migrations/versions/c3d5e7f9a0b2_rewrite_agent_primary_keys_and_fks.py
  docs/db/2026_03_20-142401-migrate__agent-id-pk-fk-rewrite/schema.md
  docs/db/2026_03_20-142401-migrate__agent-id-pk-fk-rewrite/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-20_agent_id_fk_primary_key_migration_847291/plan.md
  lib/agent_id_migration.py
  tests/db/test_agent_id_pk_migration.py
  tests/lib/test_agent_id_migration.py
Due: markdownlint, docs-metadata

fix(db): clarify migrate-to-head bootstrap and log Alembic revision
  db/adapters/sqlite/sqlite.py
  db/migrations/README
Due: none

refactor(db): move agent_id migration helpers to scripts/migrations
  db/migrations/versions/c3d5e7f9a0b2_rewrite_agent_primary_keys_and_fks.py
  docs/plans/2026-03-20_agent_id_fk_primary_key_migration_847291/plan.md
  scripts/migrations/__init__.py
  scripts/migrations/agent_id_migration.py
  tests/db/test_agent_id_pk_migration.py
  tests/scripts/migrations/test_agent_id_migration.py
Due: docs-metadata

docs(plans): full agent_id FK/PK migration spec in plan.md
  docs/plans/2026-03-20_agent_id_fk_primary_key_migration_847291/plan.md
Due: docs-metadata

fix(db): two-phase agent id rewrite + foreign_key_check in c3d5e7f9a0b2
  db/migrations/versions/c3d5e7f9a0b2_rewrite_agent_primary_keys_and_fks.py
  tests/db/test_agent_id_pk_migration.py
Due: none

refactor(job): split migration main into single-purpose helpers
  jobs/migrate_agents_to_new_schema.py
Due: none

style(job): apply ruff formatting for migration helper
  jobs/migrate_agents_to_new_schema.py
Due: none

fix(db): scope PRAGMA foreign_key_check to agent migration tables
  db/migrations/versions/c3d5e7f9a0b2_rewrite_agent_primary_keys_and_fks.py
Due: none

Migrate legacy agent PK/FKs to canonical hex IDs (#270)
  db/adapters/sqlite/sqlite.py
  db/migrations/README
  db/migrations/versions/c3d5e7f9a0b2_rewrite_agent_primary_keys_and_fks.py
  docs/db/2026_03_20-142401-migrate__agent-id-pk-fk-rewrite/schema.md
  docs/db/2026_03_20-142401-migrate__agent-id-pk-fk-rewrite/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-20_agent_id_fk_primary_key_migration_847291/plan.md
  scripts/migrations/__init__.py
  scripts/migrations/agent_id_migration.py
  tests/db/test_agent_id_pk_migration.py
  tests/scripts/migrations/test_agent_id_migration.py
Due: markdownlint, docs-metadata

rename classifer.py to classifier.py
  ml_tooling/polarity/classifier.py
Due: none

add PolarityLabel and PolarityValue classes
  ml_tooling/polarity/models.py
Due: none

write sanity check tests for polarity classifier
  ml_tooling/polarity/examples_test.py
Due: none

fix error message to be Polarity Pipeline instead of Emotion Pipeline
  ml_tooling/polarity/classifier.py
Due: none

add unit testing
  ml_tooling/polarity/tests/test_classifier.py
Due: none

fix __call__ method to preprocess text before tokenization
  ml_tooling/polarity/classifier.py
Due: none

add strict=True to zipping
  ml_tooling/polarity/classifier.py
Due: none

add comments to allow printing
  ml_tooling/polarity/examples_test.py
Due: none

fix noq print comment
  ml_tooling/polarity/examples_test.py
Due: none

refactor POLARITIES constant to be in one file and imported into files that use it
  ml_tooling/polarity/classifier.py
  ml_tooling/polarity/constants.py
  ml_tooling/polarity/examples_test.py
Due: none

fix: agent_id resolution, validation, and canonical-ID consistency
  db/adapters/sqlite/agent_id_resolve.py
  db/migrations/versions/d4f8a1c3e5b7_action_feed_id_semantics.py
  db/repositories/generated_feed_repository.py
  feeds/feed_generator.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/random_simple.py
  simulation/core/action_generators/like/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_policy/candidate_filter.py
  simulation/core/services/query_service.py
  simulation/core/utils/validators.py
  tests/api/conftest.py
  tests/api/test_health.py
  tests/api/test_security_headers.py
  tests/db/repositories/test_action_repositories_integration.py
  tests/db/repositories/test_generated_feed_repository.py
  tests/factories/actions.py
  tests/factories/posts.py
  tests/simulation/core/test_agent_action_rules_validator.py
  tests/simulation/core/test_agent_actions.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_naive_llm_action_generators.py
  tests/simulation/core/test_query_service.py
  tests/simulation/core/test_random_simple_comment_policy.py
  tests/simulation/core/test_random_simple_follow_policy.py
Due: none

refactor preprocess function to have more descriptive function name
  ml_tooling/polarity/classifier.py
Due: none

refactor to pass CI checks
  ml_tooling/polarity/classifier.py
  ml_tooling/polarity/tests/test_classifier.py
Due: none

add nosec b101 comments to pass CI
  ml_tooling/polarity/tests/test_classifier.py
Due: none

make CI download scipy
  .github/workflows/ci.yml
Due: none
