Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, oxlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Ruff hooks mirror CI (.github/workflows/ci.yml): ruff check + ruff format --check
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      # Same as CI: uv run ruff check .
      - id: ruff-check
        args: [--fix]
      # Same as CI: uv run ruff format --check .
      - id: ruff-format
        args: [--check]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.21.0]
        args: ["--config", ".markdownlint.yml"]
        types: [markdown]
        exclude: ^docs/plans/
      - id: db-schema-docs-check
        name: db schema docs (check latest)
        entry: bash -lc "uv run python scripts/generate_db_schema_docs.py --check"
        language: system
        pass_filenames: false
      - id: db-schema-drift
        name: db schema drift (migrations vs metadata)
        entry: bash -lc "uv run python scripts/check_db_schema_drift.py"
        language: system
        pass_filenames: false
      - id: complexipy
        name: complexipy
        entry: bash -lc "uv run --extra test complexipy . --max-complexity-allowed 999"
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test pyright ."
        language: system
        pass_filenames: false
      - id: oxlint
        name: oxlint + React Doctor (ui)
        entry: bash -lc "cd ui && (test -d node_modules || npm install) && npx oxlint . --react-plugin && node scripts/check-react-doctor.mjs"
        language: system
        pass_filenames: false
        files: ^ui/

Add plan doc for agent search
  docs/plans/2026-02-25_agent_search_filtering_217714/PLAN.md
Due: none

Add de-duplicated feature ideas report (2026-02-25-2)
  docs/feature_ideas/2026-02-25-2_feature_ideas.md
  docs/feature_ideas/2026-02-25_feature_ideas.md
Due: markdownlint

Apply suggestion from @coderabbitai[bot]
  ui/lib/api/simulation.ts
Due: oxlint

docs: suggest custom architecture linters (#140)
  docs/SUGGESTED_CUSTOM_LINTERS.md
Due: markdownlint

Use AgentRecordFactory in agent query tests
  tests/api/test_simulation_agents.py
Due: none

Harden agent query tests and UI limits
  db/adapters/sqlite/agent_adapter.py
  tests/api/test_simulation_agents.py
  ui/components/ui/SearchInput.tsx
  ui/hooks/useSimulationPageState.ts
Due: oxlint

Add TS custom ESLint linters (TS-1..TS-5)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  ui/app/auth/callback/page.tsx
  ui/components/details/DetailsPanel.tsx
  ui/contexts/AuthContext.tsx
  ui/eslint-rules/index.mjs
  ui/eslint-rules/utils/path.mjs
  ui/eslint.config.mjs
  ui/hooks/useSimulationPageState.ts
  ui/lib/env.ts
  ui/package-lock.json
  ui/package.json
Due: oxlint

docs: add plan screenshots
  docs/plans/2026-02-25_ts-custom-eslint-linters_548291/images/after/auth-callback.png
  docs/plans/2026-02-25_ts-custom-eslint-linters_548291/images/after/home.png
  docs/plans/2026-02-25_ts-custom-eslint-linters_548291/images/before/auth-callback.png
  docs/plans/2026-02-25_ts-custom-eslint-linters_548291/images/before/home.png
Due: none

Enforce PY-1 import contracts with import-linter
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/SUGGESTED_CUSTOM_LINTERS.md
  pyproject.toml
  simulation/api/errors.py
  simulation/api/routes/simulation.py
  simulation/api/services/agent_command_service.py
  simulation/api/services/metadata_service.py
  simulation/api/services/run_execution_service.py
  simulation/api/services/run_query_service.py
  simulation/core/agent_actions.py
  simulation/core/command_service.py
  simulation/core/models/agents.py
  simulation/core/models/runs.py
  tests/api/test_run_query_service.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_social_media_agent.py
Due: markdownlint

few manual fixes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  simulation/core/agent_actions.py
  simulation/core/models/runs.py
  tests/simulation/core/test_agent_actions.py
Due: none

Enforce PY-1 import contracts with import-linter (#154)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/SUGGESTED_CUSTOM_LINTERS.md
  pyproject.toml
  simulation/api/errors.py
  simulation/api/routes/simulation.py
  simulation/api/services/agent_command_service.py
  simulation/api/services/metadata_service.py
  simulation/api/services/run_execution_service.py
  simulation/api/services/run_query_service.py
  simulation/core/agent_actions.py
  simulation/core/command_service.py
  simulation/core/models/agents.py
  simulation/core/models/runs.py
  tests/api/test_run_query_service.py
  tests/simulation/core/test_agent_actions.py
  tests/simulation/core/test_command_service.py
Due: markdownlint

Apply suggestion from @coderabbitai[bot]
  ui/hooks/useSimulationPageState.ts
Due: oxlint

Add agent search/filtering via q param (#152)
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  docs/plans/2026-02-25_agent_search_filtering_217714/PLAN.md
  docs/plans/2026-02-25_agent_search_filtering_217714/images/after/create-agent-link-search.png
  docs/plans/2026-02-25_agent_search_filtering_217714/images/after/view-agents-search.png
  docs/plans/2026-02-25_agent_search_filtering_217714/images/before/create-agent-link-section.png
  docs/plans/2026-02-25_agent_search_filtering_217714/images/before/view-agents.png
  lib/sql_like.py
  simulation/api/routes/simulation.py
  simulation/api/services/agent_query_service.py
  tests/api/test_simulation_agents.py
  ui/app/page.tsx
  ui/components/agents/CreateAgentView.tsx
  ui/components/sidebars/RunHistorySidebar.tsx
  ui/components/ui/SearchInput.tsx
  ui/hooks/useSimulationPageState.ts
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

ui: fix custom ESLint rules per CodeRabbit
  ui/eslint-rules/index.mjs
  ui/eslint-rules/utils/path.mjs
Due: oxlint

ui: address CodeRabbit follow-ups
  ui/contexts/AuthContext.tsx
  ui/eslint-rules/index.mjs
  ui/eslint-rules/utils/path.mjs
Due: oxlint

ui: handle OAuth callback errors
  ui/app/auth/callback/page.tsx
Due: oxlint

ui: tighten custom lint utilities
  ui/eslint-rules/index.mjs
  ui/eslint-rules/utils/path.mjs
Due: oxlint

ui: address CodeRabbit perf + request-id feedback
  .pre-commit-config.yaml
  ui/eslint-rules/index.mjs
  ui/hooks/useSimulationPageState.ts
Due: oxlint

ui: refine TS-4 heuristic docs + per-run request ids
  ui/eslint-rules/index.mjs
  ui/hooks/useSimulationPageState.ts
Due: oxlint

Add Python dependency injection guard
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  ai/create_initial_agents.py
  docs/SUGGESTED_CUSTOM_LINTERS.md
  docs/plans/2026-02-26_python_dependency_injection_guard_482931/plan.md
  docs/runbooks/PYTHON_DI_GUARD.md
  feeds/candidate_generation.py
  feeds/feed_generator.py
  lint/semgrep/python-di.yml
  scripts/lint_architecture.py
  simulation/api/main.py
  simulation/api/routes/simulation.py
  simulation/api/services/agent_command_service.py
  simulation/api/services/agent_query_service.py
  simulation/core/action_generators/comment/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/comment/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/like/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/like/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/registry.py
  simulation/core/factories/action_generators.py
  simulation/core/factories/agent.py
  simulation/core/factories/engine.py
  tests/simulation/core/test_dependencies.py
Due: markdownlint

ui: warn on unknown layering
  ui/eslint-rules/index.mjs
Due: oxlint

Add TS custom ESLint linters (TS-1..TS-5) (#153)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/plans/2026-02-25_ts-custom-eslint-linters_548291/images/after/auth-callback.png
  docs/plans/2026-02-25_ts-custom-eslint-linters_548291/images/after/home.png
  docs/plans/2026-02-25_ts-custom-eslint-linters_548291/images/before/auth-callback.png
  docs/plans/2026-02-25_ts-custom-eslint-linters_548291/images/before/home.png
  ui/app/auth/callback/page.tsx
  ui/components/details/DetailsPanel.tsx
  ui/contexts/AuthContext.tsx
  ui/eslint-rules/index.mjs
  ui/eslint-rules/utils/path.mjs
  ui/eslint.config.mjs
  ui/hooks/useSimulationPageState.ts
  ui/lib/env.ts
  ui/package-lock.json
  ui/package.json
Due: oxlint

Add metadata catalog for docs
  docs/plans/2026-02-18_naive_llm_action_generators_887eadcb/plan.md
  docs/plans/2026-02-19_feed_algorithm_frontend/unit_2_feed_algorithm_frontend_8547c724.plan.md
  docs/plans/2026-02-19_feed_algorithms_unit1_backend_8b6b27/feed_algorithms_backend_refactor_8b6b27b2.plan.md
  docs/plans/2026-02-19_log_route_completion_decorator_246801/VERIFICATION.md
  docs/plans/2026-02-19_log_route_completion_decorator_246801/plan.md
  docs/plans/2026-02-19_migrate_agents_backend/migrate_agents_backend.plan.md
  docs/plans/2026-02-19_migrate_posts_backend/plan.md
  docs/plans/2026-02-19_rate_limiting_post_paths_847291/plan.md
  docs/plans/2026-02-19_security_headers_482917/plan.md
  docs/plans/2026-02-19_user_created_agents_migration_246801/user-created_agents_migration_d0532522.plan.md
  docs/plans/2026-02-20_auth_phase1_gate_app_382915/OAUTH_SETUP.md
  docs/plans/2026-02-20_disable_auth_local_dev/plan.md
  docs/plans/2026-02-20_env_vars_loader_847291/plan.md
  docs/plans/2026-02-20_feed_algorithms_typing_order_a1b2c3/feed_algorithms_typing_and_order_5131ff86.plan.md
  docs/plans/2026-02-23_create_agent_tab_741a962a/create_agent_tab_741a962a.plan.md
  docs/plans/2026-02-23_db_test_fixtures_consolidation_56cf5a/plan.md
  docs/plans/2026-02-23_list_agents_batch_fetch_n1_a1b2c3/list_agents_batch_fetch_n1.plan.md
  docs/plans/2026-02-23_metrics_metadata_api_9c4e2a/plan.md
  docs/plans/2026-02-23_repo_managed_conn_264784/plan.md
  docs/plans/2026-02-23_run_config_metrics_selection_80757c/plan.md
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/after/README.md
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/images/before/README.md
  docs/plans/2026-02-23_view_agents_feature_a1b2c3/view_agents_feature_32a5c45b.plan.md
  docs/plans/2026-02-24_agent_list_pagination_739412/plan.md
  docs/plans/2026-02-24_local_dev_mode_seed_data_391204/plan.md
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/images/after/README.md
  docs/plans/2026-02-24_metrics_selector_ui_9f3a2b/metrics_selector_ui_34c8ca07.plan.md
  docs/plans/2026-02-24_run_params_display_4d5e6f/run_params_display_part_4_7ad4614e.plan.md
  docs/plans/2026-02-25_agent_search_filtering_217714/PLAN.md
  docs/plans/2026-02-25_default_config_metric_keys_3f8c2a/default-config-metric-keys_5484e950.plan.md
  docs/plans/2026-02-25_refactor_action_history_action_policy_482917/notes.md
  docs/plans/2026-02-25_refactor_action_history_action_policy_482917/pr.md
  docs/plans/2026-02-25_refactor_action_history_action_policy_482917/refactor_action_policy_packages_7bb6a460.plan.md
  docs/plans/2026-02-25_test_factories_146146/notes.md
  docs/plans/agents_backend_and_view_integration_0b63a071.plan.md
  docs/plans/index.md
  docs/runbooks/LOCAL_DEVELOPMENT.md
  docs/runbooks/LOCAL_DEV_AUTH.md
  docs/runbooks/UPDATE_SCHEMAS.md
Due: markdownlint

Add validation for handwritten UI interfaces
  ui/package.json
  ui/scripts/validate-handwritten-interfaces.mts
  ui/types/index.ts
Due: oxlint

Add docs metadata linter
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  AGENTS.md
  docs/RULES.md
  scripts/check_docs_metadata.py
  tests/test_docs_metadata.py
Due: markdownlint

Align DI guard CI with pre-commit
  .github/workflows/ci.yml
  scripts/lint_architecture.py
  tests/simulation/core/test_dependencies.py
Due: none

Fix generated bio service imports
  db/adapters/base.py
  db/adapters/sqlite/agent_generated_bio_adapter.py
  db/repositories/__init__.py
  db/repositories/agent_generated_bio_repository.py
  db/schema.py
  docs/db/2026_02_26-083707-support-ai-generated-bios/schema.md
  docs/db/2026_02_26-083707-support-ai-generated-bios/schema.snapshot.json
  docs/db/LATEST.txt
  simulation/api/routes/simulation.py
  simulation/api/services/agent_generated_bio_service.py
  tests/db/adapters/sqlite/test_agent_generated_bio_adapter.py
  tests/db/repositories/test_agent_generated_bio_repository.py
Due: markdownlint

Fix docs metadata check and hypothesis tests
  docs/plans/2026-02-25_issue145_move_core_utils_a03590/issue145_move_core_utils.plan.md
  tests/test_docs_metadata.py
Due: none

Add PR description
  docs/plans/2026-02-25_support_ai_generated_bios_913742/pr.md
Due: none

update tests
  tests/api/test_simulation_run.py
Due: none

Add missing docs metadata for existing plan
  docs/plans/2026-02-25_issue145_move_core_utils_a03590/issue145_move_core_utils.plan.md
  docs/plans/index.md
Due: none

Allow manual CI runs
  .github/workflows/ci.yml
Due: none

Run CI on codex branch pushes
  .github/workflows/ci.yml
Due: none

Apply suggestion from @coderabbitai[bot]
  scripts/lint_architecture.py
Due: none

Add Python dependency injection guard (#156)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  ai/create_initial_agents.py
  docs/SUGGESTED_CUSTOM_LINTERS.md
  docs/plans/2026-02-26_python_dependency_injection_guard_482931/plan.md
  docs/runbooks/PYTHON_DI_GUARD.md
  feeds/candidate_generation.py
  feeds/feed_generator.py
  lint/semgrep/python-di.yml
  scripts/lint_architecture.py
  simulation/api/main.py
  simulation/api/routes/simulation.py
  simulation/api/services/agent_command_service.py
  simulation/api/services/agent_query_service.py
  simulation/core/action_generators/comment/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/comment/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/like/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/like/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/registry.py
  simulation/core/factories/action_generators.py
  simulation/core/factories/agent.py
  simulation/core/factories/engine.py
  tests/simulation/core/test_dependencies.py
Due: markdownlint
