Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, docs-metadata, oxlint

markdownlint:
  name: markdownlint (markdownlint-cli2)
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.21.0
  args:
  - --config
  - .markdownlint.yml

docs-metadata:
  name: docs metadata
  entry: bash -lc "uv run python scripts/check_docs_metadata.py"
  language: system
  pass_filenames: true

oxlint:
  name: eslint (custom rules) + oxlint (ui)
  entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
  language: system
  pass_filenames: false

use fixture + patching to have the testing suite remove the routes it added after done testing
  tests/api/test_exception_handlers.py
Due: none

feat(db): add turns parent and turn_* schema spine (#283)
  db/adapters/base.py
  db/adapters/sqlite/comment_adapter.py
  db/adapters/sqlite/follow_adapter.py
  db/adapters/sqlite/generated_feed_adapter.py
  db/adapters/sqlite/like_adapter.py
  db/adapters/sqlite/run_adapter.py
  db/adapters/sqlite/sqlite.py
  db/adapters/sqlite/turn_parent.py
  db/migrations/versions/f3c9a1e7b2d4_turn_table_v2_schema_spine.py
  db/schema.py
  docs/db/2026_03_22-192628-feat__turn-table-v2-schema-spine/schema.md
  docs/db/2026_03_22-192628-feat__turn-table-v2-schema-spine/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-22_turn_table_schema_spine_847292/verification.md
  scripts/lint_schema_conventions.py
  tests/db/adapters/sqlite/test_generated_feed_adapter.py
  tests/db/adapters/sqlite/test_run_adapter.py
  tests/db/adapters/sqlite/test_sqlite.py
  tests/db/agent_id_inventory.py
  tests/db/repositories/conftest.py
  tests/db/repositories/test_action_repositories_integration.py
  tests/db/repositories/test_generated_feed_repository.py
  tests/db/repositories/test_generated_feed_repository_integration.py
  tests/db/repositories/test_metrics_repository_integration.py
  tests/db/repositories/test_run_repository_integration.py
  tests/db/test_turn_table_v2_schema_migration.py
Due: markdownlint, docs-metadata

Migrate turn writes to one atomic persistence path.
  db/adapters/sqlite/generated_feed_adapter.py
  db/repositories/generated_feed_repository.py
  db/repositories/interfaces.py
  db/services/simulation_persistence_service.py
  feeds/feed_generator.py
  feeds/feed_generator_adapter.py
  feeds/interfaces.py
  simulation/core/factories/engine.py
  simulation/core/services/command_service.py
  tests/db/repositories/conftest.py
  tests/db/services/test_simulation_persistence_service.py
  tests/feeds/test_feed_generator.py
  tests/simulation/core/test_command_service.py
Due: none

Fix generated-feed FK ordering in seed and query tests.
  simulation/local_dev/seed_loader.py
  tests/simulation/core/test_query_service.py
Due: none

Add docs metadata to turn-table planning files.
  docs/plans/2026-03-22_turn_table_schema_spine_847292/plan.md
  docs/plans/2026-03-23_atomic_turn_write_bundle_847293/plan.md
Due: docs-metadata

Align command-service tests with FeedGenerationResult contract.
  tests/api/test_simulation_run.py
  tests/db/repositories/conftest.py
  tests/db/repositories/test_generated_feed_repository_integration.py
  tests/simulation/core/test_command_service.py
Due: none

Migrate turn writes to one atomic bundle (#286)
  db/adapters/sqlite/generated_feed_adapter.py
  db/repositories/generated_feed_repository.py
  db/repositories/interfaces.py
  db/services/simulation_persistence_service.py
  docs/plans/2026-03-22_turn_table_schema_spine_847292/plan.md
  docs/plans/2026-03-23_atomic_turn_write_bundle_847293/plan.md
  feeds/feed_generator.py
  feeds/feed_generator_adapter.py
  feeds/interfaces.py
  simulation/core/factories/engine.py
  simulation/core/services/command_service.py
  simulation/local_dev/seed_loader.py
  tests/api/test_simulation_run.py
  tests/db/repositories/conftest.py
  tests/db/repositories/test_generated_feed_repository_integration.py
  tests/db/services/test_simulation_persistence_service.py
  tests/feeds/test_feed_generator.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_query_service.py
Due: docs-metadata

docs: align turn read-path docs with turns/turn_* tables
  db/adapters/sqlite/run_adapter.py
  db/adapters/sqlite/turn_parent.py
  db/repositories/comment_repository.py
  db/repositories/follow_repository.py
  db/repositories/generated_feed_repository.py
  db/repositories/interfaces.py
  db/repositories/like_repository.py
  db/repositories/run_repository.py
  docs/plans/2026-03-23_turn_repository_read_path_cutover_431286/plan.md
  docs/plans/2026-03-23_turn_repository_read_path_cutover_431286/verification.md
  simulation/api/services/run_query_service.py
  simulation/core/models/persisted_actions.py
  simulation/core/models/turns.py
  simulation/core/services/query_service.py
  tests/simulation/core/test_query_service.py
Due: docs-metadata

docs: align turn read-path docs with turns/turn_* tables (#287)
  db/adapters/sqlite/run_adapter.py
  db/adapters/sqlite/turn_parent.py
  db/repositories/comment_repository.py
  db/repositories/follow_repository.py
  db/repositories/generated_feed_repository.py
  db/repositories/interfaces.py
  db/repositories/like_repository.py
  db/repositories/run_repository.py
  docs/plans/2026-03-23_turn_repository_read_path_cutover_431286/plan.md
  docs/plans/2026-03-23_turn_repository_read_path_cutover_431286/verification.md
  simulation/api/services/run_query_service.py
  simulation/core/models/persisted_actions.py
  simulation/core/models/turns.py
  simulation/core/services/query_service.py
  tests/simulation/core/test_query_service.py
Due: docs-metadata

Add turn_posts read path and mixed feed-visible post hydration
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/turn_post_adapter.py
  db/repositories/__init__.py
  db/repositories/interfaces.py
  db/repositories/turn_post_repository.py
  docs/architecture/turn-feed-post-id-contract.md
  docs/plans/2026-03-23_turn_posts_mixed_hydration_392847/plan.md
  docs/plans/2026-03-23_turn_posts_mixed_hydration_392847/verification.md
  simulation/core/engine.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/models/posts.py
  simulation/core/models/turn_posts.py
  simulation/core/services/query_service.py
  simulation/core/utils/feed_visible_post_hydration.py
  tests/conftest.py
  tests/db/repositories/test_turn_post_repository_integration.py
  tests/factories/__init__.py
  tests/factories/turn_posts.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_feed_visible_post_hydration.py
  tests/simulation/core/test_query_service.py
  tests/simulation/core/test_turn_posts.py
Due: markdownlint, docs-metadata

Review: single run_id validation for turn posts, docstring, negative tests
  db/adapters/sqlite/turn_post_adapter.py
  simulation/core/services/query_service.py
  tests/db/repositories/test_turn_post_repository_integration.py
Due: none

Add turn_posts read path and mixed post hydration (#288)
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/turn_post_adapter.py
  db/repositories/__init__.py
  db/repositories/interfaces.py
  db/repositories/turn_post_repository.py
  docs/architecture/turn-feed-post-id-contract.md
  docs/plans/2026-03-23_turn_posts_mixed_hydration_392847/plan.md
  docs/plans/2026-03-23_turn_posts_mixed_hydration_392847/verification.md
  simulation/core/engine.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/models/posts.py
  simulation/core/models/turn_posts.py
  simulation/core/services/query_service.py
  simulation/core/utils/feed_visible_post_hydration.py
  tests/conftest.py
  tests/db/repositories/test_turn_post_repository_integration.py
  tests/factories/__init__.py
  tests/factories/turn_posts.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_feed_visible_post_hydration.py
  tests/simulation/core/test_query_service.py
  tests/simulation/core/test_turn_posts.py
Due: markdownlint, docs-metadata

Add turn-authored posts (TurnAction.POST) with subsequent-turn feed visibility
  db/adapters/base.py
  db/adapters/sqlite/run_adapter.py
  db/adapters/sqlite/turn_post_adapter.py
  db/repositories/interfaces.py
  db/repositories/turn_post_repository.py
  db/services/simulation_persistence_service.py
  docs/architecture/turn-feed-post-id-contract.md
  docs/plans/2026-03-23_authored_posts_subsequent_turns_847293/plan.md
  docs/plans/2026-03-23_authored_posts_subsequent_turns_847293/verification.md
  feeds/candidate_generation.py
  feeds/feed_generator.py
  feeds/feed_generator_adapter.py
  simulation/api/services/run_query_service.py
  simulation/core/action_generators/post/__init__.py
  simulation/core/action_generators/post/algorithms/__init__.py
  simulation/core/action_generators/post/algorithms/simple_deterministic.py
  simulation/core/action_policy/rules_validator.py
  simulation/core/agent_actions.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/models/actions.py
  simulation/core/models/generated/post.py
  simulation/core/models/turns.py
  simulation/core/services/command_service.py
  simulation/core/services/command_service_bundles.py
  simulation/core/services/query_service.py
  simulation/core/utils/turn_data_hydration.py
  tests/db/repositories/test_turn_post_repository_integration.py
  tests/db/services/test_simulation_persistence_service.py
  tests/feeds/test_feed_generator.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  ui/types/api.generated.ts
Due: markdownlint, docs-metadata, oxlint

chore(ui): sync OpenAPI spec with TurnAction.post enum
  ui/openapi.json
Due: oxlint

Turn posts: validate list reads, deterministic generator, docs, tests
  db/adapters/base.py
  db/adapters/sqlite/turn_post_adapter.py
  db/repositories/interfaces.py
  feeds/feed_generator.py
  simulation/core/action_generators/post/algorithms/simple_deterministic.py
  simulation/core/agent_actions.py
  simulation/core/services/command_service.py
  simulation/core/utils/interfaces.py
  simulation/core/utils/turn_data_hydration.py
  tests/db/services/test_simulation_persistence_service.py
  tests/simulation/core/test_turn_posts.py
Due: none

Add turn-authored posts with subsequent-turn feed visibility (#289)
  db/adapters/base.py
  db/adapters/sqlite/run_adapter.py
  db/adapters/sqlite/turn_post_adapter.py
  db/repositories/interfaces.py
  db/repositories/turn_post_repository.py
  db/services/simulation_persistence_service.py
  docs/architecture/turn-feed-post-id-contract.md
  docs/plans/2026-03-23_authored_posts_subsequent_turns_847293/plan.md
  docs/plans/2026-03-23_authored_posts_subsequent_turns_847293/verification.md
  feeds/candidate_generation.py
  feeds/feed_generator.py
  feeds/feed_generator_adapter.py
  simulation/api/services/run_query_service.py
  simulation/core/action_generators/post/__init__.py
  simulation/core/action_generators/post/algorithms/__init__.py
  simulation/core/action_generators/post/algorithms/simple_deterministic.py
  simulation/core/action_policy/rules_validator.py
  simulation/core/agent_actions.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/models/actions.py
  simulation/core/models/generated/post.py
  simulation/core/models/turns.py
  simulation/core/services/command_service.py
  simulation/core/services/command_service_bundles.py
  simulation/core/services/query_service.py
  simulation/core/utils/interfaces.py
  simulation/core/utils/turn_data_hydration.py
  tests/db/repositories/test_turn_post_repository_integration.py
  tests/db/services/test_simulation_persistence_service.py
  tests/feeds/test_feed_generator.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_turn_posts.py
  ui/openapi.json
  ui/types/api.generated.ts
Due: markdownlint, docs-metadata, oxlint

Enforce turn-table steady state in schema lint and architecture docs
  docs/architecture/agents-turns-runs-data-model.md
  docs/architecture/seed-state-run-snapshot-turn-events.md
  docs/architecture/turn-feed-post-id-contract.md
  docs/plans/2026-03-24_turn_table_steady_state_closeout_584731/plan.md
  docs/plans/2026-03-24_turn_table_steady_state_closeout_584731/verification.md
  scripts/lint_schema_conventions.py
  tests/lint/test_lint_schema_conventions.py
Due: markdownlint, docs-metadata

Enforce turn-table steady state in schema lint and architecture docs (#290)
  docs/architecture/agents-turns-runs-data-model.md
  docs/architecture/seed-state-run-snapshot-turn-events.md
  docs/architecture/turn-feed-post-id-contract.md
  docs/plans/2026-03-24_turn_table_steady_state_closeout_584731/plan.md
  docs/plans/2026-03-24_turn_table_steady_state_closeout_584731/verification.md
  scripts/lint_schema_conventions.py
  tests/lint/test_lint_schema_conventions.py
Due: markdownlint, docs-metadata

add production bug fix plan doc and unblock dependency resolution
  pyproject.toml
  strategy_planning/2026-03-24_prod_bug_diagnosis/PROPOSED_FIXES.md
Due: markdownlint

Add release parity guardrails: auth-aware smoke tests and deploy runbooks
  docs/plans/2026-03-24_release_parity_prod_contract_d2028c/README.md
  docs/runbooks/PRODUCTION_DEPLOYMENT.md
  docs/runbooks/RAILWAY_DEPLOYMENT.md
  docs/runbooks/SMOKE_TEST.md
  docs/runbooks/UI_DEPLOYMENT.md
  tests/api/test_simulation_smoke.py
Due: markdownlint, docs-metadata

Add release parity plan.md with docs metadata (description, tags)
  docs/plans/2026-03-24_release_parity_prod_contract_d2028c/plan.md
Due: docs-metadata

Harden smoke schema validation and handle missing run route.
  tests/api/test_simulation_smoke.py
Due: none

Add release parity guardrails for smoke tests and deploy runbooks (#291)
  docs/plans/2026-03-24_release_parity_prod_contract_d2028c/README.md
  docs/plans/2026-03-24_release_parity_prod_contract_d2028c/plan.md
  docs/runbooks/PRODUCTION_DEPLOYMENT.md
  docs/runbooks/RAILWAY_DEPLOYMENT.md
  docs/runbooks/SMOKE_TEST.md
  docs/runbooks/UI_DEPLOYMENT.md
  tests/api/test_simulation_smoke.py
Due: markdownlint, docs-metadata

Add seed_database_from_fixtures_if_needed canonical entry point
  simulation/api/main.py
  simulation/local_dev/seed_loader.py
  tests/local_dev/test_local_mode_seed.py
Due: none

Add seed_database_from_fixtures_if_needed canonical entry point (#292)
  simulation/api/main.py
  simulation/local_dev/seed_loader.py
  tests/local_dev/test_local_mode_seed.py
Due: none

hotfix: verify Supabase RS256 JWTs via JWKS
  Dockerfile
  docs/runbooks/RAILWAY_DEPLOYMENT.md
  pyproject.toml
  simulation/api/dependencies/auth.py
Due: markdownlint, docs-metadata

Add opt-in Railway demo reset-on-deploy SQLite bootstrap
  Dockerfile
  docs/runbooks/RAILWAY_DEPLOYMENT.md
  simulation/bootstrap/__init__.py
  simulation/bootstrap/railway.py
  tests/bootstrap/__init__.py
  tests/bootstrap/test_railway_demo_deploy.py
Due: markdownlint, docs-metadata

fix(docker): pin git apt version for hadolint DL3008
  Dockerfile
Due: none

fix(auth): allow-list JWKS algs; narrow JWKS except to PyJWT errors
  simulation/api/dependencies/auth.py
Due: none

hotfix: Supabase RS256 JWT verification via JWKS (#293)
  Dockerfile
  docs/runbooks/RAILWAY_DEPLOYMENT.md
  pyproject.toml
  simulation/api/dependencies/auth.py
Due: markdownlint, docs-metadata

Add opt-in Railway demo reset-on-deploy SQLite bootstrap (#294)
  Dockerfile
  docs/runbooks/RAILWAY_DEPLOYMENT.md
  simulation/bootstrap/__init__.py
  simulation/bootstrap/railway.py
  tests/bootstrap/__init__.py
  tests/bootstrap/test_railway_demo_deploy.py
Due: markdownlint, docs-metadata

Add local reset E2E in CI, startup logging, and runbook guardrails
  .github/workflows/ci-e2e.yml
  db/adapters/sqlite/sqlite.py
  docs/plans/2026-03-24_release_guardrails_local_e2e_582731/plan.md
  docs/runbooks/PRODUCTION_DEPLOYMENT.md
  docs/runbooks/RAILWAY_DEPLOYMENT.md
  docs/runbooks/SMOKE_TEST.md
  docs/runbooks/UI_DEPLOYMENT.md
  docs/runbooks/UPDATE_SEED_DATA.md
  pyproject.toml
  simulation/api/main.py
  tests/api/test_simulation_local_reset_e2e.py
Due: markdownlint, docs-metadata

Strengthen local reset E2E for UI parity (dates, agents, completed runs)
  tests/api/test_simulation_local_reset_e2e.py
Due: none

Add release guardrails: local reset E2E CI, startup logs, runbooks (#295)
  .github/workflows/ci-e2e.yml
  db/adapters/sqlite/sqlite.py
  docs/plans/2026-03-24_release_guardrails_local_e2e_582731/plan.md
  docs/runbooks/PRODUCTION_DEPLOYMENT.md
  docs/runbooks/RAILWAY_DEPLOYMENT.md
  docs/runbooks/SMOKE_TEST.md
  docs/runbooks/UI_DEPLOYMENT.md
  docs/runbooks/UPDATE_SEED_DATA.md
  pyproject.toml
  simulation/api/main.py
  tests/api/test_simulation_local_reset_e2e.py
Due: markdownlint, docs-metadata

Improve turn detail agents scroll, pagination, and collapsible rows
  docs/plans/2026-03-24_turn_agents_scroll_pagination_d2028c/images/after/turn_agents_updated.png
  docs/plans/2026-03-24_turn_agents_scroll_pagination_d2028c/images/before/turn_agents_baseline.png
  ui/components/details/DetailsPanel.tsx
  ui/components/run-detail/RunDetailView.tsx
Due: oxlint

Add turn agents UI plan with docs metadata (description, tags)
  docs/plans/2026-03-24_turn_agents_scroll_pagination_d2028c/plan.md
Due: docs-metadata

hotfix: unpin git apt package for python:3.12-slim on Debian trixie
  Dockerfile
Due: none

hotfix: unpin git apt package for python:3.12-slim on Debian trixie (#297)
  Dockerfile
Due: none

Fix turn details agent UI state reset and collapsible a11y
  ui/components/details/DetailsPanel.tsx
Due: oxlint

Hide duplicate agent identity in AgentDetail; label expand regions
  ui/components/agents/AgentsView.tsx
  ui/components/details/AgentDetail.tsx
  ui/components/details/DetailsPanel.tsx
Due: oxlint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^docs/plans/
  docs-metadata: any of: ^docs/(runbooks|plans)/.*\.md$
  oxlint: any of: ^ui/
