Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, docs-metadata, oxlint

markdownlint:
  name: markdownlint (markdownlint-cli2)
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.21.0
  args:
  - --config
  - .markdownlint.yml

docs-metadata:
  name: docs metadata
  entry: bash -lc "uv run python scripts/check_docs_metadata.py"
  language: system
  pass_filenames: true

oxlint:
  name: eslint (custom rules) + oxlint (ui)
  entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
  language: system
  pass_filenames: false

Apply convention fixes from repo review automation (#197)
  tests/api/test_simulation_agents.py
  ui/components/agents/AgentsView.tsx
  ui/components/details/RunSummary.tsx
Due: oxlint

Rename python testing conventions linter
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/plans/2026-03-08_issue195_pytest_class_migration_195195/plan.md
  scripts/lint_python_testing_syntax_conventions.py
  tests/lint/test_lint_python_testing_syntax_conventions.py
Due: docs-metadata

Update tests/simulation/core/test_action_generators_registry.py
  tests/simulation/core/test_action_generators_registry.py
Due: none

Tighten tests and linter conventions
  scripts/lint_python_testing_syntax_conventions.py
  tests/api/test_run_metric_keys.py
  tests/api/test_simulation_run.py
  tests/lint/test_lint_python_testing_syntax_conventions.py
  tests/local_dev/test_local_mode_seed.py
Due: none

Format test_action_generators_registry
  tests/simulation/core/test_action_generators_registry.py
Due: none

Migrate data architecture
  temp/2026-03-08_data_architecture_rules/00_architecture_distinction_riff.md
  temp/2026-03-08_data_architecture_rules/01_existing_tables_and_proposed_taxonomy.md
  temp/2026-03-08_data_architecture_rules/README.md
Due: markdownlint

Add plan for post_source refactor
  docs/plans/2026-02-27_post_source_refactor_163163/plan.md
Due: docs-metadata

Fix naive LLM like generator post_id mapping
  simulation/core/action_generators/like/algorithms/naive_llm/algorithm.py
Due: none

add migration plan
  temp/2026-03-08_data_architecture_rules/01_existing_tables_and_proposed_taxonomy.md
Due: markdownlint

update notes
  temp/2026-03-08_data_architecture_rules/02_full_migration_pr_plan.md
Due: markdownlint

Apply suggestion from @coderabbitai[bot]
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
Due: none

Apply suggestion from @coderabbitai[bot]
  simulation/core/models/feeds.py
Due: none

Tighten post_ids validation and ordering contracts
  db/repositories/interfaces.py
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
  simulation/core/models/feeds.py
  simulation/core/utils/validators.py
Due: none

Add weekly changelog and instructions (#176)
  CHANGELOG.md
  docs/runbooks/HOW_TO_UPDATE_CHANGELOG.md
  docs/weekly_updates/2026-02-23_2026-02-28.md
Due: markdownlint, docs-metadata

[2026-03-08] Codex repo automation - Weekly changelog update
  CHANGELOG.md
  docs/weekly_updates/2026-03-02_2026-03-08.md
Due: markdownlint

[2026-03-08] Codex repo automation - Weekly changelog update (#201)
  CHANGELOG.md
  docs/weekly_updates/2026-03-02_2026-03-08.md
Due: markdownlint

docs: add 2026-03-08 feature ideas scan
  docs/feature_ideas/2026-03-08_feature_ideas.md
Due: markdownlint

Update UI to use Post sourceId
  ui/components/details/AgentDetail.tsx
  ui/components/details/DetailsPanel.tsx
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

Add plan and UI screenshots
  docs/plans/2026-03-08_rename_post_uri_to_source_id_491862/images/after/ui_run_turn_feed.png
  docs/plans/2026-03-08_rename_post_uri_to_source_id_491862/images/before/ui_run_turn_feed.png
  docs/plans/2026-03-08_rename_post_uri_to_source_id_491862/plan.md
Due: docs-metadata

Expand plan doc with data flow
  docs/plans/2026-03-08_rename_post_uri_to_source_id_491862/plan.md
Due: docs-metadata

fix copying run id to only be rendered once and change appropirately when user changes run id
  ui/components/details/RunSummary.tsx
Due: oxlint

add styling for export run button
  ui/components/details/RunSummary.tsx
Due: oxlint

fix console logging to be more explicit about run, agents, completedTurns
  ui/components/details/RunSummary.tsx
Due: oxlint

change exportStatus to mirror copyRunId
  ui/components/details/RunSummary.tsx
Due: oxlint

Fix changelog markdownlint
  CHANGELOG.md
Due: markdownlint

Fix changelog markdownlint (#204)
  CHANGELOG.md
Due: markdownlint

fix console log formatting
  ui/components/details/RunSummary.tsx
Due: oxlint

Export Run Data UI Stub (#187)
  ui/components/details/RunSummary.tsx
Due: oxlint

Add more temp docs
  temp/2026-02-26_interface_updates/IMPLEMENT_FLOW_1_FOLLOWS.md
  temp/2026-03-08_data_architecture_rules/02_proposed_prs_for_migration.md
Due: markdownlint

Add data architecture planning (#198)
  temp/2026-02-26_interface_updates/IMPLEMENT_FLOW_1_FOLLOWS.md
  temp/2026-03-08_data_architecture_rules/00_architecture_distinction_riff.md
  temp/2026-03-08_data_architecture_rules/01_existing_tables_and_proposed_taxonomy.md
  temp/2026-03-08_data_architecture_rules/02_full_migration_pr_plan.md
  temp/2026-03-08_data_architecture_rules/02_proposed_prs_for_migration.md
  temp/2026-03-08_data_architecture_rules/README.md
Due: markdownlint

Codify persistence scope contract
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/README.md
  docs/RULES.md
  docs/architecture/seed-state-run-snapshot-turn-events.md
  docs/plans/2026-03-10_pr1_persistence_contract_55fdb4/plan.md
  scripts/lint_schema_conventions.py
  tests/lint/test_lint_schema_conventions.py
Due: markdownlint, docs-metadata

implemented NERModel
  ml_tooling/ner/model.py
Due: none

add initial testing
  ml_tooling/ner/examples_test.py
Due: none

add optional ner dependencies
  pyproject.toml
Due: none

add more tests and time logging
  ml_tooling/ner/examples_test.py
Due: none

force downloading of ner optional dependencies
  .github/workflows/ci.yml
Due: none

add table for testing 1, 10, 1000, 10k iters
  ml_tooling/ner/examples_test.py
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^docs/plans/
  docs-metadata: any of: ^docs/(runbooks|plans)/.*\.md$
  oxlint: any of: ^ui/
