Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, docs-metadata, oxlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Ruff hooks mirror CI (.github/workflows/ci.yml): ruff check + ruff format --check
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      # Same as CI: uv run ruff check .
      - id: ruff-check
        args: [--fix]
      # Same as CI: uv run ruff format --check .
      - id: ruff-format
        args: [--check]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.21.0]
        args: ["--config", ".markdownlint.yml"]
        types: [markdown]
        exclude: ^docs/plans/
      - id: docs-metadata
        name: docs metadata
        entry: bash -lc "uv run python scripts/check_docs_metadata.py"
        language: system
        pass_filenames: true
        files: ^docs/(runbooks|plans)/.*\.md$
      - id: db-schema-docs-check
        name: db schema docs (check latest)
        entry: bash -lc "uv run python scripts/generate_db_schema_docs.py --check"
        language: system
        pass_filenames: false
      - id: db-schema-drift
        name: db schema drift (migrations vs metadata)
        entry: bash -lc "uv run python scripts/check_db_schema_drift.py"
        language: system
        pass_filenames: false
      - id: complexipy
        name: complexipy
        entry: bash -lc "uv run --extra test complexipy . --max-complexity-allowed 999"
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test pyright ."
        language: system
        pass_filenames: false
      - id: python_lint_import_dependency_boundaries
        name: python_lint_import_dependency_boundaries
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test lint-imports --config pyproject.toml"
        language: system
        pass_filenames: false
      - id: python_dependency_injection_guard
        name: python_dependency_injection_guard (PY-2,3,5,6,7,8,9,10,12)
        entry: bash -lc "set -euo pipefail; root=$(git rev-parse --show-toplevel); cd \"$root\"; uv tool run semgrep --config lint/semgrep --error; PYTHONPATH=\"$root\" uv run --extra test python scripts/lint_architecture.py"
        language: system
        pass_filenames: false
      - id: oxlint
        name: eslint (custom rules) + oxlint (ui)
        entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
        language: system
        pass_filenames: false
        files: ^ui/

Improve turn detail agents list scroll, pagination, and collapsible rows (#296)
  docs/plans/2026-03-24_turn_agents_scroll_pagination_d2028c/images/after/turn_agents_updated.png
  docs/plans/2026-03-24_turn_agents_scroll_pagination_d2028c/images/before/turn_agents_baseline.png
  docs/plans/2026-03-24_turn_agents_scroll_pagination_d2028c/plan.md
  ui/components/agents/AgentsView.tsx
  ui/components/details/AgentDetail.tsx
  ui/components/details/DetailsPanel.tsx
  ui/components/run-detail/RunDetailView.tsx
Due: docs-metadata, oxlint

refactor print init into a helper function
  ml_tooling/emotion/examples_test.py
  ml_tooling/ner/examples_test.py
  ml_tooling/polarity/examples_test.py
  ml_tooling/verification/helpers.py
Due: none

docs: add current turn and start-run flow findings
  docs/CURRENT_TURN_FINDINGS.md
Due: markdownlint

refactor run_same_prompt into a helper function
  ml_tooling/emotion/examples_test.py
  ml_tooling/ner/examples_test.py
  ml_tooling/polarity/examples_test.py
  ml_tooling/verification/helpers.py
Due: none

Pin litellm to 1.81.15 from PyPI; drop git from Docker image
  Dockerfile
  docs/plans/2026-03-24_pin_litellm_1_81_15_481527/plan.md
  pyproject.toml
Due: docs-metadata

Add delete run API and Run Summary UI control
  db/repositories/interfaces.py
  db/repositories/run_repository.py
  db/services/run_deletion_sqlite.py
  docs/plans/2026-03-24_delete_run_a7f3e2/images/after/start_screen_after_delete.png
  docs/plans/2026-03-24_delete_run_a7f3e2/images/before/summary_with_export_and_delete.png
  simulation/api/errors.py
  simulation/api/routes/runs.py
  simulation/api/services/run_delete_service.py
  simulation/core/engine.py
  tests/api/test_simulation_run_delete.py
  ui/app/page.tsx
  ui/components/details/DetailsPanel.tsx
  ui/components/details/RunSummary.tsx
  ui/components/run-detail/RunDetailContext.tsx
  ui/hooks/useSimulationPageState.ts
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

Pin litellm to 1.81.15 from PyPI; drop git from Docker image (#299)
  Dockerfile
  docs/plans/2026-03-24_pin_litellm_1_81_15_481527/plan.md
  pyproject.toml
Due: docs-metadata

Replace delete-run plan screenshots with real UI captures
  docs/plans/2026-03-24_delete_run_a7f3e2/images/after/start_screen_after_delete.png
  docs/plans/2026-03-24_delete_run_a7f3e2/images/before/summary_with_export_and_delete.png
Due: none

Add delete run implementation plan under docs/plans
  docs/plans/2026-03-24_delete_run_a7f3e2/plan.md
Due: docs-metadata

Add strategy planning for async turn design
  strategy_planning/2026-03-24_async_turn_design/design.md
Due: markdownlint

Add simulation actions model doc
  docs/architecture/simulation-actions-model.md
Due: markdownlint

wip
  strategy_planning/2026-03-24_async_turn_design/design.md
Due: markdownlint

Add PROPOSED_APP_UPDATES plan for seed metrics and UI (2026-03-24)
  strategy_planning/2026-03-24_ui_updates/PROPOSED_APP_UPDATES.md
Due: markdownlint

Add Pattern A metrics from TurnMetadata (execution + seed)
  simulation/core/metrics/builtins/actions.py
  simulation/core/metrics/collector.py
  simulation/core/metrics/derive_from_metadata.py
  simulation/core/metrics/interfaces.py
  simulation/core/services/command_service.py
  simulation/local_dev/seed_fixtures/run_metrics.json
  simulation/local_dev/seed_fixtures/turn_metrics.json
  simulation/local_dev/seed_loader.py
  tests/simulation/core/test_derive_seed_metrics.py
  tests/simulation/core/test_metrics_collector.py
Due: none

Colocate derive_from_metadata with seed loader (simulation/local_dev)
  simulation/local_dev/derive_from_metadata.py
  simulation/local_dev/seed_loader.py
  tests/local_dev/test_derive_seed_metrics.py
Due: none

Use explicit MetricsRepository stub for seed derivation; absolute import in seed_loader
  simulation/local_dev/derive_from_metadata.py
  simulation/local_dev/seed_loader.py
Due: none

refactor middleware into separate file
  lib/security_headers.py
  simulation/api/main.py
  simulation/api/middleware.py
Due: none

Refactor Exceptions (#285)
  lib/security_headers.py
  simulation/api/errors.py
  simulation/api/exception_handlers.py
  simulation/api/main.py
  simulation/api/middleware.py
  simulation/api/routes/agents.py
  simulation/api/routes/metadata.py
  simulation/api/routes/posts.py
  simulation/api/routes/runs.py
  tests/api/test_exception_handlers.py
Due: none

Add generated seed metrics fixtures with CI drift check
  .github/workflows/ci.yml
  docs/runbooks/LOCAL_DEVELOPMENT.md
  scripts/generate_seed_metrics_fixtures.py
  simulation/local_dev/seed_fixtures/run_metrics.json
  simulation/local_dev/seed_fixtures/turn_metrics.json
  simulation/local_dev/seed_loader.py
  simulation/local_dev/seed_metrics_fixtures.py
  tests/local_dev/test_generate_seed_metrics_fixtures.py
Due: markdownlint, docs-metadata

updates
  strategy_planning/2026-03-24_async_turn_design/design.md
Due: markdownlint

Create turn-based async design (#301)
  strategy_planning/2026-03-24_async_turn_design/design.md
Due: markdownlint

refactor: run_model_track_time and print_table functions into a helper
  ml_tooling/emotion/constants.py
  ml_tooling/emotion/examples_test.py
  ml_tooling/ner/examples_test.py
  ml_tooling/polarity/examples_test.py
  ml_tooling/verification/helpers.py
Due: none

Add OASIS experiment scaffolding and GPT-5 nano simulation updates.
  .python-version
  docs/README.md
  docs/runbooks/setup-oasis.md
  experiments/README.md
  experiments/oasis_simulator_2026_03_25/README.md
  experiments/oasis_simulator_2026_03_25/misinformation/data/random_network_sample_10.csv
  experiments/oasis_simulator_2026_03_25/misinformation/data/simulation.db
  experiments/oasis_simulator_2026_03_25/misinformation/random_network.csv
  experiments/oasis_simulator_2026_03_25/misinformation/simulation.py
  ml_tooling/llm/llm_service.py
  pyproject.toml
  strategy_planning/2026-03-25_oasis_experiments.md/notes.md
  tests/ml_tooling/llm/test_llm_service.py
Due: markdownlint, docs-metadata

ci: install simulation extra for Pyright and OASIS experiments
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/setup_cursor_cloud_env.sh
Due: none

Add Feature Extraction API GET /health and Railway scaffold
  Dockerfile.feature-extraction
  docs/plans/2026-03-25_feature_extraction_api_health_847291/plan.md
  docs/runbooks/RAILWAY_DEPLOYMENT.md
  ml_tooling/api/__init__.py
  ml_tooling/api/main.py
  ml_tooling/api/routes/__init__.py
  ml_tooling/api/routes/health.py
  tests/ml_tooling/api/test_health.py
Due: markdownlint, docs-metadata

use EXCEPTED_EMOTIONS in constants.py for printing emotion table
  ml_tooling/emotion/classifier.py
  ml_tooling/emotion/constants.py
  ml_tooling/emotion/examples_test.py
Due: none

add TypeVar to strengthen type checking
  ml_tooling/verification/helpers.py
Due: none

Run Feature Extraction image as appuser; extend health version tests
  Dockerfile.feature-extraction
  tests/ml_tooling/api/test_health.py
Due: none

Add Feature Extraction API health endpoint and Railway scaffold (#306)
  Dockerfile.feature-extraction
  docs/plans/2026-03-25_feature_extraction_api_health_847291/plan.md
  docs/runbooks/RAILWAY_DEPLOYMENT.md
  ml_tooling/api/__init__.py
  ml_tooling/api/main.py
  ml_tooling/api/routes/__init__.py
  ml_tooling/api/routes/health.py
  tests/ml_tooling/api/test_health.py
Due: markdownlint, docs-metadata

Add review_results.py to inspect OASIS simulation.db
  experiments/oasis_simulator_2026_03_25/misinformation/review_results.py
Due: none

Add OASIS experiment setup and GPT-5 nano simulation (#305)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  docs/README.md
  docs/runbooks/setup-oasis.md
  experiments/README.md
  experiments/oasis_simulator_2026_03_25/README.md
  experiments/oasis_simulator_2026_03_25/misinformation/data/random_network_sample_10.csv
  experiments/oasis_simulator_2026_03_25/misinformation/data/simulation.db
  experiments/oasis_simulator_2026_03_25/misinformation/random_network.csv
  experiments/oasis_simulator_2026_03_25/misinformation/simulation.py
  ml_tooling/llm/llm_service.py
  pyproject.toml
  scripts/setup_cursor_cloud_env.sh
  strategy_planning/2026-03-25_oasis_experiments.md/notes.md
  tests/ml_tooling/llm/test_llm_service.py
Due: markdownlint, docs-metadata

add experiments visualization script
  experiments/oasis_simulator_2026_03_25/misinformation/review_results.py
Due: none

Add wip planning
  strategy_planning/2026-03-25_ml_tooling_api_planning/plan.md
Due: markdownlint

wip: planning
  strategy_planning/2026-03-26_v2_execution_system_design/plan.md
  strategy_planning/2026-03-26_v2_execution_system_design/simulation_engine.drawio.svg
Due: markdownlint

wip: planning
  strategy_planning/2026-03-26_v2_execution_system_design/plan.md
Due: markdownlint

refactor track_init_time into a an init_model function that uses a decorator to also track runtime
  ml_tooling/emotion/examples_test.py
  ml_tooling/ner/examples_test.py
  ml_tooling/polarity/examples_test.py
  ml_tooling/verification/helpers.py
Due: none

refactor table printing into helper functions
  ml_tooling/emotion/examples_test.py
  ml_tooling/ner/examples_test.py
  ml_tooling/polarity/examples_test.py
  ml_tooling/verification/helpers.py
Due: none

change num emotiosn to be dependent on length of expected_emotinos
  ml_tooling/emotion/constants.py
Due: none
