Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, oxlint

markdownlint:
  name: markdownlint (markdownlint-cli2)
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.21.0
  args:
  - --config
  - .markdownlint.yml

oxlint:
  name: eslint (custom rules) + oxlint (ui)
  entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
  language: system
  pass_filenames: false

Generate UI contracts from OpenAPI
  docs/plans/2026-02-27_ui_schema_source_478301/README.md
  ui/package.json
  ui/scripts/generate-ui-contracts.mts
  ui/scripts/validate-handwritten-interfaces.mts
  ui/types/generated.ts
  ui/types/index.ts
Due: oxlint

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

Handle tsx scripts and keep nullability checks
  ui/package-lock.json
  ui/package.json
  ui/scripts/validate-handwritten-interfaces.mts
Due: oxlint

Clarify docs metadata guidance
  AGENTS.md
Due: markdownlint

Drop validator since UI uses generated contracts
  docs/plans/2026-02-27_ui_schema_source_478301/plan.md
  ui/package.json
  ui/scripts/validate-handwritten-interfaces.mts
Due: oxlint

Add metadata for DI guard plan
  docs/plans/2026-02-26_python_dependency_injection_guard_482931/plan.md
Due: none

Handle transient run config fetch failures
  ui/hooks/useSimulationPageState.ts
Due: oxlint

Use tsx for contract generation and refresh types
  ui/package.json
  ui/scripts/generate-ui-contracts.mts
  ui/types/generated.ts
Due: oxlint

Add agent generated bio model
  simulation/core/models/agent_generated_bio.py
Due: none

Add metadata to schema plan readme
  docs/plans/2026-02-27_ui_schema_source_478301/README.md
Due: none

Add FastAPI API gateway
  Dockerfile
  docker-compose.yml
  docs/README.md
  docs/plans/2026-02-26_fastapi_api_gateway_482931/plan.md
  docs/runbooks/API_GATEWAY_FASTAPI.md
  gateway/__init__.py
  gateway/api/__init__.py
  gateway/api/main.py
  gateway/api/proxy.py
  gateway/api/settings.py
  pyproject.toml
  tests/gateway/test_proxy.py
Due: markdownlint

Handle transient run config fetch failures (#165)
  ui/hooks/useSimulationPageState.ts
Due: oxlint

True up Alembic divergence history
  db/migrations/versions/b5bf30f87165_add_app_users_and_run_app_user.py
  docs/db/2026_02_26-145751-true-up-alembic-divergence-history/schema.md
  docs/db/2026_02_26-145751-true-up-alembic-divergence-history/schema.snapshot.json
  docs/db/LATEST.txt
Due: markdownlint

True up Alembic divergence history (#167)
  db/migrations/versions/b5bf30f87165_add_app_users_and_run_app_user.py
  docs/db/2026_02_26-145751-true-up-alembic-divergence-history/schema.md
  docs/db/2026_02_26-145751-true-up-alembic-divergence-history/schema.snapshot.json
  docs/db/LATEST.txt
Due: markdownlint

Add validation for handwritten UI interfaces (#161)
  docs/plans/2026-02-27_ui_schema_source_478301/README.md
  docs/plans/2026-02-27_ui_schema_source_478301/plan.md
  ui/package-lock.json
  ui/package.json
  ui/scripts/generate-ui-contracts.mts
  ui/types/generated.ts
  ui/types/index.ts
Due: oxlint

update docs
  docs/plans/2026-02-20_auth_phase2_user_attribution_739214/auth-phase2-user-attribution_7a3d2680.plan.md
  docs/plans/2026-02-20_auth_phase2_user_attribution_739214/linearize_alembic_history_5d34f4b8.plan.md
Due: none

scratch plan
  temp/PROPOSED_AGENT_DETAIL_MIGRATION.md
Due: markdownlint

scratch plan
  temp/2026-02-26_interface_updates/PROPOSED_AGENT_DETAIL_MIGRATION.md
  temp/2026-02-26_interface_updates/PROPOSED_START_SIMULATION_FLOW.md
  temp/2026-02-26_interface_updates/README.md
Due: markdownlint

scratch plan
  temp/2026-02-26_interface_updates/PROPOSED_AGENT_DETAIL_MIGRATION.md
Due: markdownlint

Tighten app_user identity contract to require email and display_name
  AUTH_MIGRATION.md
  db/adapters/base.py
  db/adapters/sqlite/app_user_adapter.py
  db/migrations/versions/f0e1d2c3b4a5_enforce_app_user_identity_not_null.py
  db/repositories/app_user_repository.py
  db/repositories/interfaces.py
  db/schema.py
  docs/db/2026_02_26-175110-require-email-display_name/schema.md
  docs/db/2026_02_26-175110-require-email-display_name/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-02-26_required_app_user_identity_734215/README.md
  simulation/api/dependencies/app_user.py
  simulation/core/models/app_user.py
  tests/api/conftest.py
  tests/api/test_app_user_attribution.py
Due: markdownlint

remove file from tracking
  AUTH_MIGRATION.md
Due: markdownlint

Tighten app_user identity contract to require email and display_name (#169)
  db/adapters/base.py
  db/adapters/sqlite/app_user_adapter.py
  db/migrations/versions/f0e1d2c3b4a5_enforce_app_user_identity_not_null.py
  db/repositories/app_user_repository.py
  db/repositories/interfaces.py
  db/schema.py
  docs/db/2026_02_26-175110-require-email-display_name/schema.md
  docs/db/2026_02_26-175110-require-email-display_name/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-02-26_required_app_user_identity_734215/README.md
  simulation/api/dependencies/app_user.py
  simulation/core/models/app_user.py
  tests/api/conftest.py
  tests/api/test_app_user_attribution.py
Due: markdownlint

Add metadata to app user plan
  docs/plans/2026-02-20_auth_phase2_user_attribution_739214/app-user-required-fields_6743b721.plan.md
Due: none

fail fast on missing app user
  simulation/api/routes/simulation.py
Due: none

Validate app user identifiers
  simulation/core/models/app_user.py
  simulation/core/models/runs.py
Due: none

Stabilize env var tests
  tests/api/conftest.py
  tests/lib/test_load_env_vars.py
Due: none

Add metadata to create agent plan
  db/adapters/sqlite/agent_adapter.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  docs/plans/2026-02-26_flow0_pr1_create_agent_submit_739214/flow0-pr1-create-agent-submit_5a7aa136.plan.md
  docs/plans/2026-02-26_flow0_pr1_create_agent_submit_739214/images/before/before.png
  simulation/api/services/agent_query_service.py
  tests/api/test_simulation_agents.py
  ui/app/page.tsx
  ui/components/agents/CreateAgentView.tsx
Due: oxlint

add pics
  docs/plans/2026-02-26_flow0_pr1_create_agent_submit_739214/images/after/create-agent-form.png
  docs/plans/2026-02-26_flow0_pr1_create_agent_submit_739214/images/after/view-agents-new-agent.png
Due: none

Add app_user table and run attribution (Phase 2 auth) (#101)
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/app_user_adapter.py
  db/adapters/sqlite/run_adapter.py
  db/migrations/versions/b5bf30f87165_add_app_users_and_run_app_user.py
  db/migrations/versions/f0e1d2c3b4a5_enforce_app_user_identity_not_null.py
  db/repositories/app_user_repository.py
  db/repositories/interfaces.py
  db/repositories/run_repository.py
  db/schema.py
  docs/db/2026_02_26-145751-true-up-alembic-divergence-history/schema.md
  docs/db/2026_02_26-145751-true-up-alembic-divergence-history/schema.snapshot.json
  docs/db/2026_02_26-175110-require-email-display_name/schema.md
  docs/db/2026_02_26-175110-require-email-display_name/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-02-20_auth_phase2_user_attribution_739214/app-user-required-fields_6743b721.plan.md
  docs/plans/2026-02-20_auth_phase2_user_attribution_739214/auth-phase2-user-attribution_7a3d2680.plan.md
  docs/plans/2026-02-20_auth_phase2_user_attribution_739214/linearize_alembic_history_5d34f4b8.plan.md
  docs/plans/2026-02-26_required_app_user_identity_734215/README.md
  simulation/api/dependencies/app_user.py
  simulation/api/main.py
  simulation/api/routes/simulation.py
  simulation/api/services/run_execution_service.py
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/models/app_user.py
  simulation/core/models/runs.py
  tests/api/conftest.py
  tests/api/test_app_user_attribution.py
  tests/lib/test_load_env_vars.py
  tests/simulation/core/test_engine.py
Due: markdownlint

Migrate naive LLM factories
  docs/plans/2026-02-27_action_generator_factories_d4fa93/plan.md
  docs/runbooks/HOW_TO_CREATE_NEW_FEED_RANKING_ALGORITHM.md
  scripts/lint_architecture.py
  simulation/core/action_generators/comment/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/like/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/registry.py
  simulation/core/factories/action_generators.py
  simulation/core/factories/action_generators/__init__.py
  simulation/core/factories/action_generators/comment/__init__.py
  simulation/core/factories/action_generators/comment/naive_llm.py
  simulation/core/factories/action_generators/follow/__init__.py
  simulation/core/factories/action_generators/follow/naive_llm.py
  simulation/core/factories/action_generators/like/__init__.py
  simulation/core/factories/action_generators/like/naive_llm.py
Due: markdownlint

update docstrings
  db/adapters/base.py
Due: none

Remove extra fields in Create Agent and get submission to work (#170)
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  docs/plans/2026-02-26_flow0_pr1_create_agent_submit_739214/flow0-pr1-create-agent-submit_5a7aa136.plan.md
  docs/plans/2026-02-26_flow0_pr1_create_agent_submit_739214/images/after/create-agent-form.png
  docs/plans/2026-02-26_flow0_pr1_create_agent_submit_739214/images/after/view-agents-new-agent.png
  docs/plans/2026-02-26_flow0_pr1_create_agent_submit_739214/images/before/before.png
  simulation/api/services/agent_query_service.py
  tests/api/test_simulation_agents.py
  ui/app/page.tsx
  ui/components/agents/CreateAgentView.tsx
Due: oxlint

Migrate naive LLM factories (#171)
  docs/plans/2026-02-27_action_generator_factories_d4fa93/plan.md
  docs/runbooks/HOW_TO_CREATE_NEW_FEED_RANKING_ALGORITHM.md
  scripts/lint_architecture.py
  simulation/core/action_generators/comment/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/like/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/registry.py
  simulation/core/factories/action_generators.py
  simulation/core/factories/action_generators/__init__.py
  simulation/core/factories/action_generators/comment/__init__.py
  simulation/core/factories/action_generators/comment/naive_llm.py
  simulation/core/factories/action_generators/follow/__init__.py
  simulation/core/factories/action_generators/follow/naive_llm.py
  simulation/core/factories/action_generators/like/__init__.py
  simulation/core/factories/action_generators/like/naive_llm.py
Due: markdownlint

Add ability to delete agents
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/repositories/agent_bio_repository.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  docs/plans/2026-02-26_flow0_pr2_delete_agents_483920/images/after/01-agent-detail.png
  docs/plans/2026-02-26_flow0_pr2_delete_agents_483920/images/after/02-agent-deleted.png
  simulation/api/errors.py
  simulation/api/routes/simulation.py
  simulation/api/services/agent_command_service.py
  tests/api/test_simulation_agents.py
  ui/app/page.tsx
  ui/components/agents/AgentsView.tsx
  ui/lib/api/simulation.ts
  ui/package.json
Due: oxlint

Add a mixin pattern for LLM actions
  docs/plans/2026-02-28_refactor_naive_llm_action_mixins_402817/naive-llm-mixin-refactor_be49aaf7.plan.md
  simulation/api/services/agent_services_factory.py
  simulation/core/action_generators/comment/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/like/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/utils/llm_action_generator_mixin.py
  tests/simulation/core/test_command_service.py
Due: none

Revert "Add a mixin pattern for LLM actions"
  docs/plans/2026-02-28_refactor_naive_llm_action_mixins_402817/naive-llm-mixin-refactor_be49aaf7.plan.md
  simulation/api/services/agent_services_factory.py
  simulation/core/action_generators/comment/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/like/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/utils/llm_action_generator_mixin.py
  tests/simulation/core/test_command_service.py
Due: none

Revert "Revert "Add a mixin pattern for LLM actions""
  docs/plans/2026-02-28_refactor_naive_llm_action_mixins_402817/naive-llm-mixin-refactor_be49aaf7.plan.md
  simulation/api/services/agent_services_factory.py
  simulation/core/action_generators/comment/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/like/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/utils/llm_action_generator_mixin.py
  tests/simulation/core/test_command_service.py
Due: none

Fix docs metadata and DI guard
  docs/plans/2026-02-28_refactor_naive_llm_action_mixins_402817/naive-llm-mixin-refactor_be49aaf7.plan.md
  simulation/api/services/agent_services_factory.py
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^docs/plans/
  oxlint: any of: ^ui/
