Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, oxlint

markdownlint:
  name: markdownlint (markdownlint-cli2)
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.21.0
  args:
  - --config
  - .markdownlint.yml

oxlint:
  name: oxlint + React Doctor (ui)
  entry: bash -lc "cd ui && (test -d node_modules || npm install) && npx oxlint . --react-plugin && node scripts/check-react-doctor.mjs"
  language: system
  pass_filenames: false

Add default no metrics chosen UI
  ui/components/details/RunParametersBlock.tsx
Due: oxlint

add note
  ui/lib/api/simulation.ts
Due: oxlint

update dead code path
  simulation/api/schemas/simulation.py
Due: none

Display metrics as part of run parameters (#138)
  docs/plans/2026-02-24_run_params_display_4d5e6f/images/after/after.png
  docs/plans/2026-02-24_run_params_display_4d5e6f/images/before/before.png
  docs/plans/2026-02-24_run_params_display_4d5e6f/run_params_display_part_4_7ad4614e.plan.md
  docs/plans/2026-02-25_default_config_metric_keys_3f8c2a/default-config-metric-keys_5484e950.plan.md
  docs/plans/2026-02-25_default_config_metric_keys_3f8c2a/images/after/start-new-simulation.png
  docs/plans/2026-02-25_default_config_metric_keys_3f8c2a/images/before/start-new-simulation.png
  simulation/api/constants.py
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  tests/api/test_simulation_config.py
  ui/app/page.tsx
  ui/components/details/DetailsPanel.tsx
  ui/components/details/RunParametersBlock.tsx
  ui/components/run-detail/RunDetailContext.tsx
  ui/hooks/useSimulationPageState.ts
  ui/lib/api/simulation.ts
  ui/lib/run-selectors.ts
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

Fix tests to use expected_result
  tests/local_dev/test_local_mode_seed.py
Due: none

fix issues related to repo injection
  db/services/simulation_persistence_service.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/query_service.py
  tests/db/services/test_simulation_persistence_service.py
  tests/simulation/core/test_dependencies.py
Due: none

[2026-02-25] Codex repo automation - Feature ideas scan
  docs/feature_ideas/2026-02-25_feature_ideas.md
Due: markdownlint

update utility helpers
  simulation/core/query_service.py
  simulation/core/utils/__init__.py
  simulation/core/utils/turn_data_hydration.py
Due: none

make repos required
  simulation/core/factories/query_service.py
  simulation/core/query_service.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_query_service.py
Due: none

update db enforcement
  db/migrations/versions/c3a1d2e4f5a6_enforce_action_uniqueness_and_drop_redundant_indexes.py
  db/schema.py
Due: none

Update type check and make repos public
  simulation/core/query_service.py
  tests/simulation/core/test_dependencies.py
Due: none

Add permanent persistence for run actions (likes/comments/follows) (#135)
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/_serialization.py
  db/adapters/sqlite/_validation.py
  db/adapters/sqlite/comment_adapter.py
  db/adapters/sqlite/follow_adapter.py
  db/adapters/sqlite/like_adapter.py
  db/db.sqlite
  db/migrations/versions/b8e4d1f2a3c6_add_likes_comments_follows_tables.py
  db/migrations/versions/c3a1d2e4f5a6_enforce_action_uniqueness_and_drop_redundant_indexes.py
  db/repositories/comment_repository.py
  db/repositories/follow_repository.py
  db/repositories/interfaces.py
  db/repositories/like_repository.py
  db/schema.py
  db/services/simulation_persistence_service.py
  simulation/core/command_service.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/models/persisted_actions.py
  simulation/core/query_service.py
  simulation/core/utils/__init__.py
  simulation/core/utils/turn_data_hydration.py
  tests/conftest.py
  tests/db/repositories/test_action_repositories_integration.py
  tests/db/services/test_simulation_persistence_service.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_query_service.py
Due: none

Refactor action files
  docs/plans/2026-02-25_refactor_action_history_action_policy_482917/notes.md
  simulation/core/action_history/__init__.py
  simulation/core/action_history/factories.py
  simulation/core/action_history/interfaces.py
  simulation/core/action_history/recording.py
  simulation/core/action_history/stores.py
  simulation/core/action_policy/__init__.py
  simulation/core/action_policy/candidate_filter.py
  simulation/core/action_policy/interfaces.py
  simulation/core/action_policy/rules_validator.py
  simulation/core/agent_action_history_recorder.py
  simulation/core/command_service.py
  simulation/core/factories/__init__.py
  simulation/core/factories/action_history_store.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  tests/simulation/core/test_agent_action_feed_filter.py
  tests/simulation/core/test_agent_action_history_recorder.py
  tests/simulation/core/test_agent_action_rules_validator.py
  tests/simulation/core/test_command_service.py
Due: none

Fix command service action persistence test
  tests/simulation/core/test_command_service.py
Due: none

Fix tests to use expected_result (#143)
  tests/local_dev/test_local_mode_seed.py
Due: none

[2026-02-25] Codex repo automation - Feature ideas scan (#144)
  docs/feature_ideas/2026-02-25_feature_ideas.md
Due: markdownlint

Rename action history recording test
  docs/plans/2026-02-25_refactor_action_history_action_policy_482917/pr.md
  docs/plans/2026-02-25_refactor_action_history_action_policy_482917/refactor_action_policy_packages_7bb6a460.plan.md
  tests/simulation/core/test_action_history_recording.py
Due: none

Migrate action guardrails into action history/policy (#147)
  docs/plans/2026-02-25_refactor_action_history_action_policy_482917/notes.md
  docs/plans/2026-02-25_refactor_action_history_action_policy_482917/pr.md
  docs/plans/2026-02-25_refactor_action_history_action_policy_482917/refactor_action_policy_packages_7bb6a460.plan.md
  simulation/core/action_history/__init__.py
  simulation/core/action_history/factories.py
  simulation/core/action_history/interfaces.py
  simulation/core/action_history/recording.py
  simulation/core/action_history/stores.py
  simulation/core/action_policy/__init__.py
  simulation/core/action_policy/candidate_filter.py
  simulation/core/action_policy/interfaces.py
  simulation/core/action_policy/rules_validator.py
  simulation/core/agent_action_history_recorder.py
  simulation/core/command_service.py
  simulation/core/factories/__init__.py
  simulation/core/factories/action_history_store.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  tests/simulation/core/test_action_history_recording.py
  tests/simulation/core/test_agent_action_feed_filter.py
  tests/simulation/core/test_agent_action_rules_validator.py
  tests/simulation/core/test_command_service.py
Due: none

Add deterministic test factories
  .gitignore
  pyproject.toml
  tests/README.md
  tests/conftest.py
  tests/factories.py
  tests/factories/__init__.py
  tests/factories/actions.py
  tests/factories/agents.py
  tests/factories/base.py
  tests/factories/context.py
  tests/factories/generated.py
  tests/factories/metrics.py
  tests/factories/posts.py
  tests/factories/runs.py
  tests/factories/strategies.py
  tests/factories/turns.py
  tests/test_factories.py
  tests/test_factories_hypothesis.py
Due: markdownlint

Migrate tests to factories
  tests/api/test_run_metric_keys.py
  tests/api/test_simulation_run.py
  tests/db/repositories/test_feed_post_repository.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/db/repositories/test_generated_bio_repository.py
  tests/db/repositories/test_generated_bio_repository_integration.py
  tests/db/repositories/test_run_repository.py
  tests/db/repositories/test_run_repository_integration.py
  tests/feeds/test_feed_generator.py
  tests/simulation/core/test_agent_action_rules_validator.py
  tests/simulation/core/test_social_media_agent.py
Due: none

Add plan artifacts for issue 146
  docs/plans/2026-02-25_test_factories_146146/model_inventory_after_pull.txt
  docs/plans/2026-02-25_test_factories_146146/notes.md
  docs/plans/2026-02-25_test_factories_146146/rg_counts_after.txt
  docs/plans/2026-02-25_test_factories_146146/rg_counts_before.txt
Due: none

CI: run schema checks in separate job
  .github/workflows/ci.yml
Due: none

Docs: add schema docs --check example
  db/migrations/README
Due: none

Embed Mermaid diagram in schema.md
  docs/db/2026_02_25-154526-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-154526-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/LATEST.txt
  docs/db/README.md
  scripts/generate_db_schema_docs.py
Due: markdownlint

Omit alembic_version from schema docs
  docs/db/2026_02_25-154707-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-154707-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/LATEST.txt
  scripts/generate_db_schema_docs.py
Due: markdownlint

Docs: add DB schema docs runbook
  docs/db/README.md
  docs/runbooks/DB_SCHEMA_DOCS.md
Due: markdownlint

Update scripts/generate_db_schema_docs.py
  scripts/generate_db_schema_docs.py
Due: none

Refactor: share schema script helpers
  scripts/__init__.py
  scripts/_schema_utils.py
  scripts/check_db_schema_drift.py
  scripts/generate_db_schema_docs.py
Due: none

Fix: keep schema docs timestamp local
  scripts/generate_db_schema_docs.py
Due: none

Add runbook for creating Python tests
  AGENTS.md
  docs/README.md
  docs/runbooks/CREATE_NEW_PYTHON_TESTS.md
Due: markdownlint

Docs: update schema baseline for action tables
  docs/db/2026_02_25-160213-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-160213-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/LATEST.txt
Due: markdownlint

Deduplicate generated bio metadata via fixture
  tests/db/repositories/test_generated_bio_repository_integration.py
  tests/simulation/core/test_agent_action_rules_validator.py
Due: none

Address CodeRabbit feedback for factories
  docs/plans/2026-02-25_test_factories_146146/model_inventory_after_pull.txt
  pyproject.toml
  tests/factories/_helpers.py
  tests/factories/actions.py
  tests/factories/agents.py
  tests/factories/base.py
  tests/factories/context.py
  tests/factories/generated.py
  tests/factories/metrics.py
  tests/factories/posts.py
  tests/factories/strategies.py
  tests/factories/turns.py
  tests/test_factories.py
Due: none

Chore: clean up temp dirs unless kept
  scripts/generate_db_schema_docs.py
Due: none

Improve schema checks timeout + artifact compare
  scripts/_schema_utils.py
  scripts/generate_db_schema_docs.py
Due: none

Refine factories API and strategies
  tests/db/repositories/test_feed_post_repository.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/factories/actions.py
  tests/factories/posts.py
  tests/factories/strategies.py
Due: none

Add versioned DB schema docs + drift checks (#142)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  db/__init__.py
  db/migrations/README
  db/schema.py
  docs/db/2026_02_25-090413-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-090413-codex__versioned-db-schema-docs/schema.mmd
  docs/db/2026_02_25-090413-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/2026_02_25-154526-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-154526-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/2026_02_25-154707-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-154707-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/2026_02_25-160213-codex__versioned-db-schema-docs/schema.md
  docs/db/2026_02_25-160213-codex__versioned-db-schema-docs/schema.snapshot.json
  docs/db/LATEST.txt
  docs/db/README.md
  docs/runbooks/DB_SCHEMA_DOCS.md
  lib/__init__.py
  scripts/__init__.py
  scripts/_schema_utils.py
  scripts/check_db_schema_drift.py
  scripts/generate_db_schema_docs.py
Due: markdownlint

Add agent search via q param
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  docs/plans/2026-02-25_agent_search_filtering_217714/images/after/create-agent-link-search.png
  docs/plans/2026-02-25_agent_search_filtering_217714/images/after/view-agents-search.png
  docs/plans/2026-02-25_agent_search_filtering_217714/images/before/create-agent-link-section.png
  docs/plans/2026-02-25_agent_search_filtering_217714/images/before/view-agents.png
  lib/sql_like.py
  simulation/api/routes/simulation.py
  simulation/api/services/agent_query_service.py
  tests/api/test_simulation_agents.py
  ui/app/page.tsx
  ui/components/agents/CreateAgentView.tsx
  ui/components/sidebars/RunHistorySidebar.tsx
  ui/components/ui/SearchInput.tsx
  ui/hooks/useSimulationPageState.ts
  ui/lib/api/simulation.ts
Due: oxlint

Update OpenAPI + TS types for agent q
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^docs/plans/
  oxlint: any of: ^ui/
