Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, docs-metadata, oxlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Ruff hooks mirror CI (.github/workflows/ci.yml): ruff check + ruff format --check
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      # Same as CI: uv run ruff check .
      - id: ruff-check
        args: [--fix]
      # Same as CI: uv run ruff format --check .
      - id: ruff-format
        args: [--check]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.21.0]
        args: ["--config", ".markdownlint.yml"]
        types: [markdown]
        exclude: ^docs/plans/
      - id: docs-metadata
        name: docs metadata
        entry: bash -lc "uv run python scripts/check_docs_metadata.py"
        language: system
        pass_filenames: true
        files: ^docs/(runbooks|plans)/.*\.md$
      - id: db-schema-docs-check
        name: db schema docs (check latest)
        entry: bash -lc "uv run python scripts/generate_db_schema_docs.py --check"
        language: system
        pass_filenames: false
      - id: db-schema-drift
        name: db schema drift (migrations vs metadata)
        entry: bash -lc "uv run python scripts/check_db_schema_drift.py"
        language: system
        pass_filenames: false
      - id: complexipy
        name: complexipy
        entry: bash -lc "uv run --extra test complexipy . --max-complexity-allowed 999"
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test pyright ."
        language: system
        pass_filenames: false
      - id: python_lint_import_dependency_boundaries
        name: python_lint_import_dependency_boundaries
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test lint-imports --config pyproject.toml"
        language: system
        pass_filenames: false
      - id: python_dependency_injection_guard
        name: python_dependency_injection_guard (PY-2,3,5,6,7,8,9,10,12)
        entry: bash -lc "set -euo pipefail; root=$(git rev-parse --show-toplevel); cd \"$root\"; uv tool run semgrep --config lint/semgrep --error; PYTHONPATH=\"$root\" uv run --extra test python scripts/lint_architecture.py"
        language: system
        pass_filenames: false
      - id: oxlint
        name: eslint (custom rules) + oxlint (ui)
        entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
        language: system
        pass_filenames: false
        files: ^ui/

Update simulation_v2/seed/models.py
  simulation_v2/seed/models.py
Due: none

Fix post sampling attempt counter to count rejections only.
  simulation_v2/seed/generator.py
Due: none

Fix duplicate SeedImportSummary definition breaking complexipy CI.
  simulation_v2/seed/models.py
Due: none

Add seed import to SQLite for simulation_v2 (PR5) (#316)
  docs/plans/2026-05-26_simulation_v2_pr5_seed_import_847294/contracts.md
  pyproject.toml
  simulation_v2/db/repositories.py
  simulation_v2/main.py
  simulation_v2/seed/__init__.py
  simulation_v2/seed/cache.py
  simulation_v2/seed/generator.py
  simulation_v2/seed/loader.py
  simulation_v2/seed/models.py
  simulation_v2/seed_data.py
  simulation_v2/worker/service.py
  tests/simulation_v2/seed/test_loader.py
  tests/simulation_v2/test_worker_service.py
Due: docs-metadata

Add SQLite-backed turn snapshot loading for simulation_v2 (PR6).
  docs/plans/2026-05-26_simulation_v2_pr6_turn_snapshot_293847/contracts.md
  simulation_v2/db/repositories.py
  simulation_v2/main.py
  simulation_v2/worker/run_executor.py
  simulation_v2/worker/service.py
  simulation_v2/worker/state.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/db/test_repositories_snapshot_reads.py
  tests/simulation_v2/test_worker_service.py
  tests/simulation_v2/worker/test_state.py
Due: docs-metadata

Add SQLite-backed turn snapshot loading for simulation_v2 (PR6). (#317)
  docs/plans/2026-05-26_simulation_v2_pr6_turn_snapshot_293847/contracts.md
  simulation_v2/db/repositories.py
  simulation_v2/main.py
  simulation_v2/worker/run_executor.py
  simulation_v2/worker/service.py
  simulation_v2/worker/state.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/db/test_repositories_snapshot_reads.py
  tests/simulation_v2/test_worker_service.py
  tests/simulation_v2/worker/test_state.py
Due: docs-metadata

Add feed service and plugins for simulation_v2 (PR7).
  docs/plans/2026-05-26_simulation_v2_pr7_feed_service_847295/contracts.md
  simulation_v2/feeds/__init__.py
  simulation_v2/feeds/interfaces.py
  simulation_v2/feeds/most_liked.py
  simulation_v2/feeds/reverse_chronological.py
  simulation_v2/feeds/service.py
  simulation_v2/feeds/validators.py
  simulation_v2/legacy_feeds.py
  simulation_v2/main.py
  simulation_v2/simulate_turn.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/feeds/test_most_liked.py
  tests/simulation_v2/feeds/test_reverse_chronological.py
  tests/simulation_v2/feeds/test_service.py
  tests/simulation_v2/feeds/test_validators.py
  tests/simulation_v2/test_worker_service.py
Due: docs-metadata

Add feed service and plugins for simulation_v2 (PR7). (#318)
  docs/plans/2026-05-26_simulation_v2_pr7_feed_service_847295/contracts.md
  simulation_v2/feeds/__init__.py
  simulation_v2/feeds/interfaces.py
  simulation_v2/feeds/most_liked.py
  simulation_v2/feeds/reverse_chronological.py
  simulation_v2/feeds/service.py
  simulation_v2/feeds/validators.py
  simulation_v2/legacy_feeds.py
  simulation_v2/main.py
  simulation_v2/simulate_turn.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/feeds/test_most_liked.py
  tests/simulation_v2/feeds/test_reverse_chronological.py
  tests/simulation_v2/feeds/test_service.py
  tests/simulation_v2/feeds/test_validators.py
  tests/simulation_v2/test_worker_service.py
Due: docs-metadata

Add action LLM generation persistence for simulation_v2 (PR8).
  docs/plans/2026-05-26_simulation_v2_pr8_actions_llm_847296/contracts.md
  simulation_v2/actions/__init__.py
  simulation_v2/actions/llm.py
  simulation_v2/actions/models.py
  simulation_v2/actions/prompts.py
  simulation_v2/actions/service.py
  simulation_v2/db/repositories.py
  simulation_v2/models/telemetry.py
  simulation_v2/telemetry/llm_collector.py
  simulation_v2/worker/run_executor.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/actions/test_action_service.py
  tests/simulation_v2/actions/test_llm.py
  tests/simulation_v2/actions/test_models.py
  tests/simulation_v2/feeds/test_most_liked.py
  tests/simulation_v2/test_worker_service.py
Due: docs-metadata

Refactor action service into per-action generate helpers.
  simulation_v2/actions/service.py
Due: none

(simulation_v2) PR 8 — action LLM generation persistence (#319)
  docs/plans/2026-05-26_simulation_v2_pr8_actions_llm_847296/contracts.md
  simulation_v2/actions/__init__.py
  simulation_v2/actions/llm.py
  simulation_v2/actions/models.py
  simulation_v2/actions/prompts.py
  simulation_v2/actions/service.py
  simulation_v2/db/repositories.py
  simulation_v2/models/telemetry.py
  simulation_v2/telemetry/llm_collector.py
  simulation_v2/worker/run_executor.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/actions/test_action_service.py
  tests/simulation_v2/actions/test_llm.py
  tests/simulation_v2/actions/test_models.py
  tests/simulation_v2/feeds/test_most_liked.py
  tests/simulation_v2/test_worker_service.py
Due: docs-metadata

add note
  simulation_v2/load_seed_data.py
  simulation_v2/main.py
  simulation_v2/seed/cache.py
  simulation_v2/seed/generator.py
  simulation_v2/time.py
Due: none

Add business-rule validators and proposed action persistence (PR 9).
  docs/plans/2026-05-26_simulation_v2_pr9_action_validators_847297/contracts.md
  simulation_v2/actions/__init__.py
  simulation_v2/actions/service.py
  simulation_v2/actions/validators.py
  simulation_v2/db/repositories.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/actions/test_action_service.py
  tests/simulation_v2/actions/test_action_validation_service.py
  tests/simulation_v2/actions/test_validators.py
  tests/simulation_v2/db/test_repositories_constraints.py
Due: docs-metadata

Use distinct filter_id for unsupported action types and tighten rejection tests.
  simulation_v2/actions/service.py
  simulation_v2/actions/validators.py
  tests/simulation_v2/actions/test_action_service.py
Due: none

Add business-rule validators and proposed action persistence (PR 9) (#320)
  docs/plans/2026-05-26_simulation_v2_pr9_action_validators_847297/contracts.md
  simulation_v2/actions/__init__.py
  simulation_v2/actions/service.py
  simulation_v2/actions/validators.py
  simulation_v2/db/repositories.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/actions/test_action_service.py
  tests/simulation_v2/actions/test_action_validation_service.py
  tests/simulation_v2/actions/test_validators.py
  tests/simulation_v2/db/test_repositories_constraints.py
Due: docs-metadata

Add turn diff execution for validated proposed actions (PR 10)
  docs/plans/2026-05-26_simulation_v2_pr10_turn_diff_execution_847298/contracts.md
  simulation_v2/actions/__init__.py
  simulation_v2/actions/executor.py
  simulation_v2/db/repositories.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/actions/test_action_service.py
  tests/simulation_v2/actions/test_executor.py
  tests/simulation_v2/db/test_persist_turn_diffs.py
  tests/simulation_v2/worker/test_turn_diff_execution.py
Due: docs-metadata

Add turn diff execution for validated proposed actions (PR 10) (#321)
  docs/plans/2026-05-26_simulation_v2_pr10_turn_diff_execution_847298/contracts.md
  simulation_v2/actions/__init__.py
  simulation_v2/actions/executor.py
  simulation_v2/db/repositories.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/actions/test_action_service.py
  tests/simulation_v2/actions/test_executor.py
  tests/simulation_v2/db/test_persist_turn_diffs.py
  tests/simulation_v2/worker/test_turn_diff_execution.py
Due: docs-metadata

Add deterministic memory service for turn diff pipeline (PR 11)
  docs/plans/2026-05-26_simulation_v2_pr11_memory_service_847299/contracts.md
  simulation_v2/actions/executor.py
  simulation_v2/actions/service.py
  simulation_v2/db/repositories.py
  simulation_v2/memory/__init__.py
  simulation_v2/memory/episodic.py
  simulation_v2/memory/personalized.py
  simulation_v2/memory/service.py
  simulation_v2/memory/social.py
  tests/simulation_v2/actions/test_executor.py
  tests/simulation_v2/db/test_persist_turn_diffs.py
  tests/simulation_v2/db/test_repositories_memory_update.py
  tests/simulation_v2/memory/test_episodic.py
  tests/simulation_v2/memory/test_personalized.py
  tests/simulation_v2/memory/test_service.py
  tests/simulation_v2/memory/test_social.py
  tests/simulation_v2/worker/test_turn_diff_execution.py
Due: docs-metadata

Add deterministic memory service for turn diff pipeline (PR 11) (#322)
  docs/plans/2026-05-26_simulation_v2_pr11_memory_service_847299/contracts.md
  simulation_v2/actions/executor.py
  simulation_v2/actions/service.py
  simulation_v2/db/repositories.py
  simulation_v2/memory/__init__.py
  simulation_v2/memory/episodic.py
  simulation_v2/memory/personalized.py
  simulation_v2/memory/service.py
  simulation_v2/memory/social.py
  tests/simulation_v2/actions/test_executor.py
  tests/simulation_v2/db/test_persist_turn_diffs.py
  tests/simulation_v2/db/test_repositories_memory_update.py
  tests/simulation_v2/memory/test_episodic.py
  tests/simulation_v2/memory/test_personalized.py
  tests/simulation_v2/memory/test_service.py
  tests/simulation_v2/memory/test_social.py
  tests/simulation_v2/worker/test_turn_diff_execution.py
Due: docs-metadata

Add eval plugin framework with turn and run execution (PR 12).
  docs/plans/2026-05-26_simulation_v2_pr12_eval_framework_847300/contracts.md
  simulation_v2/evals/__init__.py
  simulation_v2/evals/interfaces.py
  simulation_v2/evals/registry.py
  simulation_v2/evals/runner.py
  simulation_v2/worker/run_executor.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/evals/test_runner.py
Due: docs-metadata

Fix simulation_v2 pytest collection and memory test mocks.
  pyproject.toml
  tests/simulation_v2/memory/test_service.py
Due: none

Fix simulation_v2 pytest collection and memory test mocks. (#324)
  pyproject.toml
  tests/simulation_v2/memory/test_service.py
Due: none

Add eval plugin framework with turn and run execution (PR 12) (#323)
  docs/plans/2026-05-26_simulation_v2_pr12_eval_framework_847300/contracts.md
  pyproject.toml
  simulation_v2/evals/__init__.py
  simulation_v2/evals/interfaces.py
  simulation_v2/evals/registry.py
  simulation_v2/evals/runner.py
  simulation_v2/worker/run_executor.py
  simulation_v2/worker/turn_executor.py
  tests/simulation_v2/evals/test_runner.py
  tests/simulation_v2/memory/test_service.py
Due: docs-metadata

Add deterministic eval plugins for simulation_v2 metrics.
  docs/plans/2026-05-26_simulation_v2_pr13_deterministic_eval_plugins_847301/contracts.md
  simulation_v2/evals/__init__.py
  simulation_v2/evals/interfaces.py
  simulation_v2/evals/plugins/__init__.py
  simulation_v2/evals/plugins/action_counts.py
  simulation_v2/evals/plugins/feed_coverage.py
  simulation_v2/evals/plugins/invalid_action_rate.py
  simulation_v2/evals/plugins/llm_structured_output.py
  simulation_v2/evals/query_helpers.py
  simulation_v2/evals/registry.py
  simulation_v2/evals/runner.py
  tests/simulation_v2/evals/conftest.py
  tests/simulation_v2/evals/plugins/__init__.py
  tests/simulation_v2/evals/plugins/test_action_counts.py
  tests/simulation_v2/evals/plugins/test_feed_coverage.py
  tests/simulation_v2/evals/plugins/test_invalid_action_rate.py
  tests/simulation_v2/evals/plugins/test_llm_structured_output.py
  tests/simulation_v2/evals/test_builtin_plugins.py
  tests/simulation_v2/evals/test_runner.py
Due: docs-metadata

Print eval summary after main.py simulation completes.
  simulation_v2/main.py
Due: none

Add deterministic eval plugins for simulation_v2 (#325)
  docs/plans/2026-05-26_simulation_v2_pr13_deterministic_eval_plugins_847301/contracts.md
  simulation_v2/evals/__init__.py
  simulation_v2/evals/interfaces.py
  simulation_v2/evals/plugins/__init__.py
  simulation_v2/evals/plugins/action_counts.py
  simulation_v2/evals/plugins/feed_coverage.py
  simulation_v2/evals/plugins/invalid_action_rate.py
  simulation_v2/evals/plugins/llm_structured_output.py
  simulation_v2/evals/query_helpers.py
  simulation_v2/evals/registry.py
  simulation_v2/evals/runner.py
  simulation_v2/main.py
  tests/simulation_v2/evals/conftest.py
  tests/simulation_v2/evals/plugins/__init__.py
  tests/simulation_v2/evals/plugins/test_action_counts.py
  tests/simulation_v2/evals/plugins/test_feed_coverage.py
  tests/simulation_v2/evals/plugins/test_invalid_action_rate.py
  tests/simulation_v2/evals/plugins/test_llm_structured_output.py
  tests/simulation_v2/evals/test_builtin_plugins.py
  tests/simulation_v2/evals/test_runner.py
Due: docs-metadata

Add golden dataset eval skeleton for simulation_v2 (PR 14).
  docs/plans/2026-05-27_simulation_v2_pr14_golden_dataset_eval_847302/contracts.md
  simulation_v2/evals/fixtures/__init__.py
  simulation_v2/evals/fixtures/golden_v1.json
  simulation_v2/evals/fixtures/models.py
  simulation_v2/evals/plugins/golden_dataset.py
  simulation_v2/evals/registry.py
  tests/simulation_v2/evals/plugins/test_golden_dataset.py
Due: docs-metadata

Improve golden dataset metric helper naming and typing.
  simulation_v2/evals/plugins/golden_dataset.py
Due: none

Add golden dataset eval skeleton for simulation_v2 (PR 14) (#326)
  docs/plans/2026-05-27_simulation_v2_pr14_golden_dataset_eval_847302/contracts.md
  simulation_v2/evals/fixtures/__init__.py
  simulation_v2/evals/fixtures/golden_v1.json
  simulation_v2/evals/fixtures/models.py
  simulation_v2/evals/plugins/golden_dataset.py
  simulation_v2/evals/registry.py
  tests/simulation_v2/evals/plugins/test_golden_dataset.py
Due: docs-metadata

Fix eval summary to report non-terminal plugin runs as incomplete.
  simulation_v2/run_summary.py
  tests/simulation_v2/test_run_summary.py
Due: none

Remove dead stochastic telemetry and PR15 guard tests.
  TEMP_FINDINGS.md
  simulation_v2/telemetry/__init__.py
  simulation_v2/telemetry/context.py
  simulation_v2/telemetry/simulation_metrics.py
  tests/simulation_v2/telemetry/test_simulation_metrics.py
  tests/simulation_v2/test_legacy_paths_removed.py
Due: markdownlint

remove temp file
  TEMP_FINDINGS.md
Due: markdownlint

Remove dead stochastic telemetry and PR15 guard tests (#328)
  simulation_v2/telemetry/__init__.py
  simulation_v2/telemetry/context.py
  simulation_v2/telemetry/simulation_metrics.py
  tests/simulation_v2/telemetry/test_simulation_metrics.py
  tests/simulation_v2/test_legacy_paths_removed.py
Due: none
