Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, docs-metadata, oxlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Ruff hooks mirror CI (.github/workflows/ci.yml): ruff check + ruff format --check
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      # Same as CI: uv run ruff check .
      - id: ruff-check
        args: [--fix]
      # Same as CI: uv run ruff format --check .
      - id: ruff-format
        args: [--check]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.21.0]
        args: ["--config", ".markdownlint.yml"]
        types: [markdown]
        exclude: ^docs/plans/
      - id: docs-metadata
        name: docs metadata
        entry: bash -lc "uv run python scripts/check_docs_metadata.py"
        language: system
        pass_filenames: true
        files: ^docs/(runbooks|plans)/.*\.md$
      - id: db-schema-docs-check
        name: db schema docs (check latest)
        entry: bash -lc "uv run python scripts/generate_db_schema_docs.py --check"
        language: system
        pass_filenames: false
      - id: db-schema-drift
        name: db schema drift (migrations vs metadata)
        entry: bash -lc "uv run python scripts/check_db_schema_drift.py"
        language: system
        pass_filenames: false
      - id: complexipy
        name: complexipy
        entry: bash -lc "uv run --extra test complexipy . --max-complexity-allowed 999"
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test pyright ."
        language: system
        pass_filenames: false
      - id: python_lint_import_dependency_boundaries
        name: python_lint_import_dependency_boundaries
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run --extra test lint-imports --config pyproject.toml"
        language: system
        pass_filenames: false
      - id: python_dependency_injection_guard
        name: python_dependency_injection_guard (PY-2,3,5,6,7,8,9,10,12)
        entry: bash -lc "set -euo pipefail; root=$(git rev-parse --show-toplevel); cd \"$root\"; uv tool run semgrep --config lint/semgrep --error; PYTHONPATH=\"$root\" uv run --extra test python scripts/lint_architecture.py"
        language: system
        pass_filenames: false
      - id: oxlint
        name: eslint (custom rules) + oxlint (ui)
        entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
        language: system
        pass_filenames: false
        files: ^ui/

add shared seed state helper
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  simulation/core/command_service.py
  simulation/core/factories/agent.py
  simulation/core/seed_state.py
  tests/simulation/core/test_command_service.py
Due: none

(accidental branch) (#220)
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/factories/agent.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/models/agents.py
  simulation/core/seed_state.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
Due: none

update
  tests/factories/run_agents.py
Due: none

Add agent follow edges seed-state API
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/agent_follow_edge_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/migrations/versions/d31fef7e41c3_add_agent_follow_edges.py
  db/repositories/__init__.py
  db/repositories/agent_follow_edge_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  db/schema.py
  docs/db/2026_03_17-151450-cursor__agent-follow-edges-table-8792/schema.md
  docs/db/2026_03_17-151450-cursor__agent-follow-edges-table-8792/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-13_pr3_agent_follow_edges_593821/plan.md
  simulation/api/errors.py
  simulation/api/main.py
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  simulation/api/services/agent_command_service.py
  simulation/api/services/agent_follows_command_service.py
  simulation/api/services/agent_follows_query_service.py
  simulation/core/models/agent_follow_edge.py
  simulation/local_dev/seed_fixtures/agent_follow_edges.json
  simulation/local_dev/seed_loader.py
  tests/api/test_simulation_agent_follows.py
  tests/conftest.py
  tests/db/repositories/test_agent_follow_edge_repository_integration.py
  tests/local_dev/test_local_mode_seed.py
Due: markdownlint, docs-metadata

Move follow edge constraint mapping to repository
  db/repositories/agent_follow_edge_repository.py
  simulation/api/services/agent_follows_command_service.py
  simulation/core/utils/exceptions.py
Due: none

Align follow edge repository test contract
  tests/db/repositories/test_agent_follow_edge_repository_integration.py
Due: none

Add planning for social environment abstraction
  strategy_planning/2026-03-17_social_environment_abstraction/PROPOSED_PR_LIST.md
  strategy_planning/2026-03-17_social_environment_abstraction/notes.md
Due: markdownlint

Add planning for social environment abstraction (#221)
  strategy_planning/2026-03-17_social_environment_abstraction/PROPOSED_PR_LIST.md
  strategy_planning/2026-03-17_social_environment_abstraction/notes.md
Due: markdownlint

Add Cursor Cloud quality-gate setup
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  docs/README.md
  docs/runbooks/CURSOR_CLOUD_ENV_SETUP.md
  docs/runbooks/PRE_COMMIT_AND_LINTING.md
  scripts/setup_cursor_cloud_env.sh
Due: markdownlint, docs-metadata

add EmotionLabel pydantic class model
  ml_tooling/emotion/models.py
Due: none

Make follow edge page reads transactionally consistent
  db/adapters/base.py
  db/adapters/sqlite/agent_follow_edge_adapter.py
  db/repositories/agent_follow_edge_repository.py
  db/repositories/interfaces.py
  simulation/api/services/agent_follows_query_service.py
  simulation/core/models/agent_follow_edge.py
  tests/db/repositories/test_agent_follow_edge_repository_integration.py
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

update docs
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  docs/plans/2026-03-13_pr3_agent_follow_edges_593821/notes.md
  docs/plans/2026-03-13_pr3_agent_follow_edges_593821/plan.md
Due: docs-metadata

Add agent_follow_edges seed-state follow table and API (#222)
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/agent_follow_edge_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/migrations/versions/d31fef7e41c3_add_agent_follow_edges.py
  db/repositories/__init__.py
  db/repositories/agent_follow_edge_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  db/schema.py
  docs/db/2026_03_17-151450-cursor__agent-follow-edges-table-8792/schema.md
  docs/db/2026_03_17-151450-cursor__agent-follow-edges-table-8792/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-13_pr3_agent_follow_edges_593821/notes.md
  docs/plans/2026-03-13_pr3_agent_follow_edges_593821/plan.md
  simulation/api/errors.py
  simulation/api/main.py
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  simulation/api/services/agent_command_service.py
  simulation/api/services/agent_follows_command_service.py
  simulation/api/services/agent_follows_query_service.py
  simulation/core/models/agent_follow_edge.py
  simulation/core/utils/exceptions.py
  simulation/local_dev/seed_fixtures/agent_follow_edges.json
  simulation/local_dev/seed_loader.py
  tests/api/test_simulation_agent_follows.py
  tests/conftest.py
  tests/db/repositories/test_agent_follow_edge_repository_integration.py
  tests/local_dev/test_local_mode_seed.py
  ui/openapi.json
  ui/types/api.generated.ts
Due: markdownlint, docs-metadata, oxlint

Add immutable run follow edge snapshots
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/agent_follow_edge_adapter.py
  db/adapters/sqlite/run_follow_edge_adapter.py
  db/migrations/versions/8f6c2a1b4d3e_add_run_follow_edges.py
  db/repositories/__init__.py
  db/repositories/agent_follow_edge_repository.py
  db/repositories/interfaces.py
  db/repositories/run_follow_edge_repository.py
  db/schema.py
  docs/db/2026_03_17-163602-cursor__run-follow-edges-snapshot-e537/schema.md
  docs/db/2026_03_17-163602-cursor__run-follow-edges-snapshot-e537/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-17_pr4_run_follow_edges_481203/README.md
  simulation/api/main.py
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/models/run_follow_edges.py
  simulation/core/query_service.py
  tests/conftest.py
  tests/db/adapters/sqlite/test_run_follow_edge_adapter.py
  tests/db/repositories/test_run_follow_edge_repository_integration.py
  tests/factories/__init__.py
  tests/factories/run_follow_edges.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_query_service.py
Due: markdownlint, docs-metadata

Fix baseline follow preload test expectations
  tests/simulation/core/test_command_service.py
Due: none

Tighten run follow edge validation
  db/adapters/sqlite/agent_follow_edge_adapter.py
  db/adapters/sqlite/run_follow_edge_adapter.py
  db/migrations/versions/8f6c2a1b4d3e_add_run_follow_edges.py
  db/schema.py
  docs/db/2026_03_17-174952-cursor__run-follow-edges-snapshot-e537/schema.md
  docs/db/2026_03_17-174952-cursor__run-follow-edges-snapshot-e537/schema.snapshot.json
  docs/db/LATEST.txt
  tests/db/adapters/sqlite/test_agent_follow_edge_adapter.py
  tests/db/adapters/sqlite/test_run_follow_edge_adapter.py
  tests/db/repositories/test_run_follow_edge_repository_integration.py
Due: markdownlint

clean up docstring
  simulation/core/models/run_follow_edges.py
Due: none

move to helper func
  simulation/core/command_service.py
Due: none

Add run_follow_edges snapshot for immutable run-start follows (#224)
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/agent_follow_edge_adapter.py
  db/adapters/sqlite/run_follow_edge_adapter.py
  db/migrations/versions/8f6c2a1b4d3e_add_run_follow_edges.py
  db/repositories/__init__.py
  db/repositories/agent_follow_edge_repository.py
  db/repositories/interfaces.py
  db/repositories/run_follow_edge_repository.py
  db/schema.py
  docs/db/2026_03_17-163602-cursor__run-follow-edges-snapshot-e537/schema.md
  docs/db/2026_03_17-163602-cursor__run-follow-edges-snapshot-e537/schema.snapshot.json
  docs/db/2026_03_17-174952-cursor__run-follow-edges-snapshot-e537/schema.md
  docs/db/2026_03_17-174952-cursor__run-follow-edges-snapshot-e537/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-17_pr4_run_follow_edges_481203/README.md
  simulation/api/main.py
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/factories/query_service.py
  simulation/core/models/run_follow_edges.py
  simulation/core/query_service.py
  tests/conftest.py
  tests/db/adapters/sqlite/test_agent_follow_edge_adapter.py
  tests/db/adapters/sqlite/test_run_follow_edge_adapter.py
  tests/db/repositories/test_run_follow_edge_repository_integration.py
  tests/factories/__init__.py
  tests/factories/run_follow_edges.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
  tests/simulation/core/test_query_service.py
Due: markdownlint, docs-metadata

implement extract_emotions and _to_emotion-label of the EmotionModel class
  ml_tooling/emotion/classifier.py
Due: none

add extract_emotions_batch function and comment to EmotioinsCallabe'
  ml_tooling/emotion/classifier.py
Due: none

Add agent_posts seed-state table and backfill
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/agent_post_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/backfills/__init__.py
  db/backfills/agent_posts.py
  db/migrations/versions/7b363560da3c_add_agent_posts.py
  db/repositories/__init__.py
  db/repositories/agent_post_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  db/schema.py
  docs/db/2026_03_17-235959-codex__pr5-agent-posts/schema.md
  docs/db/2026_03_17-235959-codex__pr5-agent-posts/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-17_pr5_agent_posts_602418/plan.md
  ml_tooling/ner/classifier.py
  ml_tooling/ner/examples_test.py
  scripts/backfill_agent_posts.py
  simulation/core/models/agent_posts.py
  simulation/local_dev/seed_loader.py
  tests/conftest.py
  tests/db/adapters/sqlite/test_agent_post_adapter.py
  tests/db/repositories/test_agent_post_repository_integration.py
  tests/local_dev/test_local_mode_seed.py
  tests/scripts/test_backfill_agent_posts.py
Due: markdownlint, docs-metadata

add sanity check testing
  ml_tooling/emotion/examples_test.py
Due: none

guard divide by 0
  ml_tooling/emotion/examples_test.py
Due: none

call pipeline in 1 batch
  ml_tooling/emotion/classifier.py
Due: none

add length validation in extract_emotions_batch, make constants final, add cast to dict key
  ml_tooling/emotion/classifier.py
Due: none

Revert NER classifier import behavior
  ml_tooling/ner/classifier.py
Due: none

Tighten agent_posts import constraints and tests
  db/migrations/versions/7b363560da3c_add_agent_posts.py
  db/schema.py
  docs/db/2026_03_17-235959-codex__pr5-agent-posts/schema.md
  docs/db/2026_03_17-235959-codex__pr5-agent-posts/schema.snapshot.json
  tests/db/repositories/test_agent_post_repository_integration.py
  tests/local_dev/test_local_mode_seed.py
Due: markdownlint

add checking of all emotions in emotion_distribution
  ml_tooling/emotion/classifier.py
Due: none

Revert NER examples script
  ml_tooling/ner/examples_test.py
Due: none

update docstring
  simulation/core/models/agent_posts.py
Due: none

Add agent_posts seed-state table and backfill (#227)
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/agent_post_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/backfills/__init__.py
  db/backfills/agent_posts.py
  db/migrations/versions/7b363560da3c_add_agent_posts.py
  db/repositories/__init__.py
  db/repositories/agent_post_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  db/schema.py
  docs/db/2026_03_17-235959-codex__pr5-agent-posts/schema.md
  docs/db/2026_03_17-235959-codex__pr5-agent-posts/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-17_pr5_agent_posts_602418/plan.md
  scripts/backfill_agent_posts.py
  simulation/core/models/agent_posts.py
  simulation/local_dev/seed_loader.py
  tests/conftest.py
  tests/db/adapters/sqlite/test_agent_post_adapter.py
  tests/db/repositories/test_agent_post_repository_integration.py
  tests/local_dev/test_local_mode_seed.py
  tests/scripts/test_backfill_agent_posts.py
Due: markdownlint, docs-metadata

check for empty texts list
  ml_tooling/emotion/classifier.py
Due: none

normalize single response function added
  ml_tooling/emotion/classifier.py
Due: none

add pytest suite for emotion classifier
  ml_tooling/emotion/tests/test_classifier.py
Due: none

Align migration typing with repo conventions
  db/migrations/versions/6a7b8c9d0e1f_add_run_agents.py
  db/migrations/versions/7b363560da3c_add_agent_posts.py
  db/migrations/versions/8f6c2a1b4d3e_add_run_follow_edges.py
  db/migrations/versions/d31fef7e41c3_add_agent_follow_edges.py
Due: none

Add 2026-03-18 feature ideas scan report
  docs/feature_ideas/2026-03-18_feature_ideas.md
Due: markdownlint

add assertions for datetime and uuid
  ml_tooling/emotion/tests/test_classifier.py
Due: none
