Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, docs-metadata, oxlint

markdownlint:
  name: markdownlint (markdownlint-cli2)
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.21.0
  args:
  - --config
  - .markdownlint.yml

docs-metadata:
  name: docs metadata
  entry: bash -lc "uv run python scripts/check_docs_metadata.py"
  language: system
  pass_filenames: true

oxlint:
  name: eslint (custom rules) + oxlint (ui)
  entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
  language: system
  pass_filenames: false

fix: code review findings - agent_id_resolve, derive_target_agent_id, factories, query_service, migration
  db/adapters/sqlite/agent_id_resolve.py
  db/migrations/versions/d4f8a1c3e5b7_action_feed_id_semantics.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/random_simple.py
  simulation/core/action_generators/follow/utils.py
  simulation/core/services/query_service.py
  tests/db/repositories/test_generated_feed_repository.py
  tests/factories/actions.py
  tests/simulation/core/test_query_service.py
Due: none

update rules
  docs/RULES.md
Due: markdownlint

add updates
  db/migrations/versions/d4f8a1c3e5b7_action_feed_id_semantics.py
Due: none

Migrate runtime action history to canonical agent_id keys
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/random_simple.py
  simulation/core/action_history/interfaces.py
  simulation/core/action_history/recording.py
  simulation/core/action_history/stores.py
  simulation/core/action_policy/candidate_filter.py
  simulation/core/action_policy/interfaces.py
  simulation/core/action_policy/rules_validator.py
  simulation/core/services/command_service.py
  tests/simulation/core/test_action_history_recording.py
  tests/simulation/core/test_agent_action_feed_filter.py
  tests/simulation/core/test_agent_action_rules_validator.py
  tests/simulation/core/test_command_service.py
Due: none

Polarity (#273)
  .github/workflows/ci.yml
  ml_tooling/polarity/classifier.py
  ml_tooling/polarity/constants.py
  ml_tooling/polarity/examples_test.py
  ml_tooling/polarity/models.py
  ml_tooling/polarity/tests/test_classifier.py
  pyproject.toml
Due: none

add planning doc
  docs/plans/2026-03-21_runtime_actor_history_canonicalization_481203/plan.md
Due: docs-metadata

Migrate runtime action history to canonical agent_id keys (#274)
  docs/plans/2026-03-21_runtime_actor_history_canonicalization_481203/plan.md
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/random_simple.py
  simulation/core/action_history/interfaces.py
  simulation/core/action_history/recording.py
  simulation/core/action_history/stores.py
  simulation/core/action_policy/candidate_filter.py
  simulation/core/action_policy/interfaces.py
  simulation/core/action_policy/rules_validator.py
  simulation/core/services/command_service.py
  tests/simulation/core/test_action_history_recording.py
  tests/simulation/core/test_agent_action_feed_filter.py
  tests/simulation/core/test_agent_action_rules_validator.py
  tests/simulation/core/test_command_service.py
Due: docs-metadata

Require Post.author_agent_id; add feed_posts FK and backfill
  db/adapters/base.py
  db/adapters/sqlite/feed_post_adapter.py
  db/adapters/sqlite/generated_feed_adapter.py
  db/migrations/versions/e7f3a9c2d1b4_add_feed_posts_author_agent_id.py
  db/repositories/generated_feed_repository.py
  db/repositories/interfaces.py
  db/schema.py
  docs/architecture/post-author-agent-id.md
  docs/db/2026_03_21-132257-require-post-author-agent-id/schema.md
  docs/db/2026_03_21-132257-require-post-author-agent-id/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-21_require_post_author_agent_id_482931/notes.md
  feeds/candidate_generation.py
  jobs/load_initial_bluesky_profiles.py
  simulation/core/action_generators/comment/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/random_simple.py
  simulation/core/action_generators/follow/utils.py
  simulation/core/action_generators/like/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_history/stores.py
  simulation/core/action_policy/candidate_filter.py
  simulation/core/models/posts.py
  simulation/local_dev/seed_loader.py
  tests/api/test_simulation_posts.py
  tests/db/adapters/sqlite/conftest.py
  tests/db/adapters/sqlite/test_feed_post_adapter.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/factories/posts.py
  tests/factories/strategies.py
  tests/scripts/test_backfill_agent_posts.py
Due: markdownlint, docs-metadata

Add doc
  docs/architecture/post-author-agent-id.md
Due: markdownlint

docs(plans): add require post author agent id implementation plan
  docs/plans/2026-03-21_require_post_author_agent_id_482931/plan.md
Due: docs-metadata

Migrate require Post author_agent_id and feed_posts FK (#275)
  db/adapters/base.py
  db/adapters/sqlite/feed_post_adapter.py
  db/adapters/sqlite/generated_feed_adapter.py
  db/migrations/versions/e7f3a9c2d1b4_add_feed_posts_author_agent_id.py
  db/repositories/generated_feed_repository.py
  db/repositories/interfaces.py
  db/schema.py
  docs/architecture/post-author-agent-id.md
  docs/db/2026_03_21-132257-require-post-author-agent-id/schema.md
  docs/db/2026_03_21-132257-require-post-author-agent-id/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-21_require_post_author_agent_id_482931/notes.md
  docs/plans/2026-03-21_require_post_author_agent_id_482931/plan.md
  feeds/candidate_generation.py
  jobs/load_initial_bluesky_profiles.py
  simulation/core/action_generators/comment/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/naive_llm/algorithm.py
  simulation/core/action_generators/follow/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_generators/follow/algorithms/random_simple.py
  simulation/core/action_generators/follow/utils.py
  simulation/core/action_generators/like/algorithms/naive_llm/e2e_test_run.py
  simulation/core/action_history/stores.py
  simulation/core/action_policy/candidate_filter.py
  simulation/core/models/posts.py
  simulation/local_dev/seed_loader.py
  tests/api/test_simulation_posts.py
  tests/db/adapters/sqlite/conftest.py
  tests/db/adapters/sqlite/test_feed_post_adapter.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/factories/posts.py
  tests/factories/strategies.py
  tests/scripts/test_backfill_agent_posts.py
Due: markdownlint, docs-metadata

Harden agent_id persistence at repository and SQLite adapter boundaries
  db/adapters/base.py
  db/adapters/sqlite/agent_id_resolve.py
  db/adapters/sqlite/comment_adapter.py
  db/adapters/sqlite/feed_post_adapter.py
  db/adapters/sqlite/follow_adapter.py
  db/adapters/sqlite/generated_feed_adapter.py
  db/adapters/sqlite/like_adapter.py
  db/repositories/feed_post_repository.py
  db/repositories/interfaces.py
  docs/architecture/post-author-agent-id.md
  simulation/core/models/feeds.py
  tests/db/repositories/test_action_repositories_integration.py
  tests/db/repositories/test_feed_post_repository.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/db/repositories/test_generated_feed_repository.py
  tests/db/repositories/test_generated_feed_repository_integration.py
Due: markdownlint

Add agent ID persistence hardening plan under docs/plans
  docs/plans/2026-03-21_agent_id_hardening_faf63706/plan.md
Due: docs-metadata

Harden agent_id persistence at SQLite repository boundaries (#276)
  db/adapters/base.py
  db/adapters/sqlite/agent_id_resolve.py
  db/adapters/sqlite/comment_adapter.py
  db/adapters/sqlite/feed_post_adapter.py
  db/adapters/sqlite/follow_adapter.py
  db/adapters/sqlite/generated_feed_adapter.py
  db/adapters/sqlite/like_adapter.py
  db/repositories/feed_post_repository.py
  db/repositories/interfaces.py
  docs/architecture/post-author-agent-id.md
  docs/plans/2026-03-21_agent_id_hardening_faf63706/plan.md
  simulation/core/models/feeds.py
  tests/db/repositories/test_action_repositories_integration.py
  tests/db/repositories/test_feed_post_repository.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/db/repositories/test_generated_feed_repository.py
  tests/db/repositories/test_generated_feed_repository_integration.py
Due: markdownlint, docs-metadata

Update turns API to canonical agent_id keying end-to-end
  docs/plans/2026-03-21_agent_id_query_boundary/images/after/.gitkeep
  docs/plans/2026-03-21_agent_id_query_boundary/images/before/.gitkeep
  simulation/api/schemas/simulation.py
  simulation/api/services/run_query_service.py
  simulation/core/engine.py
  simulation/core/models/turns.py
  simulation/core/services/query_service.py
  tests/api/test_run_query_service.py
  tests/api/test_simulation_run.py
  tests/simulation/core/test_query_service.py
  ui/components/details/DetailsPanel.tsx
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/types/api.generated.ts
Due: oxlint

Add run-details after screenshots for agent ID query boundary plan
  docs/plans/2026-03-21_agent_id_query_boundary/images/after/.gitkeep
  docs/plans/2026-03-21_agent_id_query_boundary/images/after/run_details_turn1.png
  docs/plans/2026-03-21_agent_id_query_boundary/images/after/run_details_turn1_feed_expanded.png
Due: none

Add agent ID query boundary implementation plan
  docs/plans/2026-03-21_agent_id_query_boundary/plan.md
Due: docs-metadata

specify typing better
  simulation/api/schemas/simulation.py
  simulation/core/models/turns.py
Due: none

Document empty run_post id lookups; simplify get_turn_data hydration
  db/adapters/base.py
  db/repositories/interfaces.py
  simulation/core/services/query_service.py
Due: none

add better typing
  simulation/core/models/turns.py
Due: none

fix(ui): sync OpenAPI artifacts with TurnSchema docstring
  ui/openapi.json
  ui/scripts/generate-ui-contracts.mts
  ui/types/api.generated.ts
Due: oxlint

Update turns API for canonical agent_id query boundary (#278)
  db/adapters/base.py
  db/repositories/interfaces.py
  docs/plans/2026-03-21_agent_id_query_boundary/images/after/run_details_turn1.png
  docs/plans/2026-03-21_agent_id_query_boundary/images/after/run_details_turn1_feed_expanded.png
  docs/plans/2026-03-21_agent_id_query_boundary/images/before/.gitkeep
  docs/plans/2026-03-21_agent_id_query_boundary/plan.md
  simulation/api/schemas/simulation.py
  simulation/api/services/run_query_service.py
  simulation/core/engine.py
  simulation/core/models/turns.py
  simulation/core/services/query_service.py
  tests/api/test_run_query_service.py
  tests/api/test_simulation_run.py
  tests/simulation/core/test_query_service.py
  ui/components/details/DetailsPanel.tsx
  ui/lib/api/simulation.ts
  ui/openapi.json
  ui/scripts/generate-ui-contracts.mts
  ui/types/api.generated.ts
Due: docs-metadata, oxlint

test(db): add Phase 7 head-state verifier for all proposal agent-key columns
  tests/db/agent_id_head_state_inventory.py
  tests/db/test_agent_id_pk_migration.py
Due: none

test: use canonical agent_id fixtures in ordinary runtime and repo tests
  tests/db/repositories/conftest.py
  tests/factories/records.py
  tests/feeds/test_feed_generator.py
  tests/simulation/core/test_command_service.py
Due: none

test(api): assert POST /agents persists canonical ID across core tables
  docs/plans/2026-03-21_agent_id_phase7_closeout/verification.md
  strategy_planning/2026-03-20_agent_id_migration/proposal.md
  tests/api/test_simulation_agents.py
Due: markdownlint, docs-metadata

Add agent ID Phase 7 closeout: head-state verifier, canonical fixtures, API proof
  docs/plans/2026-03-22_agent_id_phase7_closeout/verification.md
  strategy_planning/2026-03-20_agent_id_migration/proposal.md
  tests/api/test_simulation_agents.py
  tests/db/agent_id_inventory.py
  tests/db/repositories/conftest.py
  tests/db/test_agent_id_pk_migration.py
  tests/factories/records.py
  tests/factories/run_agents.py
  tests/factories/run_follow_edges.py
  tests/factories/run_posts.py
  tests/feeds/test_feed_generator.py
  tests/simulation/core/test_command_service.py
Due: markdownlint, docs-metadata

Add agent ID Phase 7 closeout: head-state verifier, canonical fixtures, API proof (#281)
  docs/plans/2026-03-22_agent_id_phase7_closeout/verification.md
  strategy_planning/2026-03-20_agent_id_migration/proposal.md
  tests/api/test_simulation_agents.py
  tests/db/agent_id_inventory.py
  tests/db/repositories/conftest.py
  tests/db/test_agent_id_pk_migration.py
  tests/factories/records.py
  tests/factories/run_agents.py
  tests/factories/run_follow_edges.py
  tests/factories/run_posts.py
  tests/feeds/test_feed_generator.py
  tests/simulation/core/test_command_service.py
Due: markdownlint, docs-metadata

Add planning doc
  strategy_planning/2026-03-22_v2_refactor_turn_tables/proposal.md
Due: markdownlint

docs: freeze turn-table v2 contracts (turns parent, turn_*, POST deferral)
  docs/architecture/agents-turns-runs-data-model.md
  docs/architecture/seed-state-run-snapshot-turn-events.md
  docs/architecture/turn-feed-post-id-contract.md
  docs/plans/2026-03-22_freeze_turn_table_v2_contracts_847291/verification.md
  strategy_planning/2026-03-22_v2_refactor_turn_tables/proposal.md
Due: markdownlint, docs-metadata

Freeze turn-table v2 contracts in documentation (#282)
  docs/architecture/agents-turns-runs-data-model.md
  docs/architecture/seed-state-run-snapshot-turn-events.md
  docs/architecture/turn-feed-post-id-contract.md
  docs/plans/2026-03-22_freeze_turn_table_v2_contracts_847291/verification.md
  strategy_planning/2026-03-22_v2_refactor_turn_tables/proposal.md
Due: markdownlint, docs-metadata

add planning doc
  docs/plans/2026-03-22_freeze_turn_table_v2_contracts_847291/plan.md
Due: docs-metadata

feat(db): add turns parent and turn_* schema spine
  db/adapters/base.py
  db/adapters/sqlite/comment_adapter.py
  db/adapters/sqlite/follow_adapter.py
  db/adapters/sqlite/generated_feed_adapter.py
  db/adapters/sqlite/like_adapter.py
  db/adapters/sqlite/run_adapter.py
  db/adapters/sqlite/sqlite.py
  db/adapters/sqlite/turn_parent.py
  db/migrations/versions/f3c9a1e7b2d4_turn_table_v2_schema_spine.py
  db/schema.py
  docs/db/2026_03_22-192628-feat__turn-table-v2-schema-spine/schema.md
  docs/db/2026_03_22-192628-feat__turn-table-v2-schema-spine/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-22_turn_table_schema_spine_847292/verification.md
  scripts/lint_schema_conventions.py
  tests/db/adapters/sqlite/test_generated_feed_adapter.py
  tests/db/adapters/sqlite/test_run_adapter.py
  tests/db/adapters/sqlite/test_sqlite.py
  tests/db/agent_id_inventory.py
  tests/db/repositories/conftest.py
  tests/db/repositories/test_action_repositories_integration.py
  tests/db/repositories/test_generated_feed_repository.py
  tests/db/repositories/test_generated_feed_repository_integration.py
  tests/db/repositories/test_metrics_repository_integration.py
  tests/db/repositories/test_run_repository_integration.py
  tests/db/test_turn_table_v2_schema_migration.py
Due: markdownlint, docs-metadata

add ValueError classes to differentiate differnet ValueErrors
  simulation/api/errors.py
  tests/api/test_exception_handlers.py
Due: none

add testing suite for code refactoring
  simulation/api/exception_handlers.py
Due: none

refactor endpoints to not use try catch
  simulation/api/routes/agents.py
  simulation/api/routes/metadata.py
  simulation/api/routes/posts.py
  simulation/api/routes/runs.py
Due: none

migrate middleware to be asgi so that custom exceptions can be created
  simulation/api/main.py
Due: none

fix testing file to use actual app so that it includes the middleware
  tests/api/test_exception_handlers.py
Due: none

change global_exception_handler to be async and change logging to not use f string
  simulation/api/exception_handlers.py
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^docs/plans/
  docs-metadata: any of: ^docs/(runbooks|plans)/.*\.md$
  oxlint: any of: ^ui/
