Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, docs-metadata, oxlint

markdownlint:
  name: markdownlint (markdownlint-cli2)
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.21.0
  args:
  - --config
  - .markdownlint.yml

docs-metadata:
  name: docs metadata
  entry: bash -lc "uv run python scripts/check_docs_metadata.py"
  language: system
  pass_filenames: true

oxlint:
  name: eslint (custom rules) + oxlint (ui)
  entry: bash -lc "cd ui && if [ -d node_modules ] && [ -f node_modules/.package-lock.json ] && cmp -s package-lock.json node_modules/.package-lock.json; then npm run lint:ci; else npm ci && npm run lint:ci; fi"
  language: system
  pass_filenames: false

refactor to only have NERModel in classifier.py
  ml_tooling/ner/classifier.py
  ml_tooling/ner/models.py
Due: none

refactor to only have EntitySpan in models.py
  ml_tooling/ner/model.py
Due: none

fix ci to download optional dependencies in the RIGHT place
  .github/workflows/ci.yml
Due: none

only initialize NERModel once
  ml_tooling/ner/examples_test.py
Due: none

Add 2026-03-11 feature ideas scan report
  docs/feature_ideas/2026-03-11_feature_ideas.md
Due: markdownlint

planning docs
  strategy_planning/2026-02-26_interface_updates/IMPLEMENT_FLOW_1_FOLLOWS.md
  strategy_planning/2026-02-26_interface_updates/PROPOSED_AGENT_DETAIL_MIGRATION.md
  strategy_planning/2026-02-26_interface_updates/PROPOSED_START_SIMULATION_FLOW.md
  strategy_planning/2026-02-26_interface_updates/README.md
  strategy_planning/2026-03-08_data_architecture_rules/00_architecture_distinction_riff.md
  strategy_planning/2026-03-08_data_architecture_rules/01_existing_tables_and_proposed_taxonomy.md
  strategy_planning/2026-03-08_data_architecture_rules/02_full_migration_pr_plan.md
  strategy_planning/2026-03-08_data_architecture_rules/02_proposed_prs_for_migration.md
  strategy_planning/2026-03-08_data_architecture_rules/README.md
  strategy_planning/2026-03-13_feature_extraction_api/FEATURE_EXTRACTION_API_PRD.md
Due: markdownlint

planning docs
  strategy_planning/2026-03-13_feature_extraction_api/FEATURE_EXTRACTION_API_PRD.md
  temp/2026-02-26_interface_updates/IMPLEMENT_FLOW_1_FOLLOWS.md
  temp/2026-02-26_interface_updates/PROPOSED_AGENT_DETAIL_MIGRATION.md
  temp/2026-02-26_interface_updates/PROPOSED_START_SIMULATION_FLOW.md
  temp/2026-02-26_interface_updates/README.md
  temp/2026-03-08_data_architecture_rules/00_architecture_distinction_riff.md
  temp/2026-03-08_data_architecture_rules/01_existing_tables_and_proposed_taxonomy.md
  temp/2026-03-08_data_architecture_rules/02_full_migration_pr_plan.md
  temp/2026-03-08_data_architecture_rules/02_proposed_prs_for_migration.md
  temp/2026-03-08_data_architecture_rules/README.md
Due: markdownlint

planning docs
  strategy_planning/2026-03-13_feature_extraction_api/FEATURE_EXTRACTION_API_PRD.md
Due: markdownlint

update planning
  strategy_planning/2026-03-13_feature_extraction_api/FEATURE_EXTRACTION_API_PRD.md
Due: markdownlint

Plan out the Feature Extraction API project (#210)
  strategy_planning/2026-02-26_interface_updates/IMPLEMENT_FLOW_1_FOLLOWS.md
  strategy_planning/2026-02-26_interface_updates/PROPOSED_AGENT_DETAIL_MIGRATION.md
  strategy_planning/2026-02-26_interface_updates/PROPOSED_START_SIMULATION_FLOW.md
  strategy_planning/2026-02-26_interface_updates/README.md
  strategy_planning/2026-03-08_data_architecture_rules/00_architecture_distinction_riff.md
  strategy_planning/2026-03-08_data_architecture_rules/01_existing_tables_and_proposed_taxonomy.md
  strategy_planning/2026-03-08_data_architecture_rules/02_full_migration_pr_plan.md
  strategy_planning/2026-03-08_data_architecture_rules/02_proposed_prs_for_migration.md
  strategy_planning/2026-03-08_data_architecture_rules/README.md
  strategy_planning/2026-03-13_feature_extraction_api/FEATURE_EXTRACTION_API_PRD.md
Due: markdownlint

Add 2026-03-11 feature ideas scan report (#209)
  docs/feature_ideas/2026-03-11_feature_ideas.md
Due: markdownlint

Add intern planning doc
  strategy_planning/2026-03-13_feature_extraction_api/INTERN_PROJECT_CONTRACT.md
Due: markdownlint

Add intern planning doc (#211)
  strategy_planning/2026-03-13_feature_extraction_api/INTERN_PROJECT_CONTRACT.md
Due: markdownlint

refactor print statements for clarity
  ml_tooling/ner/examples_test.py
Due: none

refactor to use ner() on a list of texts and put entities to a list of entity spans into a helper
  ml_tooling/ner/classifier.py
Due: none

fix testing program to only make 1 ner_model
  ml_tooling/ner/examples_test.py
Due: none

refactor to have type annotations for all params and make helper functions start with underscore
  ml_tooling/ner/classifier.py
Due: none

Entity recognition classifier (#208)
  .github/workflows/ci.yml
  ml_tooling/ner/classifier.py
  ml_tooling/ner/examples_test.py
  ml_tooling/ner/models.py
  pyproject.toml
Due: none

update linter + notes
  docs/architecture/seed-state-run-snapshot-turn-events.md
  scripts/lint_schema_conventions.py
  tests/lint/test_lint_schema_conventions.py
Due: markdownlint

Codify persistence scope contract (#206)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/README.md
  docs/RULES.md
  docs/architecture/seed-state-run-snapshot-turn-events.md
  docs/plans/2026-03-10_pr1_persistence_contract_55fdb4/plan.md
  scripts/lint_schema_conventions.py
  tests/lint/test_lint_schema_conventions.py
Due: markdownlint, docs-metadata

improve prompts
  docs/architecture/seed-state-run-snapshot-turn-events.md
  scripts/lint_schema_conventions.py
  tests/lint/test_lint_schema_conventions.py
Due: markdownlint

add correct CI dependency install
  .github/workflows/ci.yml
Due: none

Add immutable run agent snapshots
  ai/create_initial_agents.py
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/run_agent_adapter.py
  db/migrations/versions/6a7b8c9d0e1f_add_run_agents.py
  db/repositories/__init__.py
  db/repositories/interfaces.py
  db/repositories/run_agent_repository.py
  db/schema.py
  docs/plans/2026-03-13_pr2_run_agents_membership_812734/README.md
  simulation/api/main.py
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/factories/agent.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/models/run_agents.py
  tests/conftest.py
  tests/db/adapters/sqlite/test_run_agent_adapter.py
  tests/db/repositories/test_run_agent_repository_integration.py
  tests/factories/__init__.py
  tests/factories/run_agents.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
Due: docs-metadata

Fix run agent snapshot test setup
  tests/simulation/core/test_command_service.py
Due: none

Stabilize snapshot command service mocks
  tests/simulation/core/test_command_service.py
Due: none

Update generated schema docs for run agents
  ai/create_initial_agents.py
  db/adapters/sqlite/__init__.py
  docs/db/2026_03_13-230323-cursor__run-agents-membership-snapshot-6191/schema.md
  docs/db/2026_03_13-230323-cursor__run-agents-membership-snapshot-6191/schema.snapshot.json
  docs/db/LATEST.txt
  tests/factories/__init__.py
  tests/simulation/core/test_command_service.py
Due: markdownlint

Add seed-state agent follow edges
  db/adapters/base.py
  db/adapters/sqlite/__init__.py
  db/adapters/sqlite/agent_adapter.py
  db/adapters/sqlite/agent_follow_edge_adapter.py
  db/migrations/versions/6f2b7c8d9e1a_add_agent_follow_edges.py
  db/repositories/agent_follow_edge_repository.py
  db/repositories/agent_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  db/schema.py
  docs/db/2026_03_13-231045-cursor__agent-follow-edges-table-6ec4/schema.md
  docs/db/2026_03_13-231045-cursor__agent-follow-edges-table-6ec4/schema.snapshot.json
  docs/db/LATEST.txt
  docs/plans/2026-03-13_pr3_agent_follow_edges_593821/README.md
  simulation/api/constants.py
  simulation/api/errors.py
  simulation/api/main.py
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  simulation/api/services/agent_follows_command_service.py
  simulation/api/services/agent_follows_query_service.py
  simulation/core/models/agent_follow_edge.py
  simulation/local_dev/seed_fixtures/agent_follow_edges.json
  simulation/local_dev/seed_fixtures/user_agent_profile_metadata.json
  simulation/local_dev/seed_loader.py
  tests/api/test_simulation_agent_follows.py
  tests/conftest.py
  tests/db/repositories/test_agent_follow_edge_repository_integration.py
  tests/factories/__init__.py
  tests/factories/records.py
  tests/local_dev/test_local_mode_seed.py
Due: markdownlint, docs-metadata

Fix invalid uv extra syntax in CI workflow
  .github/workflows/ci.yml
Due: none

Add 2026-03-14 feature ideas scan report
  docs/feature_ideas/2026-03-14_feature_ideas.md
Due: markdownlint

Fix conventions in recent NER/schema commits
  ml_tooling/ner/classifier.py
  tests/lint/test_lint_schema_conventions.py
  tests/ml_tooling/ner/test_classifier.py
Due: none

Add 2026-03-14 feature ideas scan report (#218)
  docs/feature_ideas/2026-03-14_feature_ideas.md
Due: markdownlint

Fix invalid uv extra syntax in CI workflow (#217)
  .github/workflows/ci.yml
Due: none

Address CodeRabbit CI findings on PR 219
  ml_tooling/ner/classifier.py
  tests/ml_tooling/ner/test_classifier.py
Due: none

[2026-03-16] Codex repo automation - conventions (#219)
  ml_tooling/ner/classifier.py
  tests/lint/test_lint_schema_conventions.py
  tests/ml_tooling/ner/test_classifier.py
Due: none

Add run agents planning document
  docs/plans/2026-03-13_pr2_run_agents_membership_812734/plan.md
Due: docs-metadata

Clarify the runtime simulation agent model and move seed-state hydration into the core factory.
  ai/create_initial_agents.py
  feeds/algorithms/implementations/chronological.py
  feeds/algorithms/interfaces.py
  feeds/candidate_generation.py
  feeds/feed_generator.py
  feeds/feed_generator_adapter.py
  feeds/interfaces.py
  pyproject.toml
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/factories/agent.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  simulation/core/models/agents.py
  simulation/core/models/turns.py
  simulation/core/utils/validators.py
  tests/factories/agents.py
  tests/feeds/test_feed_generator.py
  tests/simulation/core/test_dependencies.py
Due: none

Update tests/db/repositories/test_run_agent_repository_integration.py
  tests/db/repositories/test_run_agent_repository_integration.py
Due: none

Update tests/factories/run_agents.py
  tests/factories/run_agents.py
Due: none

update wiring references for GeneratedBioRepository
  simulation/core/command_service.py
  simulation/core/engine.py
  simulation/core/factories/command_service.py
  simulation/core/factories/engine.py
  tests/simulation/core/conftest.py
  tests/simulation/core/test_command_service.py
  tests/simulation/core/test_dependencies.py
  tests/simulation/core/test_engine.py
Due: none

Add logic to create snapshots from existing data
  simulation/core/command_service.py
  simulation/core/factories/agent.py
  simulation/core/models/agents.py
Due: none

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$, but not: ^docs/plans/
  docs-metadata: any of: ^docs/(runbooks|plans)/.*\.md$
  oxlint: any of: ^ui/
