Repository METResearchGroup/social_agent_simulation_platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, oxlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# Ruff hooks mirror CI (.github/workflows/ci.yml): ruff check + ruff format --check
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      # Same as CI: uv run ruff check .
      - id: ruff-check
        args: [--fix]
      # Same as CI: uv run ruff format --check .
      - id: ruff-format
        args: [--check]
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint (markdownlint-cli2)
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.21.0]
        args: ["--config", ".markdownlint.yml"]
        types: [markdown]
        exclude: ^docs/plans/
      - id: complexipy
        name: complexipy
        entry: bash -lc "uv run complexipy . --max-complexity-allowed 999"
        language: system
        pass_filenames: false
      - id: pyright
        name: pyright
        entry: bash -lc "root=$(git rev-parse --show-toplevel) && cd \"$root\" && PYTHONPATH=\"$root\" uv run pyright ."
        language: system
        pass_filenames: false
      - id: oxlint
        name: oxlint + React Doctor (ui)
        entry: bash -lc "cd ui && (test -d node_modules || npm install) && npx oxlint . --react-plugin && node scripts/check-react-doctor.mjs"
        language: system
        pass_filenames: false
        files: ^ui/

ui: render algorithm config inputs
  ui/components/details/RunParametersBlock.tsx
  ui/components/form/ConfigForm.tsx
  ui/contexts/AuthContext.tsx
  ui/lib/api/simulation.ts
  ui/lib/default-config.ts
  ui/lib/run-selectors.ts
  ui/types/index.ts
Due: oxlint

Move conn manager from adapter to repository layer
  db/adapters/base.py
  db/adapters/sqlite/metrics_adapter.py
  db/adapters/sqlite/run_adapter.py
  db/repositories/metrics_repository.py
  db/repositories/run_repository.py
  docs/plans/2026-02-23_repo_managed_conn_264784/happy_flow.mmd
  docs/plans/2026-02-23_repo_managed_conn_264784/plan.md
  simulation/core/factories/engine.py
  tests/db/adapters/sqlite/test_metrics_adapter.py
  tests/db/adapters/sqlite/test_run_adapter.py
  tests/db/repositories/test_metrics_repository_integration.py
  tests/db/repositories/test_run_repository.py
  tests/db/repositories/test_run_repository_integration.py
Due: none

update
  tests/db/repositories/test_run_repository.py
  tests/db/repositories/test_run_repository_integration.py
Due: none

remove duplicate assertion + add conn assertion
  tests/db/adapters/sqlite/test_run_adapter.py
  tests/db/repositories/test_run_repository.py
Due: none

use helper func
  simulation/api/services/agent_query_service.py
Due: none

simplify docstrings
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/repositories/interfaces.py
Due: none

use helper funcs
  simulation/api/services/agent_command_service.py
Due: none

add note
  simulation/api/services/agent_command_service.py
Due: none

Refactor test fixtures to simplify common setup
  tests/conftest.py
  tests/db/adapters/sqlite/test_sqlite.py
  tests/db/repositories/conftest.py
  tests/db/repositories/test_agent_bio_repository_integration.py
  tests/db/repositories/test_agent_repository_integration.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/db/repositories/test_generated_bio_repository_integration.py
  tests/db/repositories/test_generated_feed_repository_integration.py
  tests/db/repositories/test_metrics_repository_integration.py
  tests/db/repositories/test_profile_repository_integration.py
  tests/db/repositories/test_run_repository_integration.py
  tests/db/repositories/test_user_agent_profile_metadata_repository_integration.py
  tests/jobs/test_migrate_agents_to_new_schema.py
Due: none

update docs
  AGENTS.md
  docs/plans/2026-02-23_db_test_fixtures_consolidation_56cf5a/plan.md
Due: markdownlint

Refactor test fixtures to simplify common setup (#121)
  AGENTS.md
  docs/plans/2026-02-23_db_test_fixtures_consolidation_56cf5a/plan.md
  tests/conftest.py
  tests/db/adapters/sqlite/test_sqlite.py
  tests/db/repositories/conftest.py
  tests/db/repositories/test_agent_bio_repository_integration.py
  tests/db/repositories/test_agent_repository_integration.py
  tests/db/repositories/test_feed_post_repository_integration.py
  tests/db/repositories/test_generated_bio_repository_integration.py
  tests/db/repositories/test_generated_feed_repository_integration.py
  tests/db/repositories/test_metrics_repository_integration.py
  tests/db/repositories/test_profile_repository_integration.py
  tests/db/repositories/test_run_repository_integration.py
  tests/db/repositories/test_user_agent_profile_metadata_repository_integration.py
  tests/jobs/test_migrate_agents_to_new_schema.py
Due: markdownlint

use useRef to avoid race conditions
  ui/components/agents/CreateAgentView.tsx
Due: oxlint

remove extra If conn is None logic
  db/adapters/sqlite/agent_adapter.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/feed_post_adapter.py
  db/adapters/sqlite/generated_bio_adapter.py
  db/adapters/sqlite/generated_feed_adapter.py
  db/adapters/sqlite/metrics_adapter.py
  db/adapters/sqlite/profile_adapter.py
  db/adapters/sqlite/run_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  tests/db/adapters/sqlite/test_metrics_adapter.py
  tests/db/adapters/sqlite/test_run_adapter.py
Due: none

remove extra docstrings
  db/adapters/base.py
  db/adapters/sqlite/agent_adapter.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/feed_post_adapter.py
  db/adapters/sqlite/generated_bio_adapter.py
  db/adapters/sqlite/generated_feed_adapter.py
  db/adapters/sqlite/profile_adapter.py
  db/adapters/sqlite/run_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
Due: none

Render feed algorithm config in start form
  docs/plans/2026-02-24_render_algorithm_config_inputs_834219/images/after/start-screen.png
  docs/plans/2026-02-24_render_algorithm_config_inputs_834219/images/before/start-screen.png
  feeds/algorithms/implementations/chronological.py
  feeds/algorithms/interfaces.py
  feeds/feed_generator.py
  feeds/feed_generator_adapter.py
  feeds/interfaces.py
  simulation/api/schemas/simulation.py
  simulation/api/services/run_execution_service.py
  simulation/core/command_service.py
  simulation/core/models/runs.py
  tests/api/test_feed_algorithms.py
  tests/api/test_simulation_run.py
  tests/feeds/test_feed_generator.py
  ui/components/details/RunParametersBlock.tsx
  ui/components/form/ConfigForm.tsx
  ui/lib/api/simulation.ts
  ui/lib/default-config.ts
  ui/lib/run-selectors.ts
  ui/types/index.ts
Due: oxlint

catch synchronous throws
  ui/components/agents/CreateAgentView.tsx
Due: oxlint

Fix command service turn config defaults
  simulation/core/command_service.py
  tests/simulation/core/test_command_service.py
Due: none

Align ruff pre-commit with CI
  .pre-commit-config.yaml
  tests/simulation/core/test_command_service.py
Due: none

Add batch fetch API for list_agents
  db/adapters/base.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/repositories/agent_bio_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  simulation/api/services/agent_query_service.py
Due: none

Make algorithm settings collapsible
  docs/plans/2026-02-24_render_algorithm_config_inputs_834219/images/after/start-screen.png
  ui/components/form/ConfigForm.tsx
Due: oxlint

Add metrics metadata to the API
  docs/plans/2026-02-23_metrics_metadata_api_9c4e2a/plan.md
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  simulation/core/metrics/defaults.py
  tests/api/test_metrics.py
Due: none

Refactor ConfigForm helpers into modules
  ui/components/form/AlgorithmSettingsSection.tsx
  ui/components/form/ConfigForm.tsx
  ui/components/form/config-schema.ts
Due: oxlint

Deduplicate simulation run API test setup
  tests/api/test_simulation_run.py
Due: none

update comments + merge conflict bugs
  db/adapters/base.py
  db/adapters/sqlite/agent_bio_adapter.py
Due: none

update docstring
  db/repositories/interfaces.py
Due: none

add proper DI for repo
  simulation/api/services/agent_command_service.py
  simulation/api/services/agent_query_service.py
Due: none

Use typed feed_algorithm_config access
  simulation/core/command_service.py
  tests/simulation/core/test_command_service.py
Due: none

Extract algorithm config block
  ui/components/details/RunParametersBlock.tsx
Due: oxlint

Render feed algorithm config inputs (#122)
  .pre-commit-config.yaml
  docs/plans/2026-02-24_render_algorithm_config_inputs_834219/images/after/start-screen.png
  docs/plans/2026-02-24_render_algorithm_config_inputs_834219/images/before/start-screen.png
  feeds/algorithms/implementations/chronological.py
  feeds/algorithms/interfaces.py
  feeds/feed_generator.py
  feeds/feed_generator_adapter.py
  feeds/interfaces.py
  simulation/api/schemas/simulation.py
  simulation/api/services/run_execution_service.py
  simulation/core/command_service.py
  simulation/core/models/runs.py
  tests/api/test_feed_algorithms.py
  tests/api/test_simulation_run.py
  tests/feeds/test_feed_generator.py
  tests/simulation/core/test_command_service.py
  ui/components/details/RunParametersBlock.tsx
  ui/components/form/AlgorithmSettingsSection.tsx
  ui/components/form/ConfigForm.tsx
  ui/components/form/config-schema.ts
  ui/lib/api/simulation.ts
  ui/lib/default-config.ts
  ui/lib/run-selectors.ts
  ui/types/index.ts
Due: oxlint

Add metrics metadata to the API (#124)
  docs/plans/2026-02-23_metrics_metadata_api_9c4e2a/plan.md
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
  simulation/core/metrics/defaults.py
  tests/api/test_metrics.py
Due: none

nit: add enum
  simulation/api/routes/simulation.py
  simulation/api/schemas/simulation.py
Due: none

add plan
  docs/plans/2026-02-23_list_agents_batch_fetch_n1_a1b2c3/list_agents_batch_fetch_n1.plan.md
Due: none

add endpoint rate limiting
  lib/rate_limiting.py
  simulation/api/routes/simulation.py
Due: none

update for noUnsafeFinally rule
  ui/hooks/useSimulationPageState.ts
Due: oxlint

Add post previews for comment actions
  docs/plans/2026-02-24_agentdetail_comment_post_previews_482913/images/after/run-details-comments-expanded.png
  docs/plans/2026-02-24_agentdetail_comment_post_previews_482913/images/before/run-details-comments-expanded.png
  ui/components/agents/AgentsView.tsx
  ui/components/details/AgentDetail.tsx
  ui/components/details/DetailsPanel.tsx
Due: oxlint

update docs
  docs/RULES.md
Due: markdownlint

Add batch fetch for list agents (#123)
  db/adapters/base.py
  db/adapters/sqlite/agent_bio_adapter.py
  db/adapters/sqlite/user_agent_profile_metadata_adapter.py
  db/repositories/agent_bio_repository.py
  db/repositories/interfaces.py
  db/repositories/user_agent_profile_metadata_repository.py
  docs/RULES.md
  docs/plans/2026-02-23_list_agents_batch_fetch_n1_a1b2c3/list_agents_batch_fetch_n1.plan.md
  lib/rate_limiting.py
  simulation/api/routes/simulation.py
  simulation/api/services/agent_command_service.py
  simulation/api/services/agent_query_service.py
  ui/components/agents/CreateAgentView.tsx
  ui/hooks/useSimulationPageState.ts
Due: markdownlint, oxlint

Add post previews for comment actions (#125)
  docs/plans/2026-02-24_agentdetail_comment_post_previews_482913/images/after/run-details-comments-expanded.png
  docs/plans/2026-02-24_agentdetail_comment_post_previews_482913/images/before/run-details-comments-expanded.png
  ui/components/agents/AgentsView.tsx
  ui/components/details/AgentDetail.tsx
  ui/components/details/DetailsPanel.tsx
Due: oxlint
